.MODEL SMALL
.STACK  00100h

.DATA
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 00dh, 00ah
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 044h, 065h, 062h, 075h, 067h, 020h, 06dh, 065h, 073h, 073h, 061h, 067h, 065h, 00dh, 00ah
    db  024h, 02fh, 03fh, 000h, 02fh, 068h, 000h, 02fh, 048h, 000h, 02dh, 068h, 000h, 02dh, 048h, 000h
    db  02dh, 02dh, 068h, 065h, 06ch, 070h, 000h, 050h, 072h, 065h, 073h, 073h, 020h, 061h, 06eh, 079h
    db  020h, 06bh, 065h, 079h, 020h, 074h, 06fh, 020h, 063h, 06fh, 06eh, 074h, 069h, 06eh, 075h, 065h
    db  02eh, 02eh, 02eh, 024h, 00dh, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 00dh, 024h, 00ah, 045h, 052h, 052h, 04fh, 052h, 03ah, 020h, 024h, 046h
    db  061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 06fh, 070h, 065h, 06eh, 020h, 066h, 069h
    db  06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh
    db  020h, 063h, 072h, 065h, 061h, 074h, 065h, 020h, 066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah
    db  024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 072h, 065h, 061h, 064h, 020h
    db  066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h
    db  074h, 06fh, 020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 066h, 069h, 06ch, 065h
    db  021h, 00dh, 00ah, 00ah, 024h, 050h, 061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 020h
    db  061h, 072h, 065h, 020h, 06eh, 06fh, 074h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h
    db  064h, 021h, 00dh, 00ah, 00ah, 024h, 054h, 06fh, 06fh, 020h, 06dh, 061h, 06eh, 079h, 020h, 070h
    db  061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 021h, 00dh, 00ah, 00ah, 024h, 049h, 06eh
    db  076h, 061h, 06ch, 069h, 064h, 020h, 06ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 021h, 020h, 043h, 061h, 06eh, 027h, 074h, 020h, 068h, 061h, 076h, 065h, 020h, 073h, 079h
    db  06dh, 062h, 06fh, 06ch, 073h, 020h, 06fh, 072h, 020h, 06eh, 075h, 06dh, 062h, 065h, 072h, 020h
    db  065h, 071h, 075h, 061h, 06ch, 020h, 074h, 06fh, 020h, 07ah, 065h, 072h, 06fh, 021h, 021h, 021h
    db  00dh, 00ah, 00ah, 024h, 04ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 020h
    db  069h, 073h, 020h, 074h, 06fh, 06fh, 020h, 062h, 069h, 067h, 021h, 020h, 053h, 068h, 06fh, 075h
    db  06ch, 064h, 020h, 062h, 065h, 020h, 032h, 035h, 035h, 020h, 06fh, 072h, 020h, 06ch, 065h, 073h
    db  073h, 021h, 021h, 021h, 00dh, 00ah, 00ah, 024h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 041h, 04dh, 045h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 020h, 053h, 070h
    db  06ch, 069h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h, 06ch, 065h, 020h, 069h, 06eh
    db  074h, 06fh, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 06fh, 066h, 020h, 073h, 070h, 065h, 063h
    db  069h, 066h, 069h, 065h, 064h, 020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h
    db  020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 061h, 020h, 06eh, 065h, 077h, 020h
    db  066h, 069h, 06ch, 065h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 053h, 059h, 04eh, 04fh, 050h, 053h
    db  049h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 04dh, 041h, 058h, 05fh
    db  04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 020h, 04fh, 055h, 054h, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 03fh, 00dh, 00ah, 00dh, 00ah, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 068h, 00dh, 00ah, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 048h
    db  00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 02dh, 068h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh
    db  074h, 072h, 061h, 020h, 02dh, 048h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 02dh, 068h, 065h, 06ch, 070h, 00dh, 00ah, 00dh
    db  00ah, 024h, 044h, 045h, 053h, 043h, 052h, 049h, 050h, 054h, 049h, 04fh, 04eh, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 072h, 065h, 061h, 064h
    db  073h, 020h, 074h, 068h, 065h, 020h, 063h, 06fh, 06eh, 074h, 065h, 06eh, 074h, 073h, 020h, 06fh
    db  066h, 020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 061h, 06eh, 064h
    db  020h, 073h, 070h, 06ch, 069h, 074h, 073h, 020h, 069h, 074h, 073h, 020h, 074h, 065h, 078h, 074h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 069h, 06eh, 074h, 06fh, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 02ch, 020h, 065h, 06eh, 073h, 075h, 072h, 069h, 06eh, 067h, 020h, 065h, 061h
    db  063h, 068h, 020h, 06ch, 069h, 06eh, 065h, 020h, 064h, 06fh, 065h, 073h, 020h, 06eh, 06fh, 074h
    db  020h, 065h, 078h, 063h, 065h, 065h, 064h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h
    db  05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh, 020h, 054h, 068h, 065h, 020h
    db  06fh, 075h, 074h, 070h, 075h, 074h, 020h, 069h, 073h, 020h, 077h, 072h, 069h, 074h, 074h, 065h
    db  06eh, 020h, 074h, 06fh, 020h, 04fh, 055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h
    db  02ch, 020h, 077h, 069h, 074h, 068h, 020h, 065h, 061h, 063h, 068h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 06ch, 069h, 06eh, 065h, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 074h
    db  065h, 064h, 020h, 061h, 063h, 063h, 06fh, 072h, 064h, 069h, 06eh, 067h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 064h, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 045h, 078h, 061h, 06dh, 070h, 06ch, 065h, 03ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 066h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 073h, 020h
    db  061h, 020h, 06ch, 06fh, 06eh, 067h, 020h, 062h, 06ch, 06fh, 063h, 06bh, 020h, 06fh, 066h, 020h
    db  074h, 065h, 078h, 074h, 02ch, 020h, 072h, 075h, 06eh, 06eh, 069h, 06eh, 067h, 03ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h, 074h
    db  020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 077h, 069h, 06ch, 06ch, 020h
    db  063h, 072h, 065h, 061h, 074h, 065h, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  02ch, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h, 06eh
    db  065h, 020h, 069h, 073h, 020h, 06eh, 06fh, 020h, 06ch, 06fh, 06eh, 067h, 065h, 072h, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 074h, 068h
    db  061h, 06eh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h
    db  02ch, 020h, 062h, 061h, 073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 069h
    db  06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 069h, 06eh, 020h, 027h, 064h, 075h
    db  06fh, 06dh, 02eh, 074h, 078h, 074h, 027h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04fh, 050h, 054h
    db  049h, 04fh, 04eh, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 04eh, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h
    db  020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h, 074h, 068h, 065h
    db  020h, 066h, 069h, 06ch, 065h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 069h, 06eh, 067h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  074h, 068h, 065h, 020h, 074h, 065h, 078h, 074h, 020h, 074h, 06fh, 020h, 062h, 065h, 020h, 070h
    db  072h, 06fh, 063h, 065h, 073h, 073h, 065h, 064h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h
    db  048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 06dh
    db  061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 061h, 06ch, 06ch, 06fh, 077h, 065h, 064h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 020h, 06fh, 066h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h
    db  06eh, 065h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 069h, 06eh, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh
    db  020h, 04ch, 069h, 06eh, 065h, 073h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h, 065h, 020h, 077h
    db  072h, 061h, 070h, 070h, 065h, 064h, 020h, 061h, 074h, 020h, 074h, 068h, 069h, 073h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 04fh
    db  055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h
    db  069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 066h, 069h, 06ch, 065h, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 074h
    db  068h, 065h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 028h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  074h, 065h, 064h, 020h, 074h, 065h, 078h, 074h, 029h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h
    db  065h, 020h, 073h, 061h, 076h, 065h, 064h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 04fh, 054h
    db  045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 070h, 072h, 06fh, 067h, 072h, 061h, 06dh, 020h, 072h, 065h, 061h, 064h, 073h, 020h, 074h
    db  068h, 065h, 020h, 069h, 06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h
    db  06ch, 065h, 020h, 061h, 06eh, 064h, 020h, 062h, 072h, 065h, 061h, 06bh, 073h, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 062h, 061h
    db  073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h
    db  066h, 069h, 065h, 064h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 020h, 06ch
    db  069h, 06dh, 069h, 074h, 02ch, 020h, 069h, 066h, 020h, 070h, 06fh, 073h, 073h, 069h, 062h, 06ch
    db  065h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 069h, 06eh, 070h, 075h, 074h, 020h, 061h, 06eh, 064h, 020h, 06fh, 075h, 074h, 070h, 075h
    db  074h, 020h, 066h, 069h, 06ch, 065h, 020h, 070h, 061h, 074h, 068h, 073h, 020h, 073h, 068h, 06fh
    db  075h, 06ch, 064h, 020h, 062h, 065h, 020h, 070h, 072h, 06fh, 076h, 069h, 064h, 065h, 064h, 020h
    db  077h, 069h, 074h, 068h, 020h, 061h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06fh, 066h, 020h, 032h, 035h, 035h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h
    db  054h, 068h, 065h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh
    db  047h, 054h, 048h, 020h, 073h, 068h, 06fh, 075h, 06ch, 064h, 020h, 062h, 065h, 020h, 061h, 020h
    db  070h, 06fh, 073h, 069h, 074h, 069h, 076h, 065h, 020h, 069h, 06eh, 074h, 065h, 067h, 065h, 072h
    db  02ch, 020h, 074h, 079h, 070h, 069h, 063h, 061h, 06ch, 06ch, 079h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 06eh, 06fh, 074h, 020h, 067h, 072h, 065h, 061h, 074h, 065h
    db  072h, 020h, 074h, 068h, 061h, 06eh, 020h, 032h, 035h, 035h, 073h, 02eh, 00dh, 00ah, 00dh, 00ah
    db  024h, 045h, 058h, 041h, 04dh, 050h, 04ch, 045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h
    db  073h, 020h, 075h, 070h, 020h, 074h, 06fh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h
    db  063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h, 020h, 073h, 061h, 076h, 065h
    db  020h, 069h, 074h, 020h, 074h, 06fh, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h
    db  074h, 020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  020h, 061h, 020h, 064h, 069h, 066h, 066h, 065h, 072h, 065h, 06eh, 074h, 020h, 066h, 069h, 06ch
    db  065h, 02ch, 020h, 027h, 069h, 06eh, 070h, 075h, 074h, 02eh, 074h, 078h, 074h, 027h, 02ch, 020h
    db  077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 075h, 070h, 020h, 074h, 06fh
    db  020h, 031h, 030h, 030h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 063h, 068h, 061h
    db  072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 069h, 06eh, 070h, 075h, 074h, 02eh
    db  074h, 078h, 074h, 020h, 031h, 030h, 030h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 02eh, 074h
    db  078h, 074h, 00dh, 00ah, 00dh, 00ah, 024h, 041h, 055h, 054h, 048h, 04fh, 052h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 057h, 072h, 069h, 074h, 074h, 065h, 06eh, 020h, 062h, 079h
    db  020h, 052h, 06fh, 06bh, 061h, 073h, 020h, 042h, 072h, 061h, 069h, 064h, 06fh, 06bh, 061h, 073h
    db  02eh, 00dh, 00ah, 00dh, 00ah, 024h, 043h, 04fh, 050h, 059h, 052h, 049h, 047h, 048h, 054h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 043h, 06fh, 070h, 079h, 072h, 069h, 067h, 068h
    db  074h, 020h, 032h, 030h, 032h, 034h, 020h, 056h, 055h, 02eh, 00dh, 00ah, 024h
.CODE
;;  SCANNING...
;;           code byte in file : 00000h00200h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 050h
place_00200h:
    push    ax
;;           code byte in file : 00000h00201h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;                      opcode : 052h
place_00201h:
    push    dx
;;           code byte in file : 00000h00202h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;                      opcode : 0b4h
place_00202h:
    mov     ah, 009h
;;           code byte in file : 00000h00204h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;                      opcode : 0bah
place_00204h:
    mov     dx, 00461h
;;           code byte in file : 00000h00207h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;                      opcode : 0cdh
place_00207h:
    int     021h
;;           code byte in file : 00000h00209h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00009h
;;                 si register : 0020bh
;;                      opcode : 0e8h
place_00209h:
    call    place_002aah
;;           code byte in file : 00000h0020ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ch
;;                 si register : 0020eh
;;                      opcode : 05ah
place_0020ch:
    pop     dx
;;           code byte in file : 00000h0020dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000dh
;;                 si register : 0020fh
;;                      opcode : 058h
place_0020dh:
    pop     ax
;;           code byte in file : 00000h0020eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000eh
;;                 si register : 00210h
;;                      opcode : 0c3h
place_0020eh:
    ret     
;;           code byte in file : 00000h0020fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;                      opcode : 0b4h
place_0020fh:
    mov     ah, 03eh
;;           code byte in file : 00000h00211h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;                      opcode : 08bh
place_00211h:
    mov     bx, word ptr [ 001feh ]
;;           code byte in file : 00000h00215h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;                      opcode : 0cdh
place_00215h:
    int     021h
;;           code byte in file : 00000h00217h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00017h
;;                 si register : 00219h
;;                      opcode : 08bh
place_00217h:
    mov     bx, word ptr [ 00200h ]
;;           code byte in file : 00000h0021bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001bh
;;                 si register : 0021dh
;;                      opcode : 0cdh
place_0021bh:
    int     021h
;;           code byte in file : 00000h0021dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;                      opcode : 0b8h
place_0021dh:
    mov     ax, 04c00h
;;           code byte in file : 00000h00220h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;                      opcode : 0cdh
place_00220h:
    int     021h
;;           code byte in file : 00000h00222h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00022h
;;                 si register : 00224h
;;                      opcode : 050h
place_00222h:
    push    ax
;;           code byte in file : 00000h00223h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;                      opcode : 052h
place_00223h:
    push    dx
;;           code byte in file : 00000h00224h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;                      opcode : 0b4h
place_00224h:
    mov     ah, 009h
;;           code byte in file : 00000h00226h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00026h
;;                 si register : 00228h
;;                      opcode : 0bah
place_00226h:
    mov     dx, 004c6h
;;           code byte in file : 00000h00229h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;                      opcode : 0cdh
place_00229h:
    int     021h
;;           code byte in file : 00000h0022bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;                      opcode : 0bah
place_0022bh:
    mov     dx, 004cfh
;;           code byte in file : 00000h0022eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002eh
;;                 si register : 00230h
;;                      opcode : 0cdh
place_0022eh:
    int     021h
;;           code byte in file : 00000h00230h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00030h
;;                 si register : 00232h
;;                      opcode : 05ah
place_00230h:
    pop     dx
;;           code byte in file : 00000h00231h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00031h
;;                 si register : 00233h
;;                      opcode : 058h
place_00231h:
    pop     ax
;;           code byte in file : 00000h00232h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;                      opcode : 0c3h
place_00232h:
    ret     
;;           code byte in file : 00000h00233h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00033h
;;                 si register : 00235h
;;                      opcode : 050h
place_00233h:
    push    ax
;;           code byte in file : 00000h00234h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00034h
;;                 si register : 00236h
;;                      opcode : 052h
place_00234h:
    push    dx
;;           code byte in file : 00000h00235h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;                      opcode : 0b4h
place_00235h:
    mov     ah, 009h
;;           code byte in file : 00000h00237h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;                      opcode : 0bah
place_00237h:
    mov     dx, 004c6h
;;           code byte in file : 00000h0023ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003ah
;;                 si register : 0023ch
;;                      opcode : 0cdh
place_0023ah:
    int     021h
;;           code byte in file : 00000h0023ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003ch
;;                 si register : 0023eh
;;                      opcode : 0bah
place_0023ch:
    mov     dx, 004e7h
;;           code byte in file : 00000h0023fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003fh
;;                 si register : 00241h
;;                      opcode : 0cdh
place_0023fh:
    int     021h
;;           code byte in file : 00000h00241h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;                      opcode : 05ah
place_00241h:
    pop     dx
;;           code byte in file : 00000h00242h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00042h
;;                 si register : 00244h
;;                      opcode : 058h
place_00242h:
    pop     ax
;;           code byte in file : 00000h00243h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;                      opcode : 0c3h
place_00243h:
    ret     
;;           code byte in file : 00000h00244h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00044h
;;                 si register : 00246h
;;                      opcode : 050h
place_00244h:
    push    ax
;;           code byte in file : 00000h00245h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;                      opcode : 052h
place_00245h:
    push    dx
;;           code byte in file : 00000h00246h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;                      opcode : 0b4h
place_00246h:
    mov     ah, 009h
;;           code byte in file : 00000h00248h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;                      opcode : 0bah
place_00248h:
    mov     dx, 004c6h
;;           code byte in file : 00000h0024bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;                      opcode : 0cdh
place_0024bh:
    int     021h
;;           code byte in file : 00000h0024dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;                      opcode : 0bah
place_0024dh:
    mov     dx, 00501h
;;           code byte in file : 00000h00250h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;                      opcode : 0cdh
place_00250h:
    int     021h
;;           code byte in file : 00000h00252h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00052h
;;                 si register : 00254h
;;                      opcode : 05ah
place_00252h:
    pop     dx
;;           code byte in file : 00000h00253h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00053h
;;                 si register : 00255h
;;                      opcode : 058h
place_00253h:
    pop     ax
;;           code byte in file : 00000h00254h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00054h
;;                 si register : 00256h
;;                      opcode : 0c3h
place_00254h:
    ret     
;;           code byte in file : 00000h00255h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 050h
place_00255h:
    push    ax
;;           code byte in file : 00000h00256h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;                      opcode : 052h
place_00256h:
    push    dx
;;           code byte in file : 00000h00257h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;                      opcode : 0b4h
place_00257h:
    mov     ah, 009h
;;           code byte in file : 00000h00259h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00059h
;;                 si register : 0025bh
;;                      opcode : 0bah
place_00259h:
    mov     dx, 004c6h
;;           code byte in file : 00000h0025ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005ch
;;                 si register : 0025eh
;;                      opcode : 0cdh
place_0025ch:
    int     021h
;;           code byte in file : 00000h0025eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005eh
;;                 si register : 00260h
;;                      opcode : 0bah
place_0025eh:
    mov     dx, 00519h
;;           code byte in file : 00000h00261h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;                      opcode : 0cdh
place_00261h:
    int     021h
;;           code byte in file : 00000h00263h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;                      opcode : 05ah
place_00263h:
    pop     dx
;;           code byte in file : 00000h00264h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00064h
;;                 si register : 00266h
;;                      opcode : 058h
place_00264h:
    pop     ax
;;           code byte in file : 00000h00265h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;                      opcode : 0c3h
place_00265h:
    ret     
;;           code byte in file : 00000h00266h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00066h
;;                 si register : 00268h
;;                      opcode : 050h
place_00266h:
    push    ax
;;           code byte in file : 00000h00267h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00067h
;;                 si register : 00269h
;;                      opcode : 052h
place_00267h:
    push    dx
;;           code byte in file : 00000h00268h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;                      opcode : 0b4h
place_00268h:
    mov     ah, 009h
;;           code byte in file : 00000h0026ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;                      opcode : 0bah
place_0026ah:
    mov     dx, 004c6h
;;           code byte in file : 00000h0026dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;                      opcode : 0cdh
place_0026dh:
    int     021h
;;           code byte in file : 00000h0026fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006fh
;;                 si register : 00271h
;;                      opcode : 0bah
place_0026fh:
    mov     dx, 00535h
;;           code byte in file : 00000h00272h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;                      opcode : 0cdh
place_00272h:
    int     021h
;;           code byte in file : 00000h00274h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00074h
;;                 si register : 00276h
;;                      opcode : 05ah
place_00274h:
    pop     dx
;;           code byte in file : 00000h00275h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00075h
;;                 si register : 00277h
;;                      opcode : 058h
place_00275h:
    pop     ax
;;           code byte in file : 00000h00276h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;                      opcode : 0c3h
place_00276h:
    ret     
;;           code byte in file : 00000h00277h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00077h
;;                 si register : 00279h
;;                      opcode : 050h
place_00277h:
    push    ax
;;           code byte in file : 00000h00278h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00078h
;;                 si register : 0027ah
;;                      opcode : 052h
place_00278h:
    push    dx
;;           code byte in file : 00000h00279h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 0b4h
place_00279h:
    mov     ah, 009h
;;           code byte in file : 00000h0027bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;                      opcode : 0bah
place_0027bh:
    mov     dx, 004c6h
;;           code byte in file : 00000h0027eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;                      opcode : 0cdh
place_0027eh:
    int     021h
;;           code byte in file : 00000h00280h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00080h
;;                 si register : 00282h
;;                      opcode : 0bah
place_00280h:
    mov     dx, 00556h
;;           code byte in file : 00000h00283h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;                      opcode : 0cdh
place_00283h:
    int     021h
;;           code byte in file : 00000h00285h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00085h
;;                 si register : 00287h
;;                      opcode : 05ah
place_00285h:
    pop     dx
;;           code byte in file : 00000h00286h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00086h
;;                 si register : 00288h
;;                      opcode : 058h
place_00286h:
    pop     ax
;;           code byte in file : 00000h00287h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;                      opcode : 0c3h
place_00287h:
    ret     
;;           code byte in file : 00000h00288h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;                      opcode : 050h
place_00288h:
    push    ax
;;           code byte in file : 00000h00289h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;                      opcode : 052h
place_00289h:
    push    dx
;;           code byte in file : 00000h0028ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 0b4h
place_0028ah:
    mov     ah, 009h
;;           code byte in file : 00000h0028ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;                      opcode : 0bah
place_0028ch:
    mov     dx, 004c6h
;;           code byte in file : 00000h0028fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;                      opcode : 0cdh
place_0028fh:
    int     021h
;;           code byte in file : 00000h00291h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00091h
;;                 si register : 00293h
;;                      opcode : 0bah
place_00291h:
    mov     dx, 0056eh
;;           code byte in file : 00000h00294h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;                      opcode : 0cdh
place_00294h:
    int     021h
;;           code byte in file : 00000h00296h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00096h
;;                 si register : 00298h
;;                      opcode : 05ah
place_00296h:
    pop     dx
;;           code byte in file : 00000h00297h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00097h
;;                 si register : 00299h
;;                      opcode : 058h
place_00297h:
    pop     ax
;;           code byte in file : 00000h00298h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00098h
;;                 si register : 0029ah
;;                      opcode : 0c3h
place_00298h:
    ret     
;;           code byte in file : 00000h00299h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;                      opcode : 050h
place_00299h:
    push    ax
;;           code byte in file : 00000h0029ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;                      opcode : 052h
place_0029ah:
    push    dx
;;           code byte in file : 00000h0029bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;                      opcode : 0b4h
place_0029bh:
    mov     ah, 009h
;;           code byte in file : 00000h0029dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009dh
;;                 si register : 0029fh
;;                      opcode : 0bah
place_0029dh:
    mov     dx, 004c6h
;;           code byte in file : 00000h002a0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;                      opcode : 0cdh
place_002a0h:
    int     021h
;;           code byte in file : 00000h002a2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a2h
;;                 si register : 002a4h
;;                      opcode : 0bah
place_002a2h:
    mov     dx, 005b4h
;;           code byte in file : 00000h002a5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a5h
;;                 si register : 002a7h
;;                      opcode : 0cdh
place_002a5h:
    int     021h
;;           code byte in file : 00000h002a7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;                      opcode : 05ah
place_002a7h:
    pop     dx
;;           code byte in file : 00000h002a8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;                      opcode : 058h
place_002a8h:
    pop     ax
;;           code byte in file : 00000h002a9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;                      opcode : 0c3h
place_002a9h:
    ret     
;;           code byte in file : 00000h002aah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 050h
place_002aah:
    push    ax
;;           code byte in file : 00000h002abh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000abh
;;                 si register : 002adh
;;                      opcode : 052h
place_002abh:
    push    dx
;;           code byte in file : 00000h002ach
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;                      opcode : 0b4h
place_002ach:
    mov     ah, 009h
;;           code byte in file : 00000h002aeh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;                      opcode : 0bah
place_002aeh:
    mov     dx, 00487h
;;           code byte in file : 00000h002b1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;                      opcode : 0cdh
place_002b1h:
    int     021h
;;           code byte in file : 00000h002b3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;                      opcode : 0b4h
place_002b3h:
    mov     ah, 008h
;;           code byte in file : 00000h002b5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;                      opcode : 0cdh
place_002b5h:
    int     021h
;;           code byte in file : 00000h002b7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b7h
;;                 si register : 002b9h
;;                      opcode : 0b4h
place_002b7h:
    mov     ah, 009h
;;           code byte in file : 00000h002b9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b9h
;;                 si register : 002bbh
;;                      opcode : 0bah
place_002b9h:
    mov     dx, 004a4h
;;           code byte in file : 00000h002bch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bch
;;                 si register : 002beh
;;                      opcode : 0cdh
place_002bch:
    int     021h
;;           code byte in file : 00000h002beh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000beh
;;                 si register : 002c0h
;;                      opcode : 05ah
place_002beh:
    pop     dx
;;           code byte in file : 00000h002bfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bfh
;;                 si register : 002c1h
;;                      opcode : 058h
place_002bfh:
    pop     ax
;;           code byte in file : 00000h002c0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c0h
;;                 si register : 002c2h
;;                      opcode : 0c3h
place_002c0h:
    ret     
;;           code byte in file : 00000h002c1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;                      opcode : 050h
place_002c1h:
    push    ax
;;           code byte in file : 00000h002c2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;                      opcode : 052h
place_002c2h:
    push    dx
;;           code byte in file : 00000h002c3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;                      opcode : 0b4h
place_002c3h:
    mov     ah, 009h
;;           code byte in file : 00000h002c5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c5h
;;                 si register : 002c7h
;;                      opcode : 0bah
place_002c5h:
    mov     dx, 005e8h
;;           code byte in file : 00000h002c8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;                      opcode : 0cdh
place_002c8h:
    int     021h
;;           code byte in file : 00000h002cah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cah
;;                 si register : 002cch
;;                      opcode : 0bah
place_002cah:
    mov     dx, 00639h
;;           code byte in file : 00000h002cdh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;                      opcode : 0cdh
place_002cdh:
    int     021h
;;           code byte in file : 00000h002cfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cfh
;;                 si register : 002d1h
;;                      opcode : 0e8h
place_002cfh:
    call    place_002aah
;;           code byte in file : 00000h002d2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;                      opcode : 0bah
place_002d2h:
    mov     dx, 006aah
;;           code byte in file : 00000h002d5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;                      opcode : 0cdh
place_002d5h:
    int     021h
;;           code byte in file : 00000h002d7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d7h
;;                 si register : 002d9h
;;                      opcode : 0e8h
place_002d7h:
    call    place_002aah
;;           code byte in file : 00000h002dah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;                      opcode : 0bah
place_002dah:
    mov     dx, 00762h
;;           code byte in file : 00000h002ddh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;                      opcode : 0cdh
place_002ddh:
    int     021h
;;           code byte in file : 00000h002dfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dfh
;;                 si register : 002e1h
;;                      opcode : 0e8h
place_002dfh:
    call    place_002aah
;;           code byte in file : 00000h002e2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;                      opcode : 0bah
place_002e2h:
    mov     dx, 0087ah
;;           code byte in file : 00000h002e5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e5h
;;                 si register : 002e7h
;;                      opcode : 0cdh
place_002e5h:
    int     021h
;;           code byte in file : 00000h002e7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e7h
;;                 si register : 002e9h
;;                      opcode : 0e8h
place_002e7h:
    call    place_002aah
;;           code byte in file : 00000h002eah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000eah
;;                 si register : 002ech
;;                      opcode : 0bah
place_002eah:
    mov     dx, 0098dh
;;           code byte in file : 00000h002edh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000edh
;;                 si register : 002efh
;;                      opcode : 0cdh
place_002edh:
    int     021h
;;           code byte in file : 00000h002efh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000efh
;;                 si register : 002f1h
;;                      opcode : 0e8h
place_002efh:
    call    place_002aah
;;           code byte in file : 00000h002f2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f2h
;;                 si register : 002f4h
;;                      opcode : 0bah
place_002f2h:
    mov     dx, 00b2dh
;;           code byte in file : 00000h002f5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f5h
;;                 si register : 002f7h
;;                      opcode : 0cdh
place_002f5h:
    int     021h
;;           code byte in file : 00000h002f7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f7h
;;                 si register : 002f9h
;;                      opcode : 0e8h
place_002f7h:
    call    place_002aah
;;           code byte in file : 00000h002fah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;                      opcode : 0bah
place_002fah:
    mov     dx, 00c91h
;;           code byte in file : 00000h002fdh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fdh
;;                 si register : 002ffh
;;                      opcode : 0cdh
place_002fdh:
    int     021h
;;  SCANNING...
;;           code byte in file : 00000h002ffh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 0e8h
place_002ffh:
    call    place_002aah
;;           code byte in file : 00000h00302h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;                      opcode : 0bah
place_00302h:
    mov     dx, 00dc7h
;;           code byte in file : 00000h00305h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00006h
;;                 si register : 00208h
;;                      opcode : 0cdh
place_00305h:
    int     021h
;;           code byte in file : 00000h00307h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00008h
;;                 si register : 0020ah
;;                      opcode : 0e8h
place_00307h:
    call    place_002aah
;;           code byte in file : 00000h0030ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;                      opcode : 0bah
place_0030ah:
    mov     dx, 00df6h
;;           code byte in file : 00000h0030dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000eh
;;                 si register : 00210h
;;                      opcode : 0cdh
place_0030dh:
    int     021h
;;           code byte in file : 00000h0030fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;                      opcode : 05ah
place_0030fh:
    pop     dx
;;           code byte in file : 00000h00310h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;                      opcode : 058h
place_00310h:
    pop     ax
;;           code byte in file : 00000h00311h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;                      opcode : 0c3h
place_00311h:
    ret     
;;           code byte in file : 00000h00312h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;                      opcode : 050h
place_00312h:
    push    ax
;;           code byte in file : 00000h00313h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00014h
;;                 si register : 00216h
;;                      opcode : 057h
place_00313h:
    push    di
;;           code byte in file : 00000h00314h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;                      opcode : 056h
place_00314h:
    push    si
;;           code byte in file : 00000h00315h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;                      opcode : 026h
place_00315h:

;;           code byte in file : 00000h00316h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00017h
;;                 si register : 00219h
;;                      opcode : 08ah
place_00316h:
    mov     al, byte ptr es:[ di ]
;;           code byte in file : 00000h00318h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00019h
;;                 si register : 0021bh
;;                      opcode : 03ah
place_00318h:
; 000h000h004h
    cmp     al, byte ptr [ si ]
;;           code byte in file : 00000h0031ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001bh
;;                 si register : 0021dh
;;                      opcode : 075h
place_0031ah:
    jne     place_00345h
;;           code byte in file : 00000h0031ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;                      opcode : 046h
place_0031ch:
    inc     si
;;           code byte in file : 00000h0031dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001eh
;;                 si register : 00220h
;;                      opcode : 047h
place_0031dh:
    inc     di
;;           code byte in file : 00000h0031eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001fh
;;                 si register : 00221h
;;                      opcode : 080h
place_0031eh:
    cmp     byte ptr [ si ], 000h
;;           code byte in file : 00000h00321h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00022h
;;                 si register : 00224h
;;                      opcode : 074h
place_00321h:
    je      place_0032dh
;;           code byte in file : 00000h00323h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;                      opcode : 026h
place_00323h:

;;           code byte in file : 00000h00324h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00025h
;;                 si register : 00227h
;;                      opcode : 080h
place_00324h:
    cmp     byte ptr es:[ di ], 000h
;;           code byte in file : 00000h00327h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00028h
;;                 si register : 0022ah
;;                      opcode : 074h
place_00327h:
    je      place_00345h
;;           code byte in file : 00000h00329h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;                      opcode : 0ebh
place_00329h:
; UNKNOWN instruction
;;           code byte in file : 00000h0032ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;                      opcode : 0eah
place_0032ah:
    jmp     08356h
;;           code byte in file : 00000h0032dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002eh
;;                 si register : 00230h
;;                      opcode : 03dh
place_0032dh:
    cmp     ax, 07400h
;;           code byte in file : 00000h00330h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00031h
;;                 si register : 00233h
;;                      opcode : 00fh
place_00330h:

; UNKNOWN instruction
;;           code byte in file : 00000h00331h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;                      opcode : 026h
place_00331h:

;;           code byte in file : 00000h00332h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00033h
;;                 si register : 00235h
;;                      opcode : 080h
place_00332h:
    cmp     byte ptr es:[ di ], 00dh
;;           code byte in file : 00000h00335h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00036h
;;                 si register : 00238h
;;                      opcode : 074h
place_00335h:
    je      place_00342h
;;           code byte in file : 00000h00337h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00038h
;;                 si register : 0023ah
;;                      opcode : 026h
place_00337h:

;;           code byte in file : 00000h00338h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00039h
;;                 si register : 0023bh
;;                      opcode : 080h
place_00338h:
    cmp     byte ptr es:[ di ], 020h
;;           code byte in file : 00000h0033bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003ch
;;                 si register : 0023eh
;;                      opcode : 074h
place_0033bh:
    je      place_00342h
;;           code byte in file : 00000h0033dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003eh
;;                 si register : 00240h
;;                      opcode : 0ebh
place_0033dh:
; UNKNOWN instruction
;;           code byte in file : 00000h0033eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003fh
;;                 si register : 00241h
;;                      opcode : 004h
place_0033eh:
    add     al, 090h
;;           code byte in file : 00000h00340h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;                      opcode : 0bbh
place_00340h:
    mov     bx, 00001h
;;           code byte in file : 00000h00343h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00044h
;;                 si register : 00246h
;;                      opcode : 05eh
place_00343h:
    pop     si
;;           code byte in file : 00000h00344h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;                      opcode : 05fh
place_00344h:
    pop     di
;;           code byte in file : 00000h00345h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;                      opcode : 058h
place_00345h:
    pop     ax
;;           code byte in file : 00000h00346h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;                      opcode : 0c3h
place_00346h:
    ret     
;;           code byte in file : 00000h00347h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;                      opcode : 056h
place_00347h:
    push    si
;;           code byte in file : 00000h00348h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00049h
;;                 si register : 0024bh
;;                      opcode : 057h
place_00348h:
    push    di
;;           code byte in file : 00000h00349h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ah
;;                 si register : 0024ch
;;                      opcode : 0beh
place_00349h:
    mov     si, 00471h
;;           code byte in file : 00000h0034ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;                      opcode : 0e8h
place_0034ch:
    call    place_00312h
;;           code byte in file : 00000h0034fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;                      opcode : 083h
place_0034fh:
    cmp     bx, 00001h
;;           code byte in file : 00000h00352h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00053h
;;                 si register : 00255h
;;                      opcode : 074h
place_00352h:
    je      place_0038bh
;;           code byte in file : 00000h00354h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 0beh
place_00354h:
    mov     si, 00474h
;;           code byte in file : 00000h00357h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;                      opcode : 0e8h
place_00357h:
    call    place_00312h
;;           code byte in file : 00000h0035ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005bh
;;                 si register : 0025dh
;;                      opcode : 083h
place_0035ah:
    cmp     bx, 00001h
;;           code byte in file : 00000h0035dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005eh
;;                 si register : 00260h
;;                      opcode : 074h
place_0035dh:
    je      place_0038bh
;;           code byte in file : 00000h0035fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00060h
;;                 si register : 00262h
;;                      opcode : 0beh
place_0035fh:
    mov     si, 00477h
;;           code byte in file : 00000h00362h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;                      opcode : 0e8h
place_00362h:
    call    place_00312h
;;           code byte in file : 00000h00365h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00066h
;;                 si register : 00268h
;;                      opcode : 083h
place_00365h:
    cmp     bx, 00001h
;;           code byte in file : 00000h00368h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;                      opcode : 074h
place_00368h:
    je      place_0038bh
;;           code byte in file : 00000h0036ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006bh
;;                 si register : 0026dh
;;                      opcode : 0beh
place_0036ah:
    mov     si, 0047ah
;;           code byte in file : 00000h0036dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;                      opcode : 0e8h
place_0036dh:
    call    place_00312h
;;           code byte in file : 00000h00370h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00071h
;;                 si register : 00273h
;;                      opcode : 083h
place_00370h:
    cmp     bx, 00001h
;;           code byte in file : 00000h00373h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00074h
;;                 si register : 00276h
;;                      opcode : 074h
place_00373h:
    je      place_0038bh
;;           code byte in file : 00000h00375h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;                      opcode : 0beh
place_00375h:
    mov     si, 0047dh
;;           code byte in file : 00000h00378h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 0e8h
place_00378h:
    call    place_00312h
;;           code byte in file : 00000h0037bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007ch
;;                 si register : 0027eh
;;                      opcode : 083h
place_0037bh:
    cmp     bx, 00001h
;;           code byte in file : 00000h0037eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;                      opcode : 074h
place_0037eh:
    je      place_0038bh
;;           code byte in file : 00000h00380h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00081h
;;                 si register : 00283h
;;                      opcode : 0beh
place_00380h:
    mov     si, 00480h
;;           code byte in file : 00000h00383h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;                      opcode : 0e8h
place_00383h:
    call    place_00312h
;;           code byte in file : 00000h00386h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;                      opcode : 083h
place_00386h:
    cmp     bx, 00001h
;;           code byte in file : 00000h00389h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 05fh
place_00389h:
    pop     di
;;           code byte in file : 00000h0038ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;                      opcode : 05eh
place_0038ah:
    pop     si
;;           code byte in file : 00000h0038bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;                      opcode : 0c3h
place_0038bh:
    ret     
;;           code byte in file : 00000h0038ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;                      opcode : 050h
place_0038ch:
    push    ax
;;           code byte in file : 00000h0038dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008eh
;;                 si register : 00290h
;;                      opcode : 051h
place_0038dh:
    push    cx
;;           code byte in file : 00000h0038eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;                      opcode : 052h
place_0038eh:
    push    dx
;;           code byte in file : 00000h0038fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;                      opcode : 0b4h
place_0038fh:
    mov     ah, 03ch
;;           code byte in file : 00000h00391h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00092h
;;                 si register : 00294h
;;                      opcode : 033h
place_00391h:
; 003h001h001h
    xor     cx, cx
;;           code byte in file : 00000h00393h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;                      opcode : 0bah
place_00393h:
    mov     dx, 000ffh
;;           code byte in file : 00000h00396h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00097h
;;                 si register : 00299h
;;                      opcode : 0cdh
place_00396h:
    int     021h
;;           code byte in file : 00000h00398h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;                      opcode : 073h
place_00398h:
    jae     place_003a5h
;;           code byte in file : 00000h0039ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;                      opcode : 0e8h
place_0039ah:
    call    place_00233h
;;           code byte in file : 00000h0039dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009eh
;;                 si register : 002a0h
;;                      opcode : 0e8h
place_0039dh:
    call    place_002c1h
;;           code byte in file : 00000h003a0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;                      opcode : 0e8h
place_003a0h:
    call    place_0020fh
;;           code byte in file : 00000h003a3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a4h
;;                 si register : 002a6h
;;                      opcode : 0a3h
place_003a3h:
    mov     word ptr [ 00201h ], ax
;;           code byte in file : 00000h003a6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;                      opcode : 05ah
place_003a6h:
    pop     dx
;;           code byte in file : 00000h003a7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;                      opcode : 059h
place_003a7h:
    pop     cx
;;           code byte in file : 00000h003a8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;                      opcode : 058h
place_003a8h:
    pop     ax
;;           code byte in file : 00000h003a9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 0c3h
place_003a9h:
    ret     
;;           code byte in file : 00000h003aah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000abh
;;                 si register : 002adh
;;                      opcode : 026h
place_003aah:

;;           code byte in file : 00000h003abh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;                      opcode : 08ah
place_003abh:
    mov     al, byte ptr es:[ di ]
;;           code byte in file : 00000h003adh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;                      opcode : 03ch
place_003adh:
    cmp     al, 020h
;;           code byte in file : 00000h003afh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b0h
;;                 si register : 002b2h
;;                      opcode : 074h
place_003afh:
    je      place_003b4h
;;           code byte in file : 00000h003b1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b2h
;;                 si register : 002b4h
;;                      opcode : 0c3h
place_003b1h:
    ret     
;;           code byte in file : 00000h003b2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;                      opcode : 047h
place_003b2h:
    inc     di
;;           code byte in file : 00000h003b3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b4h
;;                 si register : 002b6h
;;                      opcode : 0ebh
place_003b3h:
; UNKNOWN instruction
;;           code byte in file : 00000h003b4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;                      opcode : 0f5h
place_003b4h:
; UNKNOWN instruction
;;           code byte in file : 00000h003b5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b6h
;;                 si register : 002b8h
;;                      opcode : 0c3h
place_003b5h:
    ret     
;;           code byte in file : 00000h003b6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b7h
;;                 si register : 002b9h
;;                      opcode : 050h
place_003b6h:
    push    ax
;;           code byte in file : 00000h003b7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b8h
;;                 si register : 002bah
;;                      opcode : 052h
place_003b7h:
    push    dx
;;           code byte in file : 00000h003b8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b9h
;;                 si register : 002bbh
;;                      opcode : 0b8h
place_003b8h:
    mov     ax, 03d00h
;;           code byte in file : 00000h003bbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bch
;;                 si register : 002beh
;;                      opcode : 0bah
place_003bbh:
    mov     dx, 00000h
;;           code byte in file : 00000h003beh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bfh
;;                 si register : 002c1h
;;                      opcode : 0cdh
place_003beh:
    int     021h
;;           code byte in file : 00000h003c0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;                      opcode : 073h
place_003c0h:
    jae     place_003cdh
;;           code byte in file : 00000h003c2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;                      opcode : 0e8h
place_003c2h:
    call    place_00222h
;;           code byte in file : 00000h003c5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c6h
;;                 si register : 002c8h
;;                      opcode : 0e8h
place_003c5h:
    call    place_002c1h
;;           code byte in file : 00000h003c8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;                      opcode : 0e8h
place_003c8h:
    call    place_0020fh
;;           code byte in file : 00000h003cbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cch
;;                 si register : 002ceh
;;                      opcode : 0a3h
place_003cbh:
    mov     word ptr [ 00201h ], ax
;;           code byte in file : 00000h003ceh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cfh
;;                 si register : 002d1h
;;                      opcode : 05ah
place_003ceh:
    pop     dx
;;           code byte in file : 00000h003cfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;                      opcode : 058h
place_003cfh:
    pop     ax
;;           code byte in file : 00000h003d0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;                      opcode : 0c3h
place_003d0h:
    ret     
;;           code byte in file : 00000h003d1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;                      opcode : 050h
place_003d1h:
    push    ax
;;           code byte in file : 00000h003d2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;                      opcode : 052h
place_003d2h:
    push    dx
;;           code byte in file : 00000h003d3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;                      opcode : 0e8h
place_003d3h:
    call    place_0038ch
;;           code byte in file : 00000h003d6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d7h
;;                 si register : 002d9h
;;                      opcode : 05ah
place_003d6h:
    pop     dx
;;           code byte in file : 00000h003d7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d8h
;;                 si register : 002dah
;;                      opcode : 058h
place_003d7h:
    pop     ax
;;           code byte in file : 00000h003d8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;                      opcode : 0c3h
place_003d8h:
    ret     
;;           code byte in file : 00000h003d9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;                      opcode : 050h
place_003d9h:
    push    ax
;;           code byte in file : 00000h003dah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dbh
;;                 si register : 002ddh
;;                      opcode : 026h
place_003dah:

;;           code byte in file : 00000h003dbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dch
;;                 si register : 002deh
;;                      opcode : 08ah
place_003dbh:
    mov     al, byte ptr es:[ di ]
;;           code byte in file : 00000h003ddh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000deh
;;                 si register : 002e0h
;;                      opcode : 03ch
place_003ddh:
    cmp     al, 022h
;;           code byte in file : 00000h003dfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e0h
;;                 si register : 002e2h
;;                      opcode : 075h
place_003dfh:
    jne     place_003eah
;;           code byte in file : 00000h003e1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;                      opcode : 0bbh
place_003e1h:
    mov     bx, 00001h
;;           code byte in file : 00000h003e4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e5h
;;                 si register : 002e7h
;;                      opcode : 088h
place_003e4h:
    mov     byte ptr [ si ], al
;;           code byte in file : 00000h003e6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e7h
;;                 si register : 002e9h
;;                      opcode : 046h
place_003e6h:
    inc     si
;;           code byte in file : 00000h003e7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;                      opcode : 047h
place_003e7h:
    inc     di
;;           code byte in file : 00000h003e8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;                      opcode : 026h
place_003e8h:

;;           code byte in file : 00000h003e9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000eah
;;                 si register : 002ech
;;                      opcode : 08ah
place_003e9h:
    mov     al, byte ptr es:[ di ]
;;           code byte in file : 00000h003ebh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ech
;;                 si register : 002eeh
;;                      opcode : 03ch
place_003ebh:
    cmp     al, 000h
;;           code byte in file : 00000h003edh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000eeh
;;                 si register : 002f0h
;;                      opcode : 074h
place_003edh:
    je      place_0040bh
;;           code byte in file : 00000h003efh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;                      opcode : 03ch
place_003efh:
    cmp     al, 00dh
;;           code byte in file : 00000h003f1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f2h
;;                 si register : 002f4h
;;                      opcode : 074h
place_003f1h:
    je      place_0040bh
;;           code byte in file : 00000h003f3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f4h
;;                 si register : 002f6h
;;                      opcode : 03ch
place_003f3h:
    cmp     al, 022h
;;           code byte in file : 00000h003f5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;                      opcode : 074h
place_003f5h:
    je      place_00408h
;;           code byte in file : 00000h003f7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;                      opcode : 03ch
place_003f7h:
    cmp     al, 020h
;;           code byte in file : 00000h003f9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;                      opcode : 075h
place_003f9h:
    jne     place_00402h
;;           code byte in file : 00000h003fbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;                      opcode : 083h
place_003fbh:
    cmp     bx, 00001h
;;  SCANNING...
;;           code byte in file : 00000h003feh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 075h
place_003feh:
    jne     place_0040bh
;;           code byte in file : 00000h00400h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;                      opcode : 088h
place_00400h:
    mov     byte ptr [ si ], al
;;           code byte in file : 00000h00402h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;                      opcode : 047h
place_00402h:
    inc     di
;;           code byte in file : 00000h00403h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00005h
;;                 si register : 00207h
;;                      opcode : 046h
place_00403h:
    inc     si
;;           code byte in file : 00000h00404h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00006h
;;                 si register : 00208h
;;                      opcode : 0ebh
place_00404h:
; UNKNOWN instruction
;;           code byte in file : 00000h00405h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;                      opcode : 0e2h
place_00405h:
    loop    place_00450h
;;           code byte in file : 00000h00407h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00009h
;;                 si register : 0020bh
;;                      opcode : 088h
place_00407h:
    mov     byte ptr [ si ], al
;;           code byte in file : 00000h00409h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;                      opcode : 046h
place_00409h:
    inc     si
;;           code byte in file : 00000h0040ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ch
;;                 si register : 0020eh
;;                      opcode : 0c6h
place_0040ah:
    mov     byte ptr [ si ], 000h
;;           code byte in file : 00000h0040dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;                      opcode : 058h
place_0040dh:
    pop     ax
;;           code byte in file : 00000h0040eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;                      opcode : 0c3h
place_0040eh:
    ret     
;;           code byte in file : 00000h0040fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;                      opcode : 050h
place_0040fh:
    push    ax
;;           code byte in file : 00000h00410h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;                      opcode : 053h
place_00410h:
    push    bx
;;           code byte in file : 00000h00411h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;                      opcode : 051h
place_00411h:
    push    cx
;;           code byte in file : 00000h00412h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00014h
;;                 si register : 00216h
;;                      opcode : 052h
place_00412h:
    push    dx
;;           code byte in file : 00000h00413h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;                      opcode : 033h
place_00413h:
; 003h000h000h
    xor     ax, ax
;;           code byte in file : 00000h00415h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00017h
;;                 si register : 00219h
;;                      opcode : 0bbh
place_00415h:
    mov     bx, 0000ah
;;           code byte in file : 00000h00418h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;                      opcode : 033h
place_00418h:
; 003h001h001h
    xor     cx, cx
;;           code byte in file : 00000h0041ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;                      opcode : 026h
place_0041ah:

;;           code byte in file : 00000h0041bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;                      opcode : 08ah
place_0041bh:
    mov     cl, byte ptr es:[ di ]
;;           code byte in file : 00000h0041dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001fh
;;                 si register : 00221h
;;                      opcode : 047h
place_0041dh:
    inc     di
;;           code byte in file : 00000h0041eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;                      opcode : 080h
place_0041eh:
    cmp     cl, 000h
;;           code byte in file : 00000h00421h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;                      opcode : 074h
place_00421h:
    je      place_0045eh
;;           code byte in file : 00000h00423h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00025h
;;                 si register : 00227h
;;                      opcode : 080h
place_00423h:
    cmp     cl, 020h
;;           code byte in file : 00000h00426h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00028h
;;                 si register : 0022ah
;;                      opcode : 074h
place_00426h:
    je      place_0045eh
;;           code byte in file : 00000h00428h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;                      opcode : 080h
place_00428h:
    cmp     cl, 00dh
;;           code byte in file : 00000h0042bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002dh
;;                 si register : 0022fh
;;                      opcode : 074h
place_0042bh:
    je      place_0045eh
;;           code byte in file : 00000h0042dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;                      opcode : 080h
place_0042dh:
    cmp     cl, 030h
;;           code byte in file : 00000h00430h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;                      opcode : 072h
place_00430h:
    jb      place_0044ch
;;           code byte in file : 00000h00432h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00034h
;;                 si register : 00236h
;;                      opcode : 080h
place_00432h:
    cmp     cl, 039h
;;           code byte in file : 00000h00435h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;                      opcode : 077h
place_00435h:
    ja      place_0044ch
;;           code byte in file : 00000h00437h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00039h
;;                 si register : 0023bh
;;                      opcode : 0f7h
place_00437h:
; UNKNOWN instruction
;;           code byte in file : 00000h00438h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003ah
;;                 si register : 0023ch
;;                      opcode : 0e3h
place_00438h:
    jcxz    place_00479h
;;           code byte in file : 00000h0043ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003ch
;;                 si register : 0023eh
;;                      opcode : 0ffh
place_0043ah:
; UNKNOWN instruction
;;           code byte in file : 00000h0043bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003dh
;;                 si register : 0023fh
;;                      opcode : 000h
place_0043bh:
; 001h006h007h
    add     byte ptr [ bx + 015h ], dh
;;           code byte in file : 00000h0043eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00040h
;;                 si register : 00242h
;;                      opcode : 080h
place_0043eh:
    sub     cl, 030h
;;           code byte in file : 00000h00441h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;                      opcode : 003h
place_00441h:
; 003h000h001h
    add     ax, cx
;;           code byte in file : 00000h00443h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;                      opcode : 03dh
place_00443h:
    cmp     ax, 000ffh
;;           code byte in file : 00000h00446h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;                      opcode : 077h
place_00446h:
    ja      place_00455h
;;           code byte in file : 00000h00448h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ah
;;                 si register : 0024ch
;;                      opcode : 0ebh
place_00448h:
; UNKNOWN instruction
;;           code byte in file : 00000h00449h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;                      opcode : 0d0h
place_00449h:
    shr     al, 1
;;           code byte in file : 00000h0044bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;                      opcode : 03bh
place_0044bh:
; 003h007h006h
    cmp     di, si
;;           code byte in file : 00000h0044dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004fh
;;                 si register : 00251h
;;                      opcode : 0e8h
place_0044dh:
    call    place_002c1h
;;           code byte in file : 00000h00450h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00052h
;;                 si register : 00254h
;;                      opcode : 0e8h
place_00450h:
    call    place_0020fh
;;           code byte in file : 00000h00453h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 0e8h
place_00453h:
    call    place_00299h
;;           code byte in file : 00000h00456h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;                      opcode : 0e8h
place_00456h:
    call    place_002c1h
;;           code byte in file : 00000h00459h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005bh
;;                 si register : 0025dh
;;                      opcode : 0e8h
place_00459h:
    call    place_0020fh
;;           code byte in file : 00000h0045ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005eh
;;                 si register : 00260h
;;                      opcode : 03ch
place_0045ch:
    cmp     al, 000h
;;           code byte in file : 00000h0045eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00060h
;;                 si register : 00262h
;;                      opcode : 075h
place_0045eh:
    jne     place_00465h
;;           code byte in file : 00000h00460h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;                      opcode : 0e8h
place_00460h:
    call    place_00288h
;;           code byte in file : 00000h00463h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;                      opcode : 0a2h
place_00463h:
    mov     byte ptr [ 00200h ], al
;;           code byte in file : 00000h00466h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;                      opcode : 05ah
place_00466h:
    pop     dx
;;           code byte in file : 00000h00467h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;                      opcode : 059h
place_00467h:
    pop     cx
;;           code byte in file : 00000h00468h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;                      opcode : 05bh
place_00468h:
    pop     bx
;;           code byte in file : 00000h00469h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006bh
;;                 si register : 0026dh
;;                      opcode : 058h
place_00469h:
    pop     ax
;;           code byte in file : 00000h0046ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ch
;;                 si register : 0026eh
;;                      opcode : 0c3h
place_0046ah:
    ret     
;;           code byte in file : 00000h0046bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;                      opcode : 050h
place_0046bh:
    push    ax
;;           code byte in file : 00000h0046ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;                      opcode : 053h
place_0046ch:
    push    bx
;;           code byte in file : 00000h0046dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006fh
;;                 si register : 00271h
;;                      opcode : 051h
place_0046dh:
    push    cx
;;           code byte in file : 00000h0046eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00070h
;;                 si register : 00272h
;;                      opcode : 052h
place_0046eh:
    push    dx
;;           code byte in file : 00000h0046fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00071h
;;                 si register : 00273h
;;                      opcode : 056h
place_0046fh:
    push    si
;;           code byte in file : 00000h00470h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;                      opcode : 057h
place_00470h:
    push    di
;;           code byte in file : 00000h00471h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;                      opcode : 026h
place_00471h:

;;           code byte in file : 00000h00472h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00074h
;;                 si register : 00276h
;;                      opcode : 0a0h
place_00472h:
    mov     al, byte ptr es:[ 00200h ]
;;           code byte in file : 00000h00475h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00077h
;;                 si register : 00279h
;;                      opcode : 03ch
place_00475h:
    cmp     al, 000h
;;           code byte in file : 00000h00477h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 075h
place_00477h:
    jne     place_00484h
;;           code byte in file : 00000h00479h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;                      opcode : 0e8h
place_00479h:
    call    place_00266h
;;           code byte in file : 00000h0047ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;                      opcode : 0e8h
place_0047ch:
    call    place_002c1h
;;           code byte in file : 00000h0047fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00081h
;;                 si register : 00283h
;;                      opcode : 0e8h
place_0047fh:
    call    place_0020fh
;;           code byte in file : 00000h00482h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;                      opcode : 0bfh
place_00482h:
    mov     di, 00081h
;;           code byte in file : 00000h00485h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;                      opcode : 0e8h
place_00485h:
    call    place_003aah
;;           code byte in file : 00000h00488h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 0e8h
place_00488h:
    call    place_00347h
;;           code byte in file : 00000h0048bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;                      opcode : 083h
place_0048bh:
    cmp     bx, 00001h
;;           code byte in file : 00000h0048eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;                      opcode : 075h
place_0048eh:
    jne     place_00498h
;;           code byte in file : 00000h00490h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00092h
;;                 si register : 00294h
;;                      opcode : 0e8h
place_00490h:
    call    place_002c1h
;;           code byte in file : 00000h00493h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00095h
;;                 si register : 00297h
;;                      opcode : 0e8h
place_00493h:
    call    place_0020fh
;;           code byte in file : 00000h00496h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00098h
;;                 si register : 0029ah
;;                      opcode : 0beh
place_00496h:
    mov     si, 00000h
;;           code byte in file : 00000h00499h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;                      opcode : 0e8h
place_00499h:
    call    place_003d9h
;;           code byte in file : 00000h0049ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009eh
;;                 si register : 002a0h
;;                      opcode : 0e8h
place_0049ch:
    call    place_003aah
;;           code byte in file : 00000h0049fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;                      opcode : 0beh
place_0049fh:
    mov     si, 0045ch
;;           code byte in file : 00000h004a2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a4h
;;                 si register : 002a6h
;;                      opcode : 0e8h
place_004a2h:
    call    place_0040fh
;;           code byte in file : 00000h004a5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;                      opcode : 0e8h
place_004a5h:
    call    place_003aah
;;           code byte in file : 00000h004a8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 0beh
place_004a8h:
    mov     si, 000ffh
;;           code byte in file : 00000h004abh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000adh
;;                 si register : 002afh
;;                      opcode : 0e8h
place_004abh:
    call    place_003d9h
;;           code byte in file : 00000h004aeh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b0h
;;                 si register : 002b2h
;;                      opcode : 0e8h
place_004aeh:
    call    place_003aah
;;           code byte in file : 00000h004b1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;                      opcode : 033h
place_004b1h:
; 003h000h000h
    xor     ax, ax
;;           code byte in file : 00000h004b3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;                      opcode : 026h
place_004b3h:

;;           code byte in file : 00000h004b4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b6h
;;                 si register : 002b8h
;;                      opcode : 0a0h
place_004b4h:
    mov     al, byte ptr es:[ 00300h ]
;;           code byte in file : 00000h004b7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b9h
;;                 si register : 002bbh
;;                      opcode : 005h
place_004b7h:
    add     ax, 00081h
;;           code byte in file : 00000h004bah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bch
;;                 si register : 002beh
;;                      opcode : 03bh
place_004bah:
; 003h000h007h
    cmp     ax, di
;;           code byte in file : 00000h004bch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000beh
;;                 si register : 002c0h
;;                      opcode : 074h
place_004bch:
    je      place_004c9h
;;           code byte in file : 00000h004beh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c0h
;;                 si register : 002c2h
;;                      opcode : 0e8h
place_004beh:
    call    place_00277h
;;           code byte in file : 00000h004c1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;                      opcode : 0e8h
place_004c1h:
    call    place_002c1h
;;           code byte in file : 00000h004c4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c6h
;;                 si register : 002c8h
;;                      opcode : 0e8h
place_004c4h:
    call    place_0020fh
;;           code byte in file : 00000h004c7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;                      opcode : 05fh
place_004c7h:
    pop     di
;;           code byte in file : 00000h004c8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cah
;;                 si register : 002cch
;;                      opcode : 05eh
place_004c8h:
    pop     si
;;           code byte in file : 00000h004c9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cbh
;;                 si register : 002cdh
;;                      opcode : 05ah
place_004c9h:
    pop     dx
;;           code byte in file : 00000h004cah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cch
;;                 si register : 002ceh
;;                      opcode : 059h
place_004cah:
    pop     cx
;;           code byte in file : 00000h004cbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;                      opcode : 05bh
place_004cbh:
    pop     bx
;;           code byte in file : 00000h004cch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ceh
;;                 si register : 002d0h
;;                      opcode : 058h
place_004cch:
    pop     ax
;;           code byte in file : 00000h004cdh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cfh
;;                 si register : 002d1h
;;                      opcode : 0c3h
place_004cdh:
    ret     
;;           code byte in file : 00000h004ceh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;                      opcode : 050h
place_004ceh:
    push    ax
;;           code byte in file : 00000h004cfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;                      opcode : 053h
place_004cfh:
    push    bx
;;           code byte in file : 00000h004d0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;                      opcode : 051h
place_004d0h:
    push    cx
;;           code byte in file : 00000h004d1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;                      opcode : 052h
place_004d1h:
    push    dx
;;           code byte in file : 00000h004d2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;                      opcode : 056h
place_004d2h:
    push    si
;;           code byte in file : 00000h004d3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;                      opcode : 0beh
place_004d3h:
    mov     si, 0045dh
;;           code byte in file : 00000h004d6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d8h
;;                 si register : 002dah
;;                      opcode : 08bh
place_004d6h:
    mov     cx, word ptr [ si ]
;;           code byte in file : 00000h004d8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;                      opcode : 08bh
place_004d8h:
    mov     dx, word ptr [ si + 002h ]
;;           code byte in file : 00000h004dbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;                      opcode : 002h
place_004dbh:
; 003h002h004h
    add     dl, ah
;;           code byte in file : 00000h004ddh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dfh
;;                 si register : 002e1h
;;                      opcode : 080h
place_004ddh:
    adc     dh, 000h
;;           code byte in file : 00000h004e0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;                      opcode : 083h
place_004e0h:
    adc     cx, 00000h
;;           code byte in file : 00000h004e3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e5h
;;                 si register : 002e7h
;;                      opcode : 0b8h
place_004e3h:
    mov     ax, 04200h
;;           code byte in file : 00000h004e6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;                      opcode : 08bh
place_004e6h:
    mov     bx, word ptr [ 001feh ]
;;           code byte in file : 00000h004eah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ech
;;                 si register : 002eeh
;;                      opcode : 0cdh
place_004eah:
    int     021h
;;           code byte in file : 00000h004ech
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000eeh
;;                 si register : 002f0h
;;                      opcode : 089h
place_004ech:
    mov     dx, word ptr [ si ]
;;           code byte in file : 00000h004eeh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;                      opcode : 089h
place_004eeh:
    mov     ax, word ptr [ si + 002h ]
;;           code byte in file : 00000h004f1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f3h
;;                 si register : 002f5h
;;                      opcode : 05eh
place_004f1h:
    pop     si
;;           code byte in file : 00000h004f2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f4h
;;                 si register : 002f6h
;;                      opcode : 05ah
place_004f2h:
    pop     dx
;;           code byte in file : 00000h004f3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f5h
;;                 si register : 002f7h
;;                      opcode : 059h
place_004f3h:
    pop     cx
;;           code byte in file : 00000h004f4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;                      opcode : 05bh
place_004f4h:
    pop     bx
;;           code byte in file : 00000h004f5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f7h
;;                 si register : 002f9h
;;                      opcode : 058h
place_004f5h:
    pop     ax
;;           code byte in file : 00000h004f6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;                      opcode : 0c3h
place_004f6h:
    ret     
;;           code byte in file : 00000h004f7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f9h
;;                 si register : 002fbh
;;                      opcode : 050h
place_004f7h:
    push    ax
;;           code byte in file : 00000h004f8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;                      opcode : 053h
place_004f8h:
    push    bx
;;           code byte in file : 00000h004f9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;                      opcode : 051h
place_004f9h:
    push    cx
;;           code byte in file : 00000h004fah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;                      opcode : 052h
place_004fah:
    push    dx
;;           code byte in file : 00000h004fbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fdh
;;                 si register : 002ffh
;;                      opcode : 057h
place_004fbh:
    push    di
;;           code byte in file : 00000h004fch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000feh
;;                 si register : 00300h
;;                      opcode : 033h
place_004fch:
; 003h001h001h
    xor     cx, cx
;;  SCANNING...
;;           code byte in file : 00000h004feh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 08ah
place_004feh:
    mov     cl, ah
;;           code byte in file : 00000h00500h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;                      opcode : 0bah
place_00500h:
    mov     dx, 00330h
;;           code byte in file : 00000h00503h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00005h
;;                 si register : 00207h
;;                      opcode : 0b4h
place_00503h:
    mov     ah, 040h
;;           code byte in file : 00000h00505h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;                      opcode : 080h
place_00505h:
    cmp     bh, 000h
;;           code byte in file : 00000h00508h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;                      opcode : 074h
place_00508h:
    je      place_00512h
;;           code byte in file : 00000h0050ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ch
;;                 si register : 0020eh
;;                      opcode : 083h
place_0050ah:
    add     cx, 00002h
;;           code byte in file : 00000h0050dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;                      opcode : 083h
place_0050dh:
    sub     dx, 00002h
;;           code byte in file : 00000h00510h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;                      opcode : 08bh
place_00510h:
    mov     bx, word ptr [ 00200h ]
;;           code byte in file : 00000h00514h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;                      opcode : 0cdh
place_00514h:
    int     021h
;;           code byte in file : 00000h00516h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00018h
;;                 si register : 0021ah
;;                      opcode : 072h
place_00516h:
    jb      place_0051dh
;;           code byte in file : 00000h00518h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;                      opcode : 0ebh
place_00518h:
; UNKNOWN instruction
;;           code byte in file : 00000h00519h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001bh
;;                 si register : 0021dh
;;                      opcode : 007h
place_00519h:
    pop     es
;;           code byte in file : 00000h0051ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;                      opcode : 090h
place_0051ah:
    nop     
;;           code byte in file : 00000h0051bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;                      opcode : 0e8h
place_0051bh:
    call    place_00255h
;;           code byte in file : 00000h0051eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;                      opcode : 0e8h
place_0051eh:
    call    place_0020fh
;;           code byte in file : 00000h00521h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;                      opcode : 05fh
place_00521h:
    pop     di
;;           code byte in file : 00000h00522h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;                      opcode : 05ah
place_00522h:
    pop     dx
;;           code byte in file : 00000h00523h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00025h
;;                 si register : 00227h
;;                      opcode : 059h
place_00523h:
    pop     cx
;;           code byte in file : 00000h00524h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00026h
;;                 si register : 00228h
;;                      opcode : 05bh
place_00524h:
    pop     bx
;;           code byte in file : 00000h00525h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00027h
;;                 si register : 00229h
;;                      opcode : 058h
place_00525h:
    pop     ax
;;           code byte in file : 00000h00526h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00028h
;;                 si register : 0022ah
;;                      opcode : 0c3h
place_00526h:
    ret     
;;           code byte in file : 00000h00527h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;                      opcode : 050h
place_00527h:
    push    ax
;;           code byte in file : 00000h00528h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;                      opcode : 053h
place_00528h:
    push    bx
;;           code byte in file : 00000h00529h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;                      opcode : 051h
place_00529h:
    push    cx
;;           code byte in file : 00000h0052ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ch
;;                 si register : 0022eh
;;                      opcode : 052h
place_0052ah:
    push    dx
;;           code byte in file : 00000h0052bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002dh
;;                 si register : 0022fh
;;                      opcode : 056h
place_0052bh:
    push    si
;;           code byte in file : 00000h0052ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002eh
;;                 si register : 00230h
;;                      opcode : 057h
place_0052ch:
    push    di
;;           code byte in file : 00000h0052dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;                      opcode : 0b4h
place_0052dh:
    mov     ah, 03fh
;;           code byte in file : 00000h0052fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00031h
;;                 si register : 00233h
;;                      opcode : 053h
place_0052fh:
    push    bx
;;           code byte in file : 00000h00530h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;                      opcode : 08bh
place_00530h:
    mov     bx, word ptr [ 001feh ]
;;           code byte in file : 00000h00534h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00036h
;;                 si register : 00238h
;;                      opcode : 0bah
place_00534h:
    mov     dx, 00202h
;;           code byte in file : 00000h00537h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00039h
;;                 si register : 0023bh
;;                      opcode : 033h
place_00537h:
; 003h001h001h
    xor     cx, cx
;;           code byte in file : 00000h00539h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003bh
;;                 si register : 0023dh
;;                      opcode : 08ah
place_00539h:
    mov     cl, byte ptr [ 0045ch ]
;;           code byte in file : 00000h0053dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003fh
;;                 si register : 00241h
;;                      opcode : 0cdh
place_0053dh:
    int     021h
;;           code byte in file : 00000h0053fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;                      opcode : 05bh
place_0053fh:
    pop     bx
;;           code byte in file : 00000h00540h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00042h
;;                 si register : 00244h
;;                      opcode : 072h
place_00540h:
    jb      place_0058dh
;;           code byte in file : 00000h00542h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00044h
;;                 si register : 00246h
;;                      opcode : 03dh
place_00542h:
    cmp     ax, 00000h
;;           code byte in file : 00000h00545h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;                      opcode : 074h
place_00545h:
    je      place_00586h
;;           code byte in file : 00000h00547h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00049h
;;                 si register : 0024bh
;;                      opcode : 0beh
place_00547h:
    mov     si, 00202h
;;           code byte in file : 00000h0054ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ch
;;                 si register : 0024eh
;;                      opcode : 0bfh
place_0054ah:
    mov     di, 00330h
;;           code byte in file : 00000h0054dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004fh
;;                 si register : 00251h
;;                      opcode : 08ah
place_0054dh:
    mov     bl, al
;;           code byte in file : 00000h0054fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00051h
;;                 si register : 00253h
;;                      opcode : 08ah
place_0054fh:
    mov     al, byte ptr [ si ]
;;           code byte in file : 00000h00551h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00053h
;;                 si register : 00255h
;;                      opcode : 03ch
place_00551h:
    cmp     al, 000h
;;           code byte in file : 00000h00553h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 075h
place_00553h:
    jne     place_0055fh
;;           code byte in file : 00000h00555h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;                      opcode : 0e8h
place_00555h:
    call    place_004f7h
;;           code byte in file : 00000h00558h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005ah
;;                 si register : 0025ch
;;                      opcode : 0b7h
place_00558h:
    mov     bh, 001h
;;           code byte in file : 00000h0055ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005ch
;;                 si register : 0025eh
;;                      opcode : 0ebh
place_0055ah:
; UNKNOWN instruction
;;           code byte in file : 00000h0055bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005dh
;;                 si register : 0025fh
;;                      opcode : 028h
place_0055bh:
; 002h002h000h
    sub     byte ptr [ bx + si + 00d3ch ], dl
;;           code byte in file : 00000h0055fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;                      opcode : 075h
place_0055fh:
    jne     place_00570h
;;           code byte in file : 00000h00561h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;                      opcode : 0e8h
place_00561h:
    call    place_004f7h
;;           code byte in file : 00000h00564h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00066h
;;                 si register : 00268h
;;                      opcode : 080h
place_00564h:
    add     ah, 002h
;;           code byte in file : 00000h00567h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;                      opcode : 0e8h
place_00567h:
    call    place_004ceh
;;           code byte in file : 00000h0056ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ch
;;                 si register : 0026eh
;;                      opcode : 0b7h
place_0056ah:
    mov     bh, 001h
;;           code byte in file : 00000h0056ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;                      opcode : 0ebh
place_0056ch:
; UNKNOWN instruction
;;           code byte in file : 00000h0056dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006fh
;;                 si register : 00271h
;;                      opcode : 0bfh
place_0056dh:
    mov     di, 00588h
;;           code byte in file : 00000h00570h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;                      opcode : 046h
place_00570h:
    inc     si
;;           code byte in file : 00000h00571h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;                      opcode : 047h
place_00571h:
    inc     di
;;           code byte in file : 00000h00572h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00074h
;;                 si register : 00276h
;;                      opcode : 0feh
place_00572h:
; UNKNOWN instruction
;;           code byte in file : 00000h00573h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00075h
;;                 si register : 00277h
;;                      opcode : 0c4h
place_00573h:
    les     di, [ bp + si ]
;;           code byte in file : 00000h00575h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00077h
;;                 si register : 00279h
;;                      opcode : 0e3h
place_00575h:
    jcxz    place_005eeh
;;           code byte in file : 00000h00577h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 00ah
place_00577h:
; 003h005h000h
    or      ch, al
;;           code byte in file : 00000h00579h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;                      opcode : 07ch
place_00579h:
    jl      place_0057ch
;;           code byte in file : 00000h0057bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007dh
;;                 si register : 0027fh
;;                      opcode : 0b7h
place_0057bh:
    mov     bh, 001h
;;           code byte in file : 00000h0057dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;                      opcode : 0e8h
place_0057dh:
    call    place_004ceh
;;           code byte in file : 00000h00580h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00082h
;;                 si register : 00284h
;;                      opcode : 0ebh
place_00580h:
; UNKNOWN instruction
;;           code byte in file : 00000h00581h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;                      opcode : 0abh
place_00581h:
    stosw   
;;           code byte in file : 00000h00582h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;                      opcode : 0e2h
place_00582h:
    loop    place_00551h
;;           code byte in file : 00000h00584h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00086h
;;                 si register : 00288h
;;                      opcode : 05fh
place_00584h:
    pop     di
;;           code byte in file : 00000h00585h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;                      opcode : 05eh
place_00585h:
    pop     si
;;           code byte in file : 00000h00586h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;                      opcode : 05ah
place_00586h:
    pop     dx
;;           code byte in file : 00000h00587h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;                      opcode : 059h
place_00587h:
    pop     cx
;;           code byte in file : 00000h00588h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 05bh
place_00588h:
    pop     bx
;;           code byte in file : 00000h00589h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;                      opcode : 058h
place_00589h:
    pop     ax
;;           code byte in file : 00000h0058ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;                      opcode : 0c3h
place_0058ah:
    ret     
;;           code byte in file : 00000h0058bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;                      opcode : 0e8h
place_0058bh:
    call    place_00244h
;;           code byte in file : 00000h0058eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;                      opcode : 0e8h
place_0058eh:
    call    place_0020fh
;;           code byte in file : 00000h00591h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00093h
;;                 si register : 00295h
;;                      opcode : 0b8h
place_00591h:
    mov     ax, 0003bh
;;           code byte in file : 00000h00594h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00096h
;;                 si register : 00298h
;;                      opcode : 08eh
place_00594h:
    mov     ds, ax
;;           code byte in file : 00000h00596h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00098h
;;                 si register : 0029ah
;;                      opcode : 0bfh
place_00596h:
    mov     di, 00081h
;;           code byte in file : 00000h00599h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;                      opcode : 0e8h
place_00599h:
    call    place_0046bh
;;           code byte in file : 00000h0059ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009eh
;;                 si register : 002a0h
;;                      opcode : 0e8h
place_0059ch:
    call    place_003b6h
;;           code byte in file : 00000h0059fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;                      opcode : 0e8h
place_0059fh:
    call    place_003d1h
;;           code byte in file : 00000h005a2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a4h
;;                 si register : 002a6h
;;                      opcode : 0e8h
place_005a2h:
    call    place_00527h
;;           code byte in file : 00000h005a5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;                      opcode : 0e8h
place_005a5h:
    call    place_0020fh
;;           code byte in file : 00000h005a8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 000h
place_005a8h:
; 000h000h000h
    add     byte ptr [ bx + si ], al
;;           code byte in file : 00000h005aah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;                      opcode : 000h
place_005aah:
; 000h000h000h
    add     byte ptr [ bx + si ], al
;;           code byte in file : 00000h005ach
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;                      opcode : 000h
place_005ach:
; 000h000h000h
    add     byte ptr [ bx + si ], al
;;           code byte in file : 00000h005aeh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b0h
;;                 si register : 002b2h
;;                      opcode : 000h
place_005aeh:
; 000h000h000h
    add     byte ptr [ bx + si ], al
END