.MODEL SMALL
.STACK  00100h

.DATA
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 00dh, 00ah
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 044h, 065h, 062h, 075h, 067h, 020h, 06dh, 065h, 073h, 073h, 061h, 067h, 065h, 00dh, 00ah
    db  024h, 02fh, 03fh, 000h, 02fh, 068h, 000h, 02fh, 048h, 000h, 02dh, 068h, 000h, 02dh, 048h, 000h
    db  02dh, 02dh, 068h, 065h, 06ch, 070h, 000h, 050h, 072h, 065h, 073h, 073h, 020h, 061h, 06eh, 079h
    db  020h, 06bh, 065h, 079h, 020h, 074h, 06fh, 020h, 063h, 06fh, 06eh, 074h, 069h, 06eh, 075h, 065h
    db  02eh, 02eh, 02eh, 024h, 00dh, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 00dh, 024h, 00ah, 045h, 052h, 052h, 04fh, 052h, 03ah, 020h, 024h, 046h
    db  061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 06fh, 070h, 065h, 06eh, 020h, 066h, 069h
    db  06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh
    db  020h, 063h, 072h, 065h, 061h, 074h, 065h, 020h, 066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah
    db  024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 072h, 065h, 061h, 064h, 020h
    db  066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h
    db  074h, 06fh, 020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 066h, 069h, 06ch, 065h
    db  021h, 00dh, 00ah, 00ah, 024h, 050h, 061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 020h
    db  061h, 072h, 065h, 020h, 06eh, 06fh, 074h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h
    db  064h, 021h, 00dh, 00ah, 00ah, 024h, 054h, 06fh, 06fh, 020h, 06dh, 061h, 06eh, 079h, 020h, 070h
    db  061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 021h, 00dh, 00ah, 00ah, 024h, 049h, 06eh
    db  076h, 061h, 06ch, 069h, 064h, 020h, 06ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 021h, 020h, 043h, 061h, 06eh, 027h, 074h, 020h, 068h, 061h, 076h, 065h, 020h, 073h, 079h
    db  06dh, 062h, 06fh, 06ch, 073h, 020h, 06fh, 072h, 020h, 06eh, 075h, 06dh, 062h, 065h, 072h, 020h
    db  065h, 071h, 075h, 061h, 06ch, 020h, 074h, 06fh, 020h, 07ah, 065h, 072h, 06fh, 021h, 021h, 021h
    db  00dh, 00ah, 00ah, 024h, 04ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 020h
    db  069h, 073h, 020h, 074h, 06fh, 06fh, 020h, 062h, 069h, 067h, 021h, 020h, 053h, 068h, 06fh, 075h
    db  06ch, 064h, 020h, 062h, 065h, 020h, 032h, 035h, 035h, 020h, 06fh, 072h, 020h, 06ch, 065h, 073h
    db  073h, 021h, 021h, 021h, 00dh, 00ah, 00ah, 024h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 041h, 04dh, 045h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 020h, 053h, 070h
    db  06ch, 069h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h, 06ch, 065h, 020h, 069h, 06eh
    db  074h, 06fh, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 06fh, 066h, 020h, 073h, 070h, 065h, 063h
    db  069h, 066h, 069h, 065h, 064h, 020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h
    db  020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 061h, 020h, 06eh, 065h, 077h, 020h
    db  066h, 069h, 06ch, 065h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 053h, 059h, 04eh, 04fh, 050h, 053h
    db  049h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 04dh, 041h, 058h, 05fh
    db  04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 020h, 04fh, 055h, 054h, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 03fh, 00dh, 00ah, 00dh, 00ah, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 068h, 00dh, 00ah, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 048h
    db  00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 02dh, 068h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh
    db  074h, 072h, 061h, 020h, 02dh, 048h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 02dh, 068h, 065h, 06ch, 070h, 00dh, 00ah, 00dh
    db  00ah, 024h, 044h, 045h, 053h, 043h, 052h, 049h, 050h, 054h, 049h, 04fh, 04eh, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 072h, 065h, 061h, 064h
    db  073h, 020h, 074h, 068h, 065h, 020h, 063h, 06fh, 06eh, 074h, 065h, 06eh, 074h, 073h, 020h, 06fh
    db  066h, 020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 061h, 06eh, 064h
    db  020h, 073h, 070h, 06ch, 069h, 074h, 073h, 020h, 069h, 074h, 073h, 020h, 074h, 065h, 078h, 074h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 069h, 06eh, 074h, 06fh, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 02ch, 020h, 065h, 06eh, 073h, 075h, 072h, 069h, 06eh, 067h, 020h, 065h, 061h
    db  063h, 068h, 020h, 06ch, 069h, 06eh, 065h, 020h, 064h, 06fh, 065h, 073h, 020h, 06eh, 06fh, 074h
    db  020h, 065h, 078h, 063h, 065h, 065h, 064h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h
    db  05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh, 020h, 054h, 068h, 065h, 020h
    db  06fh, 075h, 074h, 070h, 075h, 074h, 020h, 069h, 073h, 020h, 077h, 072h, 069h, 074h, 074h, 065h
    db  06eh, 020h, 074h, 06fh, 020h, 04fh, 055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h
    db  02ch, 020h, 077h, 069h, 074h, 068h, 020h, 065h, 061h, 063h, 068h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 06ch, 069h, 06eh, 065h, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 074h
    db  065h, 064h, 020h, 061h, 063h, 063h, 06fh, 072h, 064h, 069h, 06eh, 067h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 064h, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 045h, 078h, 061h, 06dh, 070h, 06ch, 065h, 03ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 066h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 073h, 020h
    db  061h, 020h, 06ch, 06fh, 06eh, 067h, 020h, 062h, 06ch, 06fh, 063h, 06bh, 020h, 06fh, 066h, 020h
    db  074h, 065h, 078h, 074h, 02ch, 020h, 072h, 075h, 06eh, 06eh, 069h, 06eh, 067h, 03ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h, 074h
    db  020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 077h, 069h, 06ch, 06ch, 020h
    db  063h, 072h, 065h, 061h, 074h, 065h, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  02ch, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h, 06eh
    db  065h, 020h, 069h, 073h, 020h, 06eh, 06fh, 020h, 06ch, 06fh, 06eh, 067h, 065h, 072h, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 074h, 068h
    db  061h, 06eh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h
    db  02ch, 020h, 062h, 061h, 073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 069h
    db  06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 069h, 06eh, 020h, 027h, 064h, 075h
    db  06fh, 06dh, 02eh, 074h, 078h, 074h, 027h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04fh, 050h, 054h
    db  049h, 04fh, 04eh, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 04eh, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h
    db  020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h, 074h, 068h, 065h
    db  020h, 066h, 069h, 06ch, 065h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 069h, 06eh, 067h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  074h, 068h, 065h, 020h, 074h, 065h, 078h, 074h, 020h, 074h, 06fh, 020h, 062h, 065h, 020h, 070h
    db  072h, 06fh, 063h, 065h, 073h, 073h, 065h, 064h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h
    db  048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 06dh
    db  061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 061h, 06ch, 06ch, 06fh, 077h, 065h, 064h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 020h, 06fh, 066h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h
    db  06eh, 065h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 069h, 06eh, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh
    db  020h, 04ch, 069h, 06eh, 065h, 073h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h, 065h, 020h, 077h
    db  072h, 061h, 070h, 070h, 065h, 064h, 020h, 061h, 074h, 020h, 074h, 068h, 069h, 073h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 04fh
    db  055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h
    db  069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 066h, 069h, 06ch, 065h, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 074h
    db  068h, 065h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 028h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  074h, 065h, 064h, 020h, 074h, 065h, 078h, 074h, 029h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h
    db  065h, 020h, 073h, 061h, 076h, 065h, 064h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 04fh, 054h
    db  045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 070h, 072h, 06fh, 067h, 072h, 061h, 06dh, 020h, 072h, 065h, 061h, 064h, 073h, 020h, 074h
    db  068h, 065h, 020h, 069h, 06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h
    db  06ch, 065h, 020h, 061h, 06eh, 064h, 020h, 062h, 072h, 065h, 061h, 06bh, 073h, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 062h, 061h
    db  073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h
    db  066h, 069h, 065h, 064h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 020h, 06ch
    db  069h, 06dh, 069h, 074h, 02ch, 020h, 069h, 066h, 020h, 070h, 06fh, 073h, 073h, 069h, 062h, 06ch
    db  065h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 069h, 06eh, 070h, 075h, 074h, 020h, 061h, 06eh, 064h, 020h, 06fh, 075h, 074h, 070h, 075h
    db  074h, 020h, 066h, 069h, 06ch, 065h, 020h, 070h, 061h, 074h, 068h, 073h, 020h, 073h, 068h, 06fh
    db  075h, 06ch, 064h, 020h, 062h, 065h, 020h, 070h, 072h, 06fh, 076h, 069h, 064h, 065h, 064h, 020h
    db  077h, 069h, 074h, 068h, 020h, 061h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06fh, 066h, 020h, 032h, 035h, 035h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h
    db  054h, 068h, 065h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh
    db  047h, 054h, 048h, 020h, 073h, 068h, 06fh, 075h, 06ch, 064h, 020h, 062h, 065h, 020h, 061h, 020h
    db  070h, 06fh, 073h, 069h, 074h, 069h, 076h, 065h, 020h, 069h, 06eh, 074h, 065h, 067h, 065h, 072h
    db  02ch, 020h, 074h, 079h, 070h, 069h, 063h, 061h, 06ch, 06ch, 079h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 06eh, 06fh, 074h, 020h, 067h, 072h, 065h, 061h, 074h, 065h
    db  072h, 020h, 074h, 068h, 061h, 06eh, 020h, 032h, 035h, 035h, 073h, 02eh, 00dh, 00ah, 00dh, 00ah
    db  024h, 045h, 058h, 041h, 04dh, 050h, 04ch, 045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h
    db  073h, 020h, 075h, 070h, 020h, 074h, 06fh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h
    db  063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h, 020h, 073h, 061h, 076h, 065h
    db  020h, 069h, 074h, 020h, 074h, 06fh, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h
    db  074h, 020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  020h, 061h, 020h, 064h, 069h, 066h, 066h, 065h, 072h, 065h, 06eh, 074h, 020h, 066h, 069h, 06ch
    db  065h, 02ch, 020h, 027h, 069h, 06eh, 070h, 075h, 074h, 02eh, 074h, 078h, 074h, 027h, 02ch, 020h
    db  077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 075h, 070h, 020h, 074h, 06fh
    db  020h, 031h, 030h, 030h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 063h, 068h, 061h
    db  072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 069h, 06eh, 070h, 075h, 074h, 02eh
    db  074h, 078h, 074h, 020h, 031h, 030h, 030h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 02eh, 074h
    db  078h, 074h, 00dh, 00ah, 00dh, 00ah, 024h, 041h, 055h, 054h, 048h, 04fh, 052h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 057h, 072h, 069h, 074h, 074h, 065h, 06eh, 020h, 062h, 079h
    db  020h, 052h, 06fh, 06bh, 061h, 073h, 020h, 042h, 072h, 061h, 069h, 064h, 06fh, 06bh, 061h, 073h
    db  02eh, 00dh, 00ah, 00dh, 00ah, 024h, 043h, 04fh, 050h, 059h, 052h, 049h, 047h, 048h, 054h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 043h, 06fh, 070h, 079h, 072h, 069h, 067h, 068h
    db  074h, 020h, 032h, 030h, 032h, 034h, 020h, 056h, 055h, 02eh, 00dh, 00ah, 024h
.CODE
;;  SCANNING...
;;           code byte in file : 00000h00200h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00201h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h00202h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00203h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 00461h ], di

;;           code byte in file : 00000h00207h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00208h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00008h
;;                 si register : 0020ah
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h0020ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;                      opcode : 09eh
; UNKNOWN instruction

;;           code byte in file : 00000h0020bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;                      opcode : 000h
; 001h003h002h
    add     byte ptr [ bp + si + 058h ], bl

;;           code byte in file : 00000h0020eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000eh
;;                 si register : 00210h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0020fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00210h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;                      opcode : 03eh


;;           code byte in file : 00000h00211h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;                      opcode : 08bh
    mov     bx, word ptr cs:[ 001feh ]

;;           code byte in file : 00000h00215h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00216h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;                      opcode : 021h
; 002h001h003h
    and     word ptr [ bp + di + 0001eh ], cx

;;           code byte in file : 00000h0021ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;                      opcode : 002h
; 003h001h005h
    add     cl, ch

;;           code byte in file : 00000h0021ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;                      opcode : 021h
; 002h007h000h
    and     word ptr [ bx + si + 04c00h ], di

;;           code byte in file : 00000h00220h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00221h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00021h
;;                 si register : 00223h
;;                      opcode : 021h
; 001h002h000h
    and     word ptr [ bx + si + 052h ], dx

;;           code byte in file : 00000h00224h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00225h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00025h
;;                 si register : 00227h
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h00229h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0022ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 004cfh ], di

;;           code byte in file : 00000h0022eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002eh
;;                 si register : 00230h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0022fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h00232h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00233h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00033h
;;                 si register : 00235h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00234h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00034h
;;                 si register : 00236h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h00235h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00236h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00036h
;;                 si register : 00238h
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0023ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003ah
;;                 si register : 0023ch
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0023bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003bh
;;                 si register : 0023dh
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 004e7h ], di

;;           code byte in file : 00000h0023fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003fh
;;                 si register : 00241h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00240h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00040h
;;                 si register : 00242h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h00243h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00244h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00044h
;;                 si register : 00246h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00245h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h00246h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00247h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0024bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0024ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ch
;;                 si register : 0024eh
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00501h ], di

;;           code byte in file : 00000h00250h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00251h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00051h
;;                 si register : 00253h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h00254h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00054h
;;                 si register : 00256h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00255h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00256h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h00257h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00258h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0025ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005ch
;;                 si register : 0025eh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0025dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005dh
;;                 si register : 0025fh
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00519h ], di

;;           code byte in file : 00000h00261h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00262h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h00265h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00266h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00066h
;;                 si register : 00268h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00267h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00067h
;;                 si register : 00269h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h00268h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00269h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0026dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0026eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00535h ], di

;;           code byte in file : 00000h00272h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00273h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h00276h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00277h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00077h
;;                 si register : 00279h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00278h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00078h
;;                 si register : 0027ah
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h00279h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h0027ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007ah
;;                 si register : 0027ch
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0027eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0027fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00556h ], di

;;           code byte in file : 00000h00283h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00284h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h00287h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00288h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00289h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h0028ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h0028bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0028fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00290h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 0056eh ], di

;;           code byte in file : 00000h00294h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00295h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00095h
;;                 si register : 00297h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h00298h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00098h
;;                 si register : 0029ah
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00299h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h0029ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h0029bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h0029ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009ch
;;                 si register : 0029eh
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h002a0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002a1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 005b4h ], di

;;           code byte in file : 00000h002a5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a5h
;;                 si register : 002a7h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002a6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h002a9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h002aah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h002abh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000abh
;;                 si register : 002adh
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h002ach
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h002adh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000adh
;;                 si register : 002afh
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 00487h ], di

;;           code byte in file : 00000h002b1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002b2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b2h
;;                 si register : 002b4h
;;                      opcode : 021h
; 002h006h004h
    and     word ptr [ si + 0cd08h ], si

;;           code byte in file : 00000h002b6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b6h
;;                 si register : 002b8h
;;                      opcode : 021h
; 002h006h004h
    and     word ptr [ si + 0ba09h ], si

;;           code byte in file : 00000h002bah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bah
;;                 si register : 002bch
;;                      opcode : 0a4h
; UNKNOWN instruction

;;           code byte in file : 00000h002bbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bbh
;;                 si register : 002bdh
;;                      opcode : 004h
    add     al, 0cdh

;;           code byte in file : 00000h002bdh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bdh
;;                 si register : 002bfh
;;                      opcode : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h002c0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c0h
;;                 si register : 002c2h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h002c1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h002c2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h002c3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h002c4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c4h
;;                 si register : 002c6h
;;                      opcode : 009h
; 002h007h002h
    or      word ptr [ bp + si + 005e8h ], di

;;           code byte in file : 00000h002c8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002c9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;                      opcode : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00639h ], di

;;           code byte in file : 00000h002cdh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002ceh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ceh
;;                 si register : 002d0h
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h002d0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;                      opcode : 0d8h
; UNKNOWN instruction

;;           code byte in file : 00000h002d1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h002d2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h002d3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;                      opcode : 0aah
; UNKNOWN instruction

;;           code byte in file : 00000h002d4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;                      opcode : 006h
    push    es

;;           code byte in file : 00000h002d5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002d6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d6h
;;                 si register : 002d8h
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h002d8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d8h
;;                 si register : 002dah
;;                      opcode : 0d0h
; UNKNOWN instruction

;;           code byte in file : 00000h002d9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h002dah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h002dbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dbh
;;                 si register : 002ddh
;;                      opcode : 062h

; UNKNOWN instruction

;;           code byte in file : 00000h002dch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dch
;;                 si register : 002deh
;;                      opcode : 007h
    pop     es

;;           code byte in file : 00000h002ddh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002deh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000deh
;;                 si register : 002e0h
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h002e0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e0h
;;                 si register : 002e2h
;;                      opcode : 0c8h
; UNKNOWN instruction

;;           code byte in file : 00000h002e1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e1h
;;                 si register : 002e3h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h002e2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h002e3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e3h
;;                 si register : 002e5h
;;                      opcode : 07ah
    jp      008h

;;           code byte in file : 00000h002e5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e5h
;;                 si register : 002e7h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002e6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e6h
;;                 si register : 002e8h
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h002e8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;                      opcode : 0c0h
; UNKNOWN instruction

;;           code byte in file : 00000h002e9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h002eah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000eah
;;                 si register : 002ech
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h002ebh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ebh
;;                 si register : 002edh
;;                      opcode : 08dh
    lea     cx, word ptr [ bx + di ]

;;           code byte in file : 00000h002edh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000edh
;;                 si register : 002efh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h002eeh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000eeh
;;                 si register : 002f0h
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h002f0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;                      opcode : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h002f1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f1h
;;                 si register : 002f3h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h002f2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f2h
;;                 si register : 002f4h
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h002f3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f3h
;;                 si register : 002f5h
;;                      opcode : 02dh
    sub     ax, 0cd0bh

;;           code byte in file : 00000h002f6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h002f8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;                      opcode : 0b0h
; UNKNOWN instruction

;;           code byte in file : 00000h002f9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f9h
;;                 si register : 002fbh
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h002fah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h002fbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;                      opcode : 091h
    xchg    ax, cx

;;           code byte in file : 00000h002fch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;                      opcode : 00ch
    or      al, 0cdh

;;           code byte in file : 00000h002feh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000feh
;;                 si register : 00300h
;;                      opcode : 021h
; 003h005h000h
    and     ax, bp

;;  SCANNING...
;;           code byte in file : 00000h00300h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 0a8h
; UNKNOWN instruction

;;           code byte in file : 00000h00301h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00302h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h00303h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;                      opcode : 0c7h
; UNKNOWN instruction

;;           code byte in file : 00000h00304h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;                      opcode : 00dh
    or      ax, 021cdh

;;           code byte in file : 00000h00307h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00308h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00008h
;;                 si register : 0020ah
;;                      opcode : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h00309h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00009h
;;                 si register : 0020bh
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0030ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h0030bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;                      opcode : 0f6h
; UNKNOWN instruction

;;           code byte in file : 00000h0030ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ch
;;                 si register : 0020eh
;;                      opcode : 00dh
    or      ax, 021cdh

;;           code byte in file : 00000h0030fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;                      opcode : 05ah
    pop     dx

;;           code byte in file : 00000h00310h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h00311h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00312h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00313h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;                      opcode : 057h
    push    di

;;           code byte in file : 00000h00314h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00014h
;;                 si register : 00216h
;;                      opcode : 056h
    push    si

;;           code byte in file : 00000h00315h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;                      opcode : 026h


;;           code byte in file : 00000h00316h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;                      opcode : 08ah
    mov     al, byte ptr es:[ di ]

;;           code byte in file : 00000h00318h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00018h
;;                 si register : 0021ah
;;                      opcode : 03ah
; 000h000h004h
    cmp     al, byte ptr [ si ]

;;           code byte in file : 00000h0031ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;                      opcode : 075h
    jne     00343h

;;           code byte in file : 00000h0031ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;                      opcode : 046h
    inc     si

;;           code byte in file : 00000h0031dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;                      opcode : 047h
    inc     di

;;           code byte in file : 00000h0031eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001eh
;;                 si register : 00220h
;;                      opcode : 080h
    cmp     byte ptr [ si ], 000h

;;           code byte in file : 00000h00321h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00021h
;;                 si register : 00223h
;;                      opcode : 074h
    je      008h

;;           code byte in file : 00000h00323h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;                      opcode : 026h


;;           code byte in file : 00000h00324h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;                      opcode : 080h
    cmp     byte ptr es:[ di ], 000h

;;           code byte in file : 00000h00327h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00027h
;;                 si register : 00229h
;;                      opcode : 074h
    je      01ah

;;           code byte in file : 00000h00329h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;                      opcode : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h0032ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;                      opcode : 0eah
; UNKNOWN instruction

;;           code byte in file : 00000h0032bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;                      opcode : 026h


;;           code byte in file : 00000h0032ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ch
;;                 si register : 0022eh
;;                      opcode : 080h
    cmp     byte ptr es:[ di ], 000h

;;           code byte in file : 00000h0032fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;                      opcode : 074h
    je      00fh

;;           code byte in file : 00000h00331h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00031h
;;                 si register : 00233h
;;                      opcode : 026h


;;           code byte in file : 00000h00332h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;                      opcode : 080h
    cmp     byte ptr es:[ di ], 00dh

;;           code byte in file : 00000h00335h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;                      opcode : 074h
    je      009h

;;           code byte in file : 00000h00337h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;                      opcode : 026h


;;           code byte in file : 00000h00338h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00038h
;;                 si register : 0023ah
;;                      opcode : 080h
    cmp     byte ptr es:[ di ], 020h

;;           code byte in file : 00000h0033bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003bh
;;                 si register : 0023dh
;;                      opcode : 074h
    je      003h

;;           code byte in file : 00000h0033dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003dh
;;                 si register : 0023fh
;;                      opcode : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h0033eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003eh
;;                 si register : 00240h
;;                      opcode : 004h
    add     al, 090h

;;           code byte in file : 00000h00340h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00040h
;;                 si register : 00242h
;;                      opcode : 0bbh
; UNKNOWN instruction

;;           code byte in file : 00000h00341h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;                      opcode : 001h
; 000h000h000h
    add     word ptr [ bx + si ], ax

;;           code byte in file : 00000h00343h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;                      opcode : 05eh
    pop     si

;;           code byte in file : 00000h00344h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00044h
;;                 si register : 00246h
;;                      opcode : 05fh
    pop     di

;;           code byte in file : 00000h00345h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h00346h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00347h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;                      opcode : 056h
    push    si

;;           code byte in file : 00000h00348h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;                      opcode : 057h
    push    di

;;           code byte in file : 00000h00349h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00049h
;;                 si register : 0024bh
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h0034ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ah
;;                 si register : 0024ch
;;                      opcode : 071h
    jno     004h

;;           code byte in file : 00000h0034ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ch
;;                 si register : 0024eh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0034dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0034eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004eh
;;                 si register : 00250h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0034fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004fh
;;                 si register : 00251h
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h00352h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00052h
;;                 si register : 00254h
;;                      opcode : 074h
    je      035h

;;           code byte in file : 00000h00354h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00054h
;;                 si register : 00256h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h00355h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 074h
    je      004h

;;           code byte in file : 00000h00357h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00358h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;                      opcode : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h00359h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00059h
;;                 si register : 0025bh
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0035ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005ah
;;                 si register : 0025ch
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h0035dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005dh
;;                 si register : 0025fh
;;                      opcode : 074h
    je      02ah

;;           code byte in file : 00000h0035fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005fh
;;                 si register : 00261h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h00360h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00060h
;;                 si register : 00262h
;;                      opcode : 077h
    ja      004h

;;           code byte in file : 00000h00362h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00363h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;                      opcode : 0adh
; UNKNOWN instruction

;;           code byte in file : 00000h00364h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00064h
;;                 si register : 00266h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00365h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h00368h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;                      opcode : 074h
    je      01fh

;;           code byte in file : 00000h0036ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h0036bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006bh
;;                 si register : 0026dh
;;                      opcode : 07ah
    jp      004h

;;           code byte in file : 00000h0036dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0036eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;                      opcode : 0a2h
; UNKNOWN instruction

;;           code byte in file : 00000h0036fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006fh
;;                 si register : 00271h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00370h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00070h
;;                 si register : 00272h
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h00373h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;                      opcode : 074h
    je      014h

;;           code byte in file : 00000h00375h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00075h
;;                 si register : 00277h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h00376h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;                      opcode : 07dh
    jge     004h

;;           code byte in file : 00000h00378h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00078h
;;                 si register : 0027ah
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00379h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 097h
    xchg    ax, di

;;           code byte in file : 00000h0037ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007ah
;;                 si register : 0027ch
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0037bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h0037eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;                      opcode : 074h
    je      009h

;;           code byte in file : 00000h00380h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00080h
;;                 si register : 00282h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h00381h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00081h
;;                 si register : 00283h
;;                      opcode : 080h
    add     byte ptr [ si ], 0e8h

;;           code byte in file : 00000h00384h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;                      opcode : 08ch
    mov     di, ds

;;           code byte in file : 00000h00386h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00086h
;;                 si register : 00288h
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h00389h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;                      opcode : 05fh
    pop     di

;;           code byte in file : 00000h0038ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 05eh
    pop     si

;;           code byte in file : 00000h0038bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0038ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h0038dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;                      opcode : 051h
    push    cx

;;           code byte in file : 00000h0038eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008eh
;;                 si register : 00290h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h0038fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00390h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;                      opcode : 03ch
    cmp     al, 033h

;;           code byte in file : 00000h00392h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00092h
;;                 si register : 00294h
;;                      opcode : 0c9h
; UNKNOWN instruction

;;           code byte in file : 00000h00393h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00093h
;;                 si register : 00295h
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h00394h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00395h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00095h
;;                 si register : 00297h
;;                      opcode : 000h
; 003h001h005h
    add     ch, cl

;;           code byte in file : 00000h00397h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00097h
;;                 si register : 00299h
;;                      opcode : 021h
; 001h006h003h
    and     word ptr [ bp + di + 009h ], si

;;           code byte in file : 00000h0039ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0039bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;                      opcode : 096h
    xchg    ax, si

;;           code byte in file : 00000h0039ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009ch
;;                 si register : 0029eh
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h0039dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009dh
;;                 si register : 0029fh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0039eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009eh
;;                 si register : 002a0h
;;                      opcode : 021h
; 003h007h007h
    and     di, di

;;           code byte in file : 00000h003a0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h003a1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;                      opcode : 06ch

; UNKNOWN instruction

;;           code byte in file : 00000h003a2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a2h
;;                 si register : 002a4h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h003a3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a3h
;;                 si register : 002a5h
;;                      opcode : 0a3h
; UNKNOWN instruction

;;           code byte in file : 00000h003a4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a4h
;;                 si register : 002a6h
;;                      opcode : 000h
; 000h000h002h
    add     byte ptr [ bp + si ], al

;;           code byte in file : 00000h003a6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;                      opcode : 05ah
    pop     dx

;;           code byte in file : 00000h003a7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;                      opcode : 059h
    pop     cx

;;           code byte in file : 00000h003a8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h003a9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h003aah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 026h


;;           code byte in file : 00000h003abh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000abh
;;                 si register : 002adh
;;                      opcode : 08ah
    mov     al, byte ptr es:[ di ]

;;           code byte in file : 00000h003adh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000adh
;;                 si register : 002afh
;;                      opcode : 03ch
    cmp     al, 020h

;;           code byte in file : 00000h003afh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000afh
;;                 si register : 002b1h
;;                      opcode : 074h
    je      001h

;;           code byte in file : 00000h003b1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h003b2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b2h
;;                 si register : 002b4h
;;                      opcode : 047h
    inc     di

;;           code byte in file : 00000h003b3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;                      opcode : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h003b4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b4h
;;                 si register : 002b6h
;;                      opcode : 0f5h
; UNKNOWN instruction

;;           code byte in file : 00000h003b5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h003b6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b6h
;;                 si register : 002b8h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h003b7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b7h
;;                 si register : 002b9h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h003b8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b8h
;;                 si register : 002bah
;;                      opcode : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h003b9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b9h
;;                 si register : 002bbh
;;                      opcode : 000h
; 000h007h005h
    add     byte ptr [ di ], bh

;;           code byte in file : 00000h003bbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bbh
;;                 si register : 002bdh
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h003bch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bch
;;                 si register : 002beh
;;                      opcode : 000h
; 000h000h000h
    add     byte ptr [ bx + si ], al

;;           code byte in file : 00000h003beh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000beh
;;                 si register : 002c0h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h003bfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bfh
;;                 si register : 002c1h
;;                      opcode : 021h
; 001h006h003h
    and     word ptr [ bp + di + 009h ], si

;;           code byte in file : 00000h003c2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h003c3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;                      opcode : 05dh
    pop     bp

;;           code byte in file : 00000h003c4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c4h
;;                 si register : 002c6h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h003c5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c5h
;;                 si register : 002c7h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h003c6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c6h
;;                 si register : 002c8h
;;                      opcode : 0f9h
; UNKNOWN instruction

;;           code byte in file : 00000h003c7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c7h
;;                 si register : 002c9h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h003c8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h003c9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;                      opcode : 044h
    inc     sp

;;           code byte in file : 00000h003cah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cah
;;                 si register : 002cch
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h003cbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cbh
;;                 si register : 002cdh
;;                      opcode : 0a3h
; UNKNOWN instruction

;;           code byte in file : 00000h003cch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cch
;;                 si register : 002ceh
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h003cdh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;                      opcode : 001h
; 001h003h002h
    add     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h003d0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h003d1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h003d2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h003d3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h003d4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;                      opcode : 0b6h
; UNKNOWN instruction

;;           code byte in file : 00000h003d5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h003d6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d6h
;;                 si register : 002d8h
;;                      opcode : 05ah
    pop     dx

;;           code byte in file : 00000h003d7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d7h
;;                 si register : 002d9h
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h003d8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d8h
;;                 si register : 002dah
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h003d9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h003dah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;                      opcode : 026h


;;           code byte in file : 00000h003dbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dbh
;;                 si register : 002ddh
;;                      opcode : 08ah
    mov     al, byte ptr es:[ di ]

;;           code byte in file : 00000h003ddh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;                      opcode : 03ch
    cmp     al, 022h

;;           code byte in file : 00000h003dfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dfh
;;                 si register : 002e1h
;;                      opcode : 075h
    jne     003e8h

;;           code byte in file : 00000h003e1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e1h
;;                 si register : 002e3h
;;                      opcode : 0bbh
; UNKNOWN instruction

;;           code byte in file : 00000h003e2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;                      opcode : 001h
; 000h000h000h
    add     word ptr [ bx + si ], ax

;;           code byte in file : 00000h003e4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e4h
;;                 si register : 002e6h
;;                      opcode : 088h
    mov     byte ptr [ si ], al

;;           code byte in file : 00000h003e6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e6h
;;                 si register : 002e8h
;;                      opcode : 046h
    inc     si

;;           code byte in file : 00000h003e7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e7h
;;                 si register : 002e9h
;;                      opcode : 047h
    inc     di

;;           code byte in file : 00000h003e8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;                      opcode : 026h


;;           code byte in file : 00000h003e9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;                      opcode : 08ah
    mov     al, byte ptr es:[ di ]

;;           code byte in file : 00000h003ebh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ebh
;;                 si register : 002edh
;;                      opcode : 03ch
    cmp     al, 000h

;;           code byte in file : 00000h003edh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000edh
;;                 si register : 002efh
;;                      opcode : 074h
    je      01ah

;;           code byte in file : 00000h003efh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000efh
;;                 si register : 002f1h
;;                      opcode : 03ch
    cmp     al, 00dh

;;           code byte in file : 00000h003f1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f1h
;;                 si register : 002f3h
;;                      opcode : 074h
    je      016h

;;           code byte in file : 00000h003f3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f3h
;;                 si register : 002f5h
;;                      opcode : 03ch
    cmp     al, 022h

;;           code byte in file : 00000h003f5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f5h
;;                 si register : 002f7h
;;                      opcode : 074h
    je      00fh

;;           code byte in file : 00000h003f7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f7h
;;                 si register : 002f9h
;;                      opcode : 03ch
    cmp     al, 020h

;;           code byte in file : 00000h003f9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f9h
;;                 si register : 002fbh
;;                      opcode : 075h
    jne     00300h

;;           code byte in file : 00000h003fbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h003feh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000feh
;;                 si register : 00300h
;;                      opcode : 075h
    jne     00409h

;;  SCANNING...
;;           code byte in file : 00000h00400h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 088h
    mov     byte ptr [ si ], al

;;           code byte in file : 00000h00402h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;                      opcode : 047h
    inc     di

;;           code byte in file : 00000h00403h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;                      opcode : 046h
    inc     si

;;           code byte in file : 00000h00404h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;                      opcode : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h00405h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00005h
;;                 si register : 00207h
;;                      opcode : 0e2h
; UNKNOWN instruction

;;           code byte in file : 00000h00406h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00006h
;;                 si register : 00208h
;;                      opcode : 047h
    inc     di

;;           code byte in file : 00000h00407h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;                      opcode : 088h
    mov     byte ptr [ si ], al

;;           code byte in file : 00000h00409h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00009h
;;                 si register : 0020bh
;;                      opcode : 046h
    inc     si

;;           code byte in file : 00000h0040ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;                      opcode : 0c6h
; UNKNOWN instruction

;;           code byte in file : 00000h0040bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;                      opcode : 004h
    add     al, 000h

;;           code byte in file : 00000h0040dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000dh
;;                 si register : 0020fh
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h0040eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000eh
;;                 si register : 00210h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0040fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00410h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;                      opcode : 053h
    push    bx

;;           code byte in file : 00000h00411h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;                      opcode : 051h
    push    cx

;;           code byte in file : 00000h00412h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h00413h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;                      opcode : 033h
; 003h000h000h
    xor     ax, ax

;;           code byte in file : 00000h00415h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;                      opcode : 0bbh
; UNKNOWN instruction

;;           code byte in file : 00000h00416h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;                      opcode : 00ah
; 000h000h000h
    or      al, byte ptr [ bx + si ]

;;           code byte in file : 00000h00418h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00018h
;;                 si register : 0021ah
;;                      opcode : 033h
; 003h001h001h
    xor     cx, cx

;;           code byte in file : 00000h0041ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;                      opcode : 026h


;;           code byte in file : 00000h0041bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001bh
;;                 si register : 0021dh
;;                      opcode : 08ah
    mov     cl, byte ptr es:[ di ]

;;           code byte in file : 00000h0041dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;                      opcode : 047h
    inc     di

;;           code byte in file : 00000h0041eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001eh
;;                 si register : 00220h
;;                      opcode : 080h
    cmp     cl, 000h

;;           code byte in file : 00000h00421h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00021h
;;                 si register : 00223h
;;                      opcode : 074h
    je      039h

;;           code byte in file : 00000h00423h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;                      opcode : 080h
    cmp     cl, 020h

;;           code byte in file : 00000h00426h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00026h
;;                 si register : 00228h
;;                      opcode : 074h
    je      034h

;;           code byte in file : 00000h00428h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00028h
;;                 si register : 0022ah
;;                      opcode : 080h
    cmp     cl, 00dh

;;           code byte in file : 00000h0042bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;                      opcode : 074h
    je      02fh

;;           code byte in file : 00000h0042dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002dh
;;                 si register : 0022fh
;;                      opcode : 080h
    cmp     cl, 030h

;;           code byte in file : 00000h00430h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00030h
;;                 si register : 00232h
;;                      opcode : 072h
    jb      018h

;;           code byte in file : 00000h00432h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;                      opcode : 080h
    cmp     cl, 039h

;;           code byte in file : 00000h00435h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;                      opcode : 077h
    ja      013h

;;           code byte in file : 00000h00437h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;                      opcode : 0f7h
; UNKNOWN instruction

;;           code byte in file : 00000h00438h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00038h
;;                 si register : 0023ah
;;                      opcode : 0e3h
; UNKNOWN instruction

;;           code byte in file : 00000h00439h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00039h
;;                 si register : 0023bh
;;                      opcode : 03dh
    cmp     ax, 000ffh

;;           code byte in file : 00000h0043ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003ch
;;                 si register : 0023eh
;;                      opcode : 077h
    ja      015h

;;           code byte in file : 00000h0043eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003eh
;;                 si register : 00240h
;;                      opcode : 080h
    sub     cl, 030h

;;           code byte in file : 00000h00441h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;                      opcode : 003h
; 003h000h001h
    add     ax, cx

;;           code byte in file : 00000h00443h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;                      opcode : 03dh
    cmp     ax, 000ffh

;;           code byte in file : 00000h00446h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;                      opcode : 077h
    ja      00bh

;;           code byte in file : 00000h00448h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;                      opcode : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h00449h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00049h
;;                 si register : 0024bh
;;                      opcode : 0d0h
; UNKNOWN instruction

;;           code byte in file : 00000h0044ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ah
;;                 si register : 0024ch
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0044bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;                      opcode : 03bh
; 003h007h006h
    cmp     di, si

;;           code byte in file : 00000h0044dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0044eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004eh
;;                 si register : 00250h
;;                      opcode : 071h
    jno     0feh

;;           code byte in file : 00000h00450h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00451h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00051h
;;                 si register : 00253h
;;                      opcode : 0bch
; UNKNOWN instruction

;;           code byte in file : 00000h00452h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00052h
;;                 si register : 00254h
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h00453h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00053h
;;                 si register : 00255h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00454h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00054h
;;                 si register : 00256h
;;                      opcode : 043h
    inc     bx

;;           code byte in file : 00000h00455h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h00456h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00457h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;                      opcode : 068h

; UNKNOWN instruction

;;           code byte in file : 00000h00458h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h00459h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00059h
;;                 si register : 0025bh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0045ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005ah
;;                 si register : 0025ch
;;                      opcode : 0b3h
; UNKNOWN instruction

;;           code byte in file : 00000h0045bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005bh
;;                 si register : 0025dh
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h0045ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005ch
;;                 si register : 0025eh
;;                      opcode : 03ch
    cmp     al, 000h

;;           code byte in file : 00000h0045eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005eh
;;                 si register : 00260h
;;                      opcode : 075h
    jne     00463h

;;           code byte in file : 00000h00460h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00060h
;;                 si register : 00262h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00461h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;                      opcode : 025h
    and     ax, 0a2feh

;;           code byte in file : 00000h00464h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00064h
;;                 si register : 00266h
;;                      opcode : 05ch
    pop     sp

;;           code byte in file : 00000h00465h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;                      opcode : 004h
    add     al, 05ah

;;           code byte in file : 00000h00467h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00067h
;;                 si register : 00269h
;;                      opcode : 059h
    pop     cx

;;           code byte in file : 00000h00468h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;                      opcode : 05bh
    pop     bx

;;           code byte in file : 00000h00469h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h0046ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0046bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006bh
;;                 si register : 0026dh
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h0046ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ch
;;                 si register : 0026eh
;;                      opcode : 053h
    push    bx

;;           code byte in file : 00000h0046dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;                      opcode : 051h
    push    cx

;;           code byte in file : 00000h0046eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h0046fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006fh
;;                 si register : 00271h
;;                      opcode : 056h
    push    si

;;           code byte in file : 00000h00470h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00070h
;;                 si register : 00272h
;;                      opcode : 057h
    push    di

;;           code byte in file : 00000h00471h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00071h
;;                 si register : 00273h
;;                      opcode : 026h


;;           code byte in file : 00000h00472h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;                      opcode : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h00473h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;                      opcode : 080h
    add     byte ptr es:[ bx + si ], 03ch

;;           code byte in file : 00000h00476h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;                      opcode : 000h
; 001h006h005h
    add     byte ptr [ di + 009h ], dh

;;           code byte in file : 00000h00479h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0047ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007ah
;;                 si register : 0027ch
;;                      opcode : 0eah
; UNKNOWN instruction

;;           code byte in file : 00000h0047bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h0047ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007ch
;;                 si register : 0027eh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0047dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007dh
;;                 si register : 0027fh
;;                      opcode : 042h
    inc     dx

;;           code byte in file : 00000h0047eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h0047fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00480h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00080h
;;                 si register : 00282h
;;                      opcode : 08dh
    lea     di, bp

;;           code byte in file : 00000h00482h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00082h
;;                 si register : 00284h
;;                      opcode : 0bfh
; UNKNOWN instruction

;;           code byte in file : 00000h00483h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;                      opcode : 081h
    add     word ptr [ bx + si ], 022e8h

;;           code byte in file : 00000h00487h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00488h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00489h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;                      opcode : 0bch
; UNKNOWN instruction

;;           code byte in file : 00000h0048ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h0048bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;                      opcode : 083h
    cmp     bx, 00001h

;;           code byte in file : 00000h0048eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008eh
;;                 si register : 00290h
;;                      opcode : 075h
    jne     00496h

;;           code byte in file : 00000h00490h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00491h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00091h
;;                 si register : 00293h
;;                      opcode : 02eh


;;           code byte in file : 00000h00492h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00092h
;;                 si register : 00294h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h00493h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00093h
;;                 si register : 00295h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00494h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;                      opcode : 079h
    jns     0fdh

;;           code byte in file : 00000h00496h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00096h
;;                 si register : 00298h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h00497h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00097h
;;                 si register : 00299h
;;                      opcode : 000h
; 000h000h000h
    add     byte ptr ds:[ bx + si ], al

;;           code byte in file : 00000h00499h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0049ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;                      opcode : 03dh
    cmp     ax, 0e8ffh

;;           code byte in file : 00000h0049dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009dh
;;                 si register : 0029fh
;;                      opcode : 00bh
; 003h007h007h
    or      di, di

;;           code byte in file : 00000h0049fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009fh
;;                 si register : 002a1h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h004a0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;                      opcode : 05ch
    pop     sp

;;           code byte in file : 00000h004a1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;                      opcode : 004h
    add     al, 0e8h

;;           code byte in file : 00000h004a3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a3h
;;                 si register : 002a5h
;;                      opcode : 06ah

; UNKNOWN instruction

;;           code byte in file : 00000h004a4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a4h
;;                 si register : 002a6h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h004a5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a5h
;;                 si register : 002a7h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h004a6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;                      opcode : 002h
; 003h007h007h
    add     bh, bh

;;           code byte in file : 00000h004a8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h004a9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h004aah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 000h
; 003h005h000h
    add     al, ch

;;           code byte in file : 00000h004ach
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;                      opcode : 02bh
; 003h007h007h
    sub     di, di

;;           code byte in file : 00000h004aeh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h004afh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000afh
;;                 si register : 002b1h
;;                      opcode : 0f9h
; UNKNOWN instruction

;;           code byte in file : 00000h004b0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b0h
;;                 si register : 002b2h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h004b1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;                      opcode : 033h
; 003h000h000h
    xor     ax, ax

;;           code byte in file : 00000h004b3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;                      opcode : 026h


;;           code byte in file : 00000h004b4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b4h
;;                 si register : 002b6h
;;                      opcode : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h004b5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;                      opcode : 080h
    add     byte ptr es:[ bx + si ], 005h

;;           code byte in file : 00000h004b8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000b8h
;;                 si register : 002bah
;;                      opcode : 081h
    add     word ptr [ bx + si ], 0c73bh

;;           code byte in file : 00000h004bch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bch
;;                 si register : 002beh
;;                      opcode : 074h
    je      009h

;;           code byte in file : 00000h004beh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000beh
;;                 si register : 002c0h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h004bfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000bfh
;;                 si register : 002c1h
;;                      opcode : 0b6h
; UNKNOWN instruction

;;           code byte in file : 00000h004c0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c0h
;;                 si register : 002c2h
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h004c1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h004c2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h004c3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h004c4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c4h
;;                 si register : 002c6h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h004c5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c5h
;;                 si register : 002c7h
;;                      opcode : 048h
    dec     ax

;;           code byte in file : 00000h004c6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c6h
;;                 si register : 002c8h
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h004c7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c7h
;;                 si register : 002c9h
;;                      opcode : 05fh
    pop     di

;;           code byte in file : 00000h004c8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;                      opcode : 05eh
    pop     si

;;           code byte in file : 00000h004c9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;                      opcode : 05ah
    pop     dx

;;           code byte in file : 00000h004cah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cah
;;                 si register : 002cch
;;                      opcode : 059h
    pop     cx

;;           code byte in file : 00000h004cbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cbh
;;                 si register : 002cdh
;;                      opcode : 05bh
    pop     bx

;;           code byte in file : 00000h004cch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cch
;;                 si register : 002ceh
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h004cdh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h004ceh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ceh
;;                 si register : 002d0h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h004cfh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000cfh
;;                 si register : 002d1h
;;                      opcode : 053h
    push    bx

;;           code byte in file : 00000h004d0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;                      opcode : 051h
    push    cx

;;           code byte in file : 00000h004d1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h004d2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;                      opcode : 056h
    push    si

;;           code byte in file : 00000h004d3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h004d4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;                      opcode : 05dh
    pop     bp

;;           code byte in file : 00000h004d5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;                      opcode : 004h
    add     al, 08bh

;;           code byte in file : 00000h004d7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d7h
;;                 si register : 002d9h
;;                      opcode : 00ch
    or      al, 08bh

;;           code byte in file : 00000h004d9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;                      opcode : 054h
    push    sp

;;           code byte in file : 00000h004dah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;                      opcode : 002h
; 000h000h002h
    add     al, byte ptr [ bp + si ]

;;           code byte in file : 00000h004dch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000dch
;;                 si register : 002deh
;;                      opcode : 0d4h
; UNKNOWN instruction

;;           code byte in file : 00000h004ddh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;                      opcode : 080h
    adc     dh, 000h

;;           code byte in file : 00000h004e0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e0h
;;                 si register : 002e2h
;;                      opcode : 083h
    adc     cx, 00000h

;;           code byte in file : 00000h004e3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e3h
;;                 si register : 002e5h
;;                      opcode : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h004e4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e4h
;;                 si register : 002e6h
;;                      opcode : 000h
; 001h000h002h
    add     byte ptr [ bp + si + 08bh ], al

;;           code byte in file : 00000h004e7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e7h
;;                 si register : 002e9h
;;                      opcode : 01eh
    push    ds

;;           code byte in file : 00000h004e8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h004e9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;                      opcode : 001h
; 003h001h005h
    add     bp, cx

;;           code byte in file : 00000h004ebh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ebh
;;                 si register : 002edh
;;                      opcode : 021h
; 002h001h001h
    and     word ptr [ bx + di + 08914h ], cx

;;           code byte in file : 00000h004efh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000efh
;;                 si register : 002f1h
;;                      opcode : 044h
    inc     sp

;;           code byte in file : 00000h004f0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;                      opcode : 002h
; 001h003h006h
    add     bl, byte ptr [ bp + 05ah ]

;;           code byte in file : 00000h004f3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f3h
;;                 si register : 002f5h
;;                      opcode : 059h
    pop     cx

;;           code byte in file : 00000h004f4h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f4h
;;                 si register : 002f6h
;;                      opcode : 05bh
    pop     bx

;;           code byte in file : 00000h004f5h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f5h
;;                 si register : 002f7h
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h004f6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h004f7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f7h
;;                 si register : 002f9h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h004f8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;                      opcode : 053h
    push    bx

;;           code byte in file : 00000h004f9h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000f9h
;;                 si register : 002fbh
;;                      opcode : 051h
    push    cx

;;           code byte in file : 00000h004fah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h004fbh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;                      opcode : 057h
    push    di

;;           code byte in file : 00000h004fch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;                      opcode : 033h
; 003h001h001h
    xor     cx, cx

;;           code byte in file : 00000h004feh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000feh
;;                 si register : 00300h
;;                      opcode : 08ah
    mov     cl, ah

;;  SCANNING...
;;           code byte in file : 00000h00500h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h00501h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;                      opcode : 030h
; 000h000h003h
    xor     byte ptr [ bp + di ], al

;;           code byte in file : 00000h00503h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h00504h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;                      opcode : 040h
    inc     ax

;;           code byte in file : 00000h00505h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00005h
;;                 si register : 00207h
;;                      opcode : 080h
    cmp     bh, 000h

;;           code byte in file : 00000h00508h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00008h
;;                 si register : 0020ah
;;                      opcode : 074h
    je      006h

;;           code byte in file : 00000h0050ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;                      opcode : 083h
    add     cx, 00002h

;;           code byte in file : 00000h0050dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0000dh
;;                 si register : 0020fh
;;                      opcode : 083h
    sub     dx, 00002h

;;           code byte in file : 00000h00510h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;                      opcode : 08bh
    mov     bx, word ptr [ 00200h ]

;;           code byte in file : 00000h00514h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00014h
;;                 si register : 00216h
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h00515h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;                      opcode : 021h
; 001h006h002h
    and     word ptr [ bp + si + 003h ], si

;;           code byte in file : 00000h00518h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00018h
;;                 si register : 0021ah
;;                      opcode : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h00519h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00019h
;;                 si register : 0021bh
;;                      opcode : 007h
    pop     es

;;           code byte in file : 00000h0051ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;                      opcode : 090h
    nop     

;;           code byte in file : 00000h0051bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001bh
;;                 si register : 0021dh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0051ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;                      opcode : 037h
    aaa     

;;           code byte in file : 00000h0051dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;                      opcode : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h0051eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001eh
;;                 si register : 00220h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0051fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0001fh
;;                 si register : 00221h
;;                      opcode : 0eeh
; UNKNOWN instruction

;;           code byte in file : 00000h00520h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;                      opcode : 0fch
; UNKNOWN instruction

;;           code byte in file : 00000h00521h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00021h
;;                 si register : 00223h
;;                      opcode : 05fh
    pop     di

;;           code byte in file : 00000h00522h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00022h
;;                 si register : 00224h
;;                      opcode : 05ah
    pop     dx

;;           code byte in file : 00000h00523h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;                      opcode : 059h
    pop     cx

;;           code byte in file : 00000h00524h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;                      opcode : 05bh
    pop     bx

;;           code byte in file : 00000h00525h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00025h
;;                 si register : 00227h
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h00526h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00026h
;;                 si register : 00228h
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h00527h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00027h
;;                 si register : 00229h
;;                      opcode : 050h
    push    ax

;;           code byte in file : 00000h00528h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00028h
;;                 si register : 0022ah
;;                      opcode : 053h
    push    bx

;;           code byte in file : 00000h00529h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;                      opcode : 051h
    push    cx

;;           code byte in file : 00000h0052ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;                      opcode : 052h
    push    dx

;;           code byte in file : 00000h0052bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;                      opcode : 056h
    push    si

;;           code byte in file : 00000h0052ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002ch
;;                 si register : 0022eh
;;                      opcode : 057h
    push    di

;;           code byte in file : 00000h0052dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002dh
;;                 si register : 0022fh
;;                      opcode : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h0052eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002eh
;;                 si register : 00230h
;;                      opcode : 03fh
    aas     

;;           code byte in file : 00000h0052fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;                      opcode : 053h
    push    bx

;;           code byte in file : 00000h00530h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00030h
;;                 si register : 00232h
;;                      opcode : 08bh
    mov     bx, word ptr [ 001feh ]

;;           code byte in file : 00000h00534h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00034h
;;                 si register : 00236h
;;                      opcode : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h00535h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;                      opcode : 002h
; 000h000h002h
    add     al, byte ptr [ bp + si ]

;;           code byte in file : 00000h00537h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;                      opcode : 033h
; 003h001h001h
    xor     cx, cx

;;           code byte in file : 00000h00539h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00039h
;;                 si register : 0023bh
;;                      opcode : 08ah
    mov     cl, byte ptr [ 0045ch ]

;;           code byte in file : 00000h0053dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003dh
;;                 si register : 0023fh
;;                      opcode : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0053eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0003eh
;;                 si register : 00240h
;;                      opcode : 021h
; 001h003h003h
    and     word ptr [ bp + di + 072h ], bx

;;           code byte in file : 00000h00541h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;                      opcode : 049h
    dec     cx

;;           code byte in file : 00000h00542h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00042h
;;                 si register : 00244h
;;                      opcode : 03dh
    cmp     ax, 00000h

;;           code byte in file : 00000h00545h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;                      opcode : 074h
    je      03dh

;;           code byte in file : 00000h00547h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;                      opcode : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h00548h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;                      opcode : 002h
; 000h000h002h
    add     al, byte ptr [ bp + si ]

;;           code byte in file : 00000h0054ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004ah
;;                 si register : 0024ch
;;                      opcode : 0bfh
; UNKNOWN instruction

;;           code byte in file : 00000h0054bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;                      opcode : 030h
; 000h000h003h
    xor     byte ptr [ bp + di ], al

;;           code byte in file : 00000h0054dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;                      opcode : 08ah
    mov     bl, al

;;           code byte in file : 00000h0054fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0004fh
;;                 si register : 00251h
;;                      opcode : 08ah
    mov     al, byte ptr [ si ]

;;           code byte in file : 00000h00551h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00051h
;;                 si register : 00253h
;;                      opcode : 03ch
    cmp     al, 000h

;;           code byte in file : 00000h00553h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00053h
;;                 si register : 00255h
;;                      opcode : 075h
    jne     0055dh

;;           code byte in file : 00000h00555h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00556h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;                      opcode : 09fh
; UNKNOWN instruction

;;           code byte in file : 00000h00557h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00558h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;                      opcode : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h00559h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00059h
;;                 si register : 0025bh
;;                      opcode : 001h
; 003h005h003h
    add     bx, bp

;;           code byte in file : 00000h0055bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005bh
;;                 si register : 0025dh
;;                      opcode : 028h
; 002h002h000h
    sub     byte ptr [ bx + si + 00d3ch ], dl

;;           code byte in file : 00000h0055fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0005fh
;;                 si register : 00261h
;;                      opcode : 075h
    jne     0056eh

;;           code byte in file : 00000h00561h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00562h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;                      opcode : 093h
    xchg    ax, bx

;;           code byte in file : 00000h00563h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00564h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00064h
;;                 si register : 00266h
;;                      opcode : 080h
    add     ah, 002h

;;           code byte in file : 00000h00567h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00067h
;;                 si register : 00269h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00568h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;                      opcode : 064h

; UNKNOWN instruction

;;           code byte in file : 00000h00569h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0056ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;                      opcode : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h0056bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006bh
;;                 si register : 0026dh
;;                      opcode : 001h
; 003h005h003h
    add     bx, bp

;;           code byte in file : 00000h0056dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;                      opcode : 0bfh
; UNKNOWN instruction

;;           code byte in file : 00000h0056eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;                      opcode : 088h
    mov     byte ptr [ di ], al

;;           code byte in file : 00000h00570h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00070h
;;                 si register : 00272h
;;                      opcode : 046h
    inc     si

;;           code byte in file : 00000h00571h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00071h
;;                 si register : 00273h
;;                      opcode : 047h
    inc     di

;;           code byte in file : 00000h00572h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h00573h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;                      opcode : 0c4h
; UNKNOWN instruction

;;           code byte in file : 00000h00574h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00074h
;;                 si register : 00276h
;;                      opcode : 03ah
; 003h004h003h
    cmp     ah, bl

;;           code byte in file : 00000h00576h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;                      opcode : 075h
    jne     00582h

;;           code byte in file : 00000h00578h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00078h
;;                 si register : 0027ah
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h00579h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;                      opcode : 07ch
    jl      0ffh

;;           code byte in file : 00000h0057bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;                      opcode : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h0057ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007ch
;;                 si register : 0027eh
;;                      opcode : 001h
; 003h005h000h
    add     ax, bp

;;           code byte in file : 00000h0057eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;                      opcode : 04eh
    dec     si

;;           code byte in file : 00000h0057fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;                      opcode : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h00580h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00080h
;;                 si register : 00282h
;;                      opcode : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h00581h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00081h
;;                 si register : 00283h
;;                      opcode : 0abh
; UNKNOWN instruction

;;           code byte in file : 00000h00582h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00082h
;;                 si register : 00284h
;;                      opcode : 0e2h
; UNKNOWN instruction

;;           code byte in file : 00000h00583h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;                      opcode : 0cbh
; UNKNOWN instruction

;;           code byte in file : 00000h00584h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;                      opcode : 05fh
    pop     di

;;           code byte in file : 00000h00585h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00085h
;;                 si register : 00287h
;;                      opcode : 05eh
    pop     si

;;           code byte in file : 00000h00586h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00086h
;;                 si register : 00288h
;;                      opcode : 05ah
    pop     dx

;;           code byte in file : 00000h00587h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;                      opcode : 059h
    pop     cx

;;           code byte in file : 00000h00588h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;                      opcode : 05bh
    pop     bx

;;           code byte in file : 00000h00589h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;                      opcode : 058h
    pop     ax

;;           code byte in file : 00000h0058ah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;                      opcode : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0058bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0058ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;                      opcode : 0b6h
; UNKNOWN instruction

;;           code byte in file : 00000h0058dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;                      opcode : 0fch
; UNKNOWN instruction

;;           code byte in file : 00000h0058eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008eh
;;                 si register : 00290h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0058fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;                      opcode : 07eh
    jle     0fch

;;           code byte in file : 00000h00591h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00091h
;;                 si register : 00293h
;;                      opcode : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h00592h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00092h
;;                 si register : 00294h
;;                      opcode : 03bh
; 000h000h000h
    cmp     ax, word ptr [ bx + si ]

;;           code byte in file : 00000h00594h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;                      opcode : 08eh
    mov     ds, ax

;;           code byte in file : 00000h00596h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00096h
;;                 si register : 00298h
;;                      opcode : 0bfh
; UNKNOWN instruction

;;           code byte in file : 00000h00597h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 00097h
;;                 si register : 00299h
;;                      opcode : 081h
    add     word ptr [ bx + si ], 0cfe8h

;;           code byte in file : 00000h0059bh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h0059ch
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009ch
;;                 si register : 0029eh
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0059dh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009dh
;;                 si register : 0029fh
;;                      opcode : 017h
    pop     ss

;;           code byte in file : 00000h0059eh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009eh
;;                 si register : 002a0h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h0059fh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 0009fh
;;                 si register : 002a1h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h005a0h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;                      opcode : 02fh
    das     

;;           code byte in file : 00000h005a1h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;                      opcode : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h005a2h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a2h
;;                 si register : 002a4h
;;                      opcode : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h005a3h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a3h
;;                 si register : 002a5h
;;                      opcode : 082h
    cmp     bh, 0e8h

;;           code byte in file : 00000h005a6h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;                      opcode : 067h

; UNKNOWN instruction

;;           code byte in file : 00000h005a7h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;                      opcode : 0fch
; UNKNOWN instruction

;;           code byte in file : 00000h005a8h
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;                      opcode : 000h
; 000h000h000h
    add     byte ptr [ bx + si ], al

;;           code byte in file : 00000h005aah
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;                      opcode : 000h
; 000h000h000h
    add     byte ptr [ bx + si ], al

;;           code byte in file : 00000h005ach
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;                      opcode : 000h
; 000h000h000h
    add     byte ptr [ bx + si ], al

;;           code byte in file : 00000h005aeh
;;     data start byte in file : 00000h005b0h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;                      opcode : 000h
; 000h000h000h
    add     byte ptr [ bx + si ], al

END