.MODEL SMALL
.STACK  0100h

.DATA
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 00dh, 00ah
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 044h, 065h, 062h, 075h, 067h, 020h, 06dh, 065h, 073h, 073h, 061h, 067h, 065h, 00dh, 00ah
    db  024h, 02fh, 03fh, 000h, 02fh, 068h, 000h, 02fh, 048h, 000h, 02dh, 068h, 000h, 02dh, 048h, 000h
    db  02dh, 02dh, 068h, 065h, 06ch, 070h, 000h, 050h, 072h, 065h, 073h, 073h, 020h, 061h, 06eh, 079h
    db  020h, 06bh, 065h, 079h, 020h, 074h, 06fh, 020h, 063h, 06fh, 06eh, 074h, 069h, 06eh, 075h, 065h
    db  02eh, 02eh, 02eh, 024h, 00dh, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 00dh, 024h, 00ah, 045h, 052h, 052h, 04fh, 052h, 03ah, 020h, 024h, 046h
    db  061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 06fh, 070h, 065h, 06eh, 020h, 066h, 069h
    db  06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh
    db  020h, 063h, 072h, 065h, 061h, 074h, 065h, 020h, 066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah
    db  024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 072h, 065h, 061h, 064h, 020h
    db  066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h
    db  074h, 06fh, 020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 066h, 069h, 06ch, 065h
    db  021h, 00dh, 00ah, 00ah, 024h, 050h, 061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 020h
    db  061h, 072h, 065h, 020h, 06eh, 06fh, 074h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h
    db  064h, 021h, 00dh, 00ah, 00ah, 024h, 054h, 06fh, 06fh, 020h, 06dh, 061h, 06eh, 079h, 020h, 070h
    db  061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 021h, 00dh, 00ah, 00ah, 024h, 049h, 06eh
    db  076h, 061h, 06ch, 069h, 064h, 020h, 06ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 021h, 020h, 043h, 061h, 06eh, 027h, 074h, 020h, 068h, 061h, 076h, 065h, 020h, 073h, 079h
    db  06dh, 062h, 06fh, 06ch, 073h, 020h, 06fh, 072h, 020h, 06eh, 075h, 06dh, 062h, 065h, 072h, 020h
    db  065h, 071h, 075h, 061h, 06ch, 020h, 074h, 06fh, 020h, 07ah, 065h, 072h, 06fh, 021h, 021h, 021h
    db  00dh, 00ah, 00ah, 024h, 04ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 020h
    db  069h, 073h, 020h, 074h, 06fh, 06fh, 020h, 062h, 069h, 067h, 021h, 020h, 053h, 068h, 06fh, 075h
    db  06ch, 064h, 020h, 062h, 065h, 020h, 032h, 035h, 035h, 020h, 06fh, 072h, 020h, 06ch, 065h, 073h
    db  073h, 021h, 021h, 021h, 00dh, 00ah, 00ah, 024h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 041h, 04dh, 045h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 020h, 053h, 070h
    db  06ch, 069h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h, 06ch, 065h, 020h, 069h, 06eh
    db  074h, 06fh, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 06fh, 066h, 020h, 073h, 070h, 065h, 063h
    db  069h, 066h, 069h, 065h, 064h, 020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h
    db  020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 061h, 020h, 06eh, 065h, 077h, 020h
    db  066h, 069h, 06ch, 065h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 053h, 059h, 04eh, 04fh, 050h, 053h
    db  049h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 04dh, 041h, 058h, 05fh
    db  04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 020h, 04fh, 055h, 054h, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 03fh, 00dh, 00ah, 00dh, 00ah, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 068h, 00dh, 00ah, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 048h
    db  00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 02dh, 068h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh
    db  074h, 072h, 061h, 020h, 02dh, 048h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 02dh, 068h, 065h, 06ch, 070h, 00dh, 00ah, 00dh
    db  00ah, 024h, 044h, 045h, 053h, 043h, 052h, 049h, 050h, 054h, 049h, 04fh, 04eh, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 072h, 065h, 061h, 064h
    db  073h, 020h, 074h, 068h, 065h, 020h, 063h, 06fh, 06eh, 074h, 065h, 06eh, 074h, 073h, 020h, 06fh
    db  066h, 020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 061h, 06eh, 064h
    db  020h, 073h, 070h, 06ch, 069h, 074h, 073h, 020h, 069h, 074h, 073h, 020h, 074h, 065h, 078h, 074h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 069h, 06eh, 074h, 06fh, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 02ch, 020h, 065h, 06eh, 073h, 075h, 072h, 069h, 06eh, 067h, 020h, 065h, 061h
    db  063h, 068h, 020h, 06ch, 069h, 06eh, 065h, 020h, 064h, 06fh, 065h, 073h, 020h, 06eh, 06fh, 074h
    db  020h, 065h, 078h, 063h, 065h, 065h, 064h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h
    db  05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh, 020h, 054h, 068h, 065h, 020h
    db  06fh, 075h, 074h, 070h, 075h, 074h, 020h, 069h, 073h, 020h, 077h, 072h, 069h, 074h, 074h, 065h
    db  06eh, 020h, 074h, 06fh, 020h, 04fh, 055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h
    db  02ch, 020h, 077h, 069h, 074h, 068h, 020h, 065h, 061h, 063h, 068h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 06ch, 069h, 06eh, 065h, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 074h
    db  065h, 064h, 020h, 061h, 063h, 063h, 06fh, 072h, 064h, 069h, 06eh, 067h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 064h, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 045h, 078h, 061h, 06dh, 070h, 06ch, 065h, 03ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 066h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 073h, 020h
    db  061h, 020h, 06ch, 06fh, 06eh, 067h, 020h, 062h, 06ch, 06fh, 063h, 06bh, 020h, 06fh, 066h, 020h
    db  074h, 065h, 078h, 074h, 02ch, 020h, 072h, 075h, 06eh, 06eh, 069h, 06eh, 067h, 03ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h, 074h
    db  020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 077h, 069h, 06ch, 06ch, 020h
    db  063h, 072h, 065h, 061h, 074h, 065h, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  02ch, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h, 06eh
    db  065h, 020h, 069h, 073h, 020h, 06eh, 06fh, 020h, 06ch, 06fh, 06eh, 067h, 065h, 072h, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 074h, 068h
    db  061h, 06eh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h
    db  02ch, 020h, 062h, 061h, 073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 069h
    db  06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 069h, 06eh, 020h, 027h, 064h, 075h
    db  06fh, 06dh, 02eh, 074h, 078h, 074h, 027h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04fh, 050h, 054h
    db  049h, 04fh, 04eh, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 04eh, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h
    db  020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h, 074h, 068h, 065h
    db  020h, 066h, 069h, 06ch, 065h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 069h, 06eh, 067h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  074h, 068h, 065h, 020h, 074h, 065h, 078h, 074h, 020h, 074h, 06fh, 020h, 062h, 065h, 020h, 070h
    db  072h, 06fh, 063h, 065h, 073h, 073h, 065h, 064h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h
    db  048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 06dh
    db  061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 061h, 06ch, 06ch, 06fh, 077h, 065h, 064h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 020h, 06fh, 066h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h
    db  06eh, 065h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 069h, 06eh, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh
    db  020h, 04ch, 069h, 06eh, 065h, 073h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h, 065h, 020h, 077h
    db  072h, 061h, 070h, 070h, 065h, 064h, 020h, 061h, 074h, 020h, 074h, 068h, 069h, 073h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 04fh
    db  055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h
    db  069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 066h, 069h, 06ch, 065h, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 074h
    db  068h, 065h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 028h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  074h, 065h, 064h, 020h, 074h, 065h, 078h, 074h, 029h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h
    db  065h, 020h, 073h, 061h, 076h, 065h, 064h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 04fh, 054h
    db  045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 070h, 072h, 06fh, 067h, 072h, 061h, 06dh, 020h, 072h, 065h, 061h, 064h, 073h, 020h, 074h
    db  068h, 065h, 020h, 069h, 06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h
    db  06ch, 065h, 020h, 061h, 06eh, 064h, 020h, 062h, 072h, 065h, 061h, 06bh, 073h, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 062h, 061h
    db  073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h
    db  066h, 069h, 065h, 064h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 020h, 06ch
    db  069h, 06dh, 069h, 074h, 02ch, 020h, 069h, 066h, 020h, 070h, 06fh, 073h, 073h, 069h, 062h, 06ch
    db  065h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 069h, 06eh, 070h, 075h, 074h, 020h, 061h, 06eh, 064h, 020h, 06fh, 075h, 074h, 070h, 075h
    db  074h, 020h, 066h, 069h, 06ch, 065h, 020h, 070h, 061h, 074h, 068h, 073h, 020h, 073h, 068h, 06fh
    db  075h, 06ch, 064h, 020h, 062h, 065h, 020h, 070h, 072h, 06fh, 076h, 069h, 064h, 065h, 064h, 020h
    db  077h, 069h, 074h, 068h, 020h, 061h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06fh, 066h, 020h, 032h, 035h, 035h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h
    db  054h, 068h, 065h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh
    db  047h, 054h, 048h, 020h, 073h, 068h, 06fh, 075h, 06ch, 064h, 020h, 062h, 065h, 020h, 061h, 020h
    db  070h, 06fh, 073h, 069h, 074h, 069h, 076h, 065h, 020h, 069h, 06eh, 074h, 065h, 067h, 065h, 072h
    db  02ch, 020h, 074h, 079h, 070h, 069h, 063h, 061h, 06ch, 06ch, 079h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 06eh, 06fh, 074h, 020h, 067h, 072h, 065h, 061h, 074h, 065h
    db  072h, 020h, 074h, 068h, 061h, 06eh, 020h, 032h, 035h, 035h, 073h, 02eh, 00dh, 00ah, 00dh, 00ah
    db  024h, 045h, 058h, 041h, 04dh, 050h, 04ch, 045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h
    db  073h, 020h, 075h, 070h, 020h, 074h, 06fh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h
    db  063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h, 020h, 073h, 061h, 076h, 065h
    db  020h, 069h, 074h, 020h, 074h, 06fh, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h
    db  074h, 020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  020h, 061h, 020h, 064h, 069h, 066h, 066h, 065h, 072h, 065h, 06eh, 074h, 020h, 066h, 069h, 06ch
    db  065h, 02ch, 020h, 027h, 069h, 06eh, 070h, 075h, 074h, 02eh, 074h, 078h, 074h, 027h, 02ch, 020h
    db  077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 075h, 070h, 020h, 074h, 06fh
    db  020h, 031h, 030h, 030h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 063h, 068h, 061h
    db  072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 069h, 06eh, 070h, 075h, 074h, 02eh
    db  074h, 078h, 074h, 020h, 031h, 030h, 030h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 02eh, 074h
    db  078h, 074h, 00dh, 00ah, 00dh, 00ah, 024h, 041h, 055h, 054h, 048h, 04fh, 052h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 057h, 072h, 069h, 074h, 074h, 065h, 06eh, 020h, 062h, 079h
    db  020h, 052h, 06fh, 06bh, 061h, 073h, 020h, 042h, 072h, 061h, 069h, 064h, 06fh, 06bh, 061h, 073h
    db  02eh, 00dh, 00ah, 00dh, 00ah, 024h, 043h, 04fh, 050h, 059h, 052h, 049h, 047h, 048h, 054h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 043h, 06fh, 070h, 079h, 072h, 069h, 067h, 068h
    db  074h, 020h, 032h, 030h, 032h, 034h, 020h, 056h, 055h, 02eh, 00dh, 00ah, 024h
.CODE
;;  SCANNING...
; 0000h0200h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0201h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0202h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h0203h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h0204h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0205h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0206h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0207h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0208h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0209h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h020ah
; 0000h05b0h
; 09eh
; UNKNOWN instruction

; 0000h020bh
; 0000h05b0h
; 000h05ah
    ADD al, 


; 0000h020dh
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h020eh
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h020fh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0210h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h0211h
; 0000h05b0h
; 03eh
; UNKNOWN instruction

; 0000h0212h
; 0000h05b0h
; 08bh
; UNKNOWN instruction

; 0000h0213h
; 0000h05b0h
; 01eh
; UNKNOWN instruction

; 0000h0214h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0215h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0216h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0217h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0218h
; 0000h05b0h
; 08bh
; UNKNOWN instruction

; 0000h0219h
; 0000h05b0h
; 01eh
; UNKNOWN instruction

; 0000h021ah
; 0000h05b0h
; 000h002h
    ADD al, 


; 0000h021ch
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h021dh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h021eh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h021fh
; 0000h05b0h
; 0b8h
; UNKNOWN instruction

; 0000h0220h
; 0000h05b0h
; 000h04ch
    ADD al, 


; 0000h0222h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0223h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0224h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0225h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0226h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0227h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h0228h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h0229h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h022ah
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h022bh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h022ch
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h022dh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h022eh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h022fh
; 0000h05b0h
; 0cfh
; UNKNOWN instruction

; 0000h0230h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0231h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0232h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0233h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0234h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0235h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0236h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0237h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0238h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h0239h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h023ah
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h023bh
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h023ch
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h023dh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h023eh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h023fh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0240h
; 0000h05b0h
; 0e7h
; UNKNOWN instruction

; 0000h0241h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0242h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0243h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0244h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0245h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0246h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0247h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0248h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0249h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h024ah
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h024bh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h024ch
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h024dh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h024eh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h024fh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0250h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0251h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0252h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h0253h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0254h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0255h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0256h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0257h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0258h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0259h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h025ah
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h025bh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h025ch
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h025dh
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h025eh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h025fh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0260h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0261h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0262h
; 0000h05b0h
; 019h
; UNKNOWN instruction

; 0000h0263h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h0264h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0265h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0266h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0267h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0268h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0269h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h026ah
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h026bh
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h026ch
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h026dh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h026eh
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h026fh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0270h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0271h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0272h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0273h
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h0274h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h0275h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0276h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0277h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0278h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0279h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h027ah
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h027bh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h027ch
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h027dh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h027eh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h027fh
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h0280h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0281h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0282h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0283h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0284h
; 0000h05b0h
; 056h
; UNKNOWN instruction

; 0000h0285h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h0286h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0287h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0288h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0289h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h028ah
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h028bh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h028ch
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h028dh
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h028eh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h028fh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0290h
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h0291h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0292h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0293h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0294h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0295h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0296h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h0297h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0298h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0299h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h029ah
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h029bh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h029ch
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h029dh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h029eh
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h029fh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h02a0h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02a1h
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h02a2h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h02a3h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02a4h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02a5h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02a6h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h02a7h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h02a8h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02a9h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02aah
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h02abh
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h02ach
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h02adh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h02aeh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h02afh
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h02b0h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h02b1h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02b2h
; 0000h05b0h
; 087h
; UNKNOWN instruction

; 0000h02b3h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h02b4h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02b5h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02b6h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h02b7h
; 0000h05b0h
; 008h
; UNKNOWN instruction

; 0000h02b8h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02b9h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02bah
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h02bbh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h02bch
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02bdh
; 0000h05b0h
; 0a4h
; UNKNOWN instruction

; 0000h02beh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h02bfh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02c0h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02c1h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h02c2h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h02c3h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h02c4h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h02c5h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h02c6h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h02c7h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h02c8h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02c9h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h02cah
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h02cbh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02cch
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02cdh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02ceh
; 0000h05b0h
; 039h
; UNKNOWN instruction

; 0000h02cfh
; 0000h05b0h
; 006h
; UNKNOWN instruction

; 0000h02d0h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02d1h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02d2h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h02d3h
; 0000h05b0h
; 0d8h
; UNKNOWN instruction

; 0000h02d4h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h02d5h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02d6h
; 0000h05b0h
; 0aah
; UNKNOWN instruction

; 0000h02d7h
; 0000h05b0h
; 006h
; UNKNOWN instruction

; 0000h02d8h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02d9h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02dah
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h02dbh
; 0000h05b0h
; 0d0h
; UNKNOWN instruction

; 0000h02dch
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h02ddh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02deh
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h02dfh
; 0000h05b0h
; 007h
; UNKNOWN instruction

; 0000h02e0h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02e1h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02e2h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h02e3h
; 0000h05b0h
; 0c8h
; UNKNOWN instruction

; 0000h02e4h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h02e5h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02e6h
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h02e7h
; 0000h05b0h
; 008h
; UNKNOWN instruction

; 0000h02e8h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02e9h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02eah
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h02ebh
; 0000h05b0h
; 0c0h
; UNKNOWN instruction

; 0000h02ech
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h02edh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02eeh
; 0000h05b0h
; 08dh
; UNKNOWN instruction

; 0000h02efh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h02f0h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02f1h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02f2h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h02f3h
; 0000h05b0h
; 0b8h
; UNKNOWN instruction

; 0000h02f4h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h02f5h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02f6h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h02f7h
; 0000h05b0h
; 00bh
; UNKNOWN instruction

; 0000h02f8h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h02f9h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h02fah
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h02fbh
; 0000h05b0h
; 0b0h
; UNKNOWN instruction

; 0000h02fch
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h02fdh
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h02feh
; 0000h05b0h
; 091h
; UNKNOWN instruction

;;  SCANNING...
; 0000h02ffh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0300h
; 0000h05b0h
; 0a8h
; UNKNOWN instruction

; 0000h0301h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0302h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0303h
; 0000h05b0h
; 0c7h
; UNKNOWN instruction

; 0000h0304h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0305h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0306h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0307h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0308h
; 0000h05b0h
; 0a0h
; UNKNOWN instruction

; 0000h0309h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h030ah
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h030bh
; 0000h05b0h
; 0f6h
; UNKNOWN instruction

; 0000h030ch
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h030dh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h030eh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h030fh
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0310h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0311h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0312h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0313h
; 0000h05b0h
; 057h
; UNKNOWN instruction

; 0000h0314h
; 0000h05b0h
; 056h
; UNKNOWN instruction

; 0000h0315h
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h0316h
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h0317h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h0318h
; 0000h05b0h
; 03ah
; UNKNOWN instruction

; 0000h0319h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h031ah
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h031bh
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h031ch
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h031dh
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h031eh
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h031fh
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h0320h
; 0000h05b0h
; 000h074h
    ADD al, 


; 0000h0322h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0323h
; 0000h05b0h
; 008h
; UNKNOWN instruction

; 0000h0324h
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h0325h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0326h
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h0327h
; 0000h05b0h
; 000h074h
    ADD al, 


; 0000h0329h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h032ah
; 0000h05b0h
; 01ah
; UNKNOWN instruction

; 0000h032bh
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h032ch
; 0000h05b0h
; 0eah
; UNKNOWN instruction

; 0000h032dh
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h032eh
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h032fh
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h0330h
; 0000h05b0h
; 000h074h
    ADD al, 


; 0000h0332h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0333h
; 0000h05b0h
; 00fh
; UNKNOWN instruction

; 0000h0334h
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h0335h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0336h
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h0337h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0338h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0339h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h033ah
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h033bh
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h033ch
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h033dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h033eh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h033fh
; 0000h05b0h
; 003h
; UNKNOWN instruction

; 0000h0340h
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h0341h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0342h
; 0000h05b0h
; 090h
; UNKNOWN instruction

; 0000h0343h
; 0000h05b0h
; 0bbh
; UNKNOWN instruction

; 0000h0344h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0345h
; 0000h05b0h
; 000h05eh
    ADD al, 


; 0000h0347h
; 0000h05b0h
; 05eh
; UNKNOWN instruction

; 0000h0348h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0349h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h034ah
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h034bh
; 0000h05b0h
; 056h
; UNKNOWN instruction

; 0000h034ch
; 0000h05b0h
; 057h
; UNKNOWN instruction

; 0000h034dh
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h034eh
; 0000h05b0h
; 071h
; UNKNOWN instruction

; 0000h034fh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0350h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0351h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0352h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0353h
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h0354h
; 0000h05b0h
; 0fbh
; UNKNOWN instruction

; 0000h0355h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0356h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0357h
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h0358h
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h0359h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h035ah
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h035bh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h035ch
; 0000h05b0h
; 0b8h
; UNKNOWN instruction

; 0000h035dh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h035eh
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h035fh
; 0000h05b0h
; 0fbh
; UNKNOWN instruction

; 0000h0360h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0361h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0362h
; 0000h05b0h
; 02ah
; UNKNOWN instruction

; 0000h0363h
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h0364h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0365h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0366h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0367h
; 0000h05b0h
; 0adh
; UNKNOWN instruction

; 0000h0368h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0369h
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h036ah
; 0000h05b0h
; 0fbh
; UNKNOWN instruction

; 0000h036bh
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h036ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h036dh
; 0000h05b0h
; 01fh
; UNKNOWN instruction

; 0000h036eh
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h036fh
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h0370h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0371h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0372h
; 0000h05b0h
; 0a2h
; UNKNOWN instruction

; 0000h0373h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0374h
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h0375h
; 0000h05b0h
; 0fbh
; UNKNOWN instruction

; 0000h0376h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0377h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0378h
; 0000h05b0h
; 014h
; UNKNOWN instruction

; 0000h0379h
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h037ah
; 0000h05b0h
; 07dh
; UNKNOWN instruction

; 0000h037bh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h037ch
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h037dh
; 0000h05b0h
; 097h
; UNKNOWN instruction

; 0000h037eh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h037fh
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h0380h
; 0000h05b0h
; 0fbh
; UNKNOWN instruction

; 0000h0381h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0382h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0383h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h0384h
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h0385h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0386h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0387h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0388h
; 0000h05b0h
; 08ch
; UNKNOWN instruction

; 0000h0389h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h038ah
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h038bh
; 0000h05b0h
; 0fbh
; UNKNOWN instruction

; 0000h038ch
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h038dh
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h038eh
; 0000h05b0h
; 05eh
; UNKNOWN instruction

; 0000h038fh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0390h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0391h
; 0000h05b0h
; 051h
; UNKNOWN instruction

; 0000h0392h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0393h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h0394h
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h0395h
; 0000h05b0h
; 033h
; UNKNOWN instruction

; 0000h0396h
; 0000h05b0h
; 0c9h
; UNKNOWN instruction

; 0000h0397h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0398h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0399h
; 0000h05b0h
; 000h0cdh
    ADD al, 


; 0000h039bh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h039ch
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h039dh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h039eh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h039fh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h03a0h
; 0000h05b0h
; 096h
; UNKNOWN instruction

; 0000h03a1h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h03a2h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h03a3h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h03a4h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h03a5h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h03a6h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h03a7h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h03a8h
; 0000h05b0h
; 0a3h
; UNKNOWN instruction

; 0000h03a9h
; 0000h05b0h
; 000h002h
    ADD al, 


; 0000h03abh
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h03ach
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h03adh
; 0000h05b0h
; 059h
; UNKNOWN instruction

; 0000h03aeh
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h03afh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h03b0h
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h03b1h
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h03b2h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h03b3h
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h03b4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h03b5h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h03b6h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h03b7h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h03b8h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h03b9h
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h03bah
; 0000h05b0h
; 0f5h
; UNKNOWN instruction

; 0000h03bbh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h03bch
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h03bdh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h03beh
; 0000h05b0h
; 0b8h
; UNKNOWN instruction

; 0000h03bfh
; 0000h05b0h
; 000h03dh
    ADD al, 


; 0000h03c1h
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h03c2h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h03c3h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h03c5h
; 0000h05b0h
; 000h0cdh
    ADD al, 


; 0000h03c7h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h03c8h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h03c9h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h03cah
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h03cbh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h03cch
; 0000h05b0h
; 05dh
; UNKNOWN instruction

; 0000h03cdh
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h03ceh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h03cfh
; 0000h05b0h
; 0f9h
; UNKNOWN instruction

; 0000h03d0h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h03d1h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h03d2h
; 0000h05b0h
; 044h
; UNKNOWN instruction

; 0000h03d3h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h03d4h
; 0000h05b0h
; 0a3h
; UNKNOWN instruction

; 0000h03d5h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h03d6h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h03d7h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h03d8h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h03d9h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h03dah
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h03dbh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h03dch
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h03ddh
; 0000h05b0h
; 0b6h
; UNKNOWN instruction

; 0000h03deh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h03dfh
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h03e0h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h03e1h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h03e2h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h03e3h
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h03e4h
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h03e5h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h03e6h
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h03e7h
; 0000h05b0h
; 022h
; UNKNOWN instruction

; 0000h03e8h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h03e9h
; 0000h05b0h
; 007h
; UNKNOWN instruction

; 0000h03eah
; 0000h05b0h
; 0bbh
; UNKNOWN instruction

; 0000h03ebh
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h03ech
; 0000h05b0h
; 000h088h
    ADD al, 


; 0000h03eeh
; 0000h05b0h
; 088h
; UNKNOWN instruction

; 0000h03efh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h03f0h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h03f1h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h03f2h
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h03f3h
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h03f4h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h03f5h
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h03f6h
; 0000h05b0h
; 000h074h
    ADD al, 


; 0000h03f8h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h03f9h
; 0000h05b0h
; 01ah
; UNKNOWN instruction

; 0000h03fah
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h03fbh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h03fch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h03fdh
; 0000h05b0h
; 016h
; UNKNOWN instruction

; 0000h03feh
; 0000h05b0h
; 03ch
; UNKNOWN instruction

;;  SCANNING...
; 0000h03ffh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h0400h
; 0000h05b0h
; 088h
; UNKNOWN instruction

; 0000h0401h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0402h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h0403h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0404h
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h0405h
; 0000h05b0h
; 0e2h
; UNKNOWN instruction

; 0000h0406h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h0407h
; 0000h05b0h
; 088h
; UNKNOWN instruction

; 0000h0408h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0409h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h040ah
; 0000h05b0h
; 0c6h
; UNKNOWN instruction

; 0000h040bh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h040ch
; 0000h05b0h
; 000h058h
    ADD al, 


; 0000h040eh
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h040fh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0410h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0411h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0412h
; 0000h05b0h
; 051h
; UNKNOWN instruction

; 0000h0413h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0414h
; 0000h05b0h
; 033h
; UNKNOWN instruction

; 0000h0415h
; 0000h05b0h
; 0c0h
; UNKNOWN instruction

; 0000h0416h
; 0000h05b0h
; 0bbh
; UNKNOWN instruction

; 0000h0417h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0418h
; 0000h05b0h
; 000h033h
    ADD al, 


; 0000h041ah
; 0000h05b0h
; 033h
; UNKNOWN instruction

; 0000h041bh
; 0000h05b0h
; 0c9h
; UNKNOWN instruction

; 0000h041ch
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h041dh
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h041eh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h041fh
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h0420h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0421h
; 0000h05b0h
; 0f9h
; UNKNOWN instruction

; 0000h0422h
; 0000h05b0h
; 000h074h
    ADD al, 


; 0000h0424h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0425h
; 0000h05b0h
; 039h
; UNKNOWN instruction

; 0000h0426h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0427h
; 0000h05b0h
; 0f9h
; UNKNOWN instruction

; 0000h0428h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0429h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h042ah
; 0000h05b0h
; 034h
; UNKNOWN instruction

; 0000h042bh
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h042ch
; 0000h05b0h
; 0f9h
; UNKNOWN instruction

; 0000h042dh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h042eh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h042fh
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h0430h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0431h
; 0000h05b0h
; 0f9h
; UNKNOWN instruction

; 0000h0432h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h0433h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0434h
; 0000h05b0h
; 018h
; UNKNOWN instruction

; 0000h0435h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0436h
; 0000h05b0h
; 0f9h
; UNKNOWN instruction

; 0000h0437h
; 0000h05b0h
; 039h
; UNKNOWN instruction

; 0000h0438h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0439h
; 0000h05b0h
; 013h
; UNKNOWN instruction

; 0000h043ah
; 0000h05b0h
; 0f7h
; UNKNOWN instruction

; 0000h043bh
; 0000h05b0h
; 0e3h
; UNKNOWN instruction

; 0000h043ch
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h043dh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h043eh
; 0000h05b0h
; 000h077h
    ADD al, 


; 0000h0440h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0441h
; 0000h05b0h
; 015h
; UNKNOWN instruction

; 0000h0442h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0443h
; 0000h05b0h
; 0e9h
; UNKNOWN instruction

; 0000h0444h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h0445h
; 0000h05b0h
; 003h
; UNKNOWN instruction

; 0000h0446h
; 0000h05b0h
; 0c1h
; UNKNOWN instruction

; 0000h0447h
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h0448h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0449h
; 0000h05b0h
; 000h077h
    ADD al, 


; 0000h044bh
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h044ch
; 0000h05b0h
; 00bh
; UNKNOWN instruction

; 0000h044dh
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h044eh
; 0000h05b0h
; 0d0h
; UNKNOWN instruction

; 0000h044fh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0450h
; 0000h05b0h
; 03bh
; UNKNOWN instruction

; 0000h0451h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0452h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0453h
; 0000h05b0h
; 071h
; UNKNOWN instruction

; 0000h0454h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0455h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0456h
; 0000h05b0h
; 0bch
; UNKNOWN instruction

; 0000h0457h
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h0458h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0459h
; 0000h05b0h
; 043h
; UNKNOWN instruction

; 0000h045ah
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h045bh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h045ch
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h045dh
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h045eh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h045fh
; 0000h05b0h
; 0b3h
; UNKNOWN instruction

; 0000h0460h
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h0461h
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h0462h
; 0000h05b0h
; 000h075h
    ADD al, 


; 0000h0464h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0465h
; 0000h05b0h
; 003h
; UNKNOWN instruction

; 0000h0466h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0467h
; 0000h05b0h
; 025h
; UNKNOWN instruction

; 0000h0468h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0469h
; 0000h05b0h
; 0a2h
; UNKNOWN instruction

; 0000h046ah
; 0000h05b0h
; 05ch
; UNKNOWN instruction

; 0000h046bh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h046ch
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h046dh
; 0000h05b0h
; 059h
; UNKNOWN instruction

; 0000h046eh
; 0000h05b0h
; 05bh
; UNKNOWN instruction

; 0000h046fh
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0470h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0471h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0472h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0473h
; 0000h05b0h
; 051h
; UNKNOWN instruction

; 0000h0474h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0475h
; 0000h05b0h
; 056h
; UNKNOWN instruction

; 0000h0476h
; 0000h05b0h
; 057h
; UNKNOWN instruction

; 0000h0477h
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h0478h
; 0000h05b0h
; 0a0h
; UNKNOWN instruction

; 0000h0479h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h047ah
; 0000h05b0h
; 000h03ch
    ADD al, 


; 0000h047ch
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h047dh
; 0000h05b0h
; 000h075h
    ADD al, 


; 0000h047fh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0480h
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h0481h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0482h
; 0000h05b0h
; 0eah
; UNKNOWN instruction

; 0000h0483h
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h0484h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0485h
; 0000h05b0h
; 042h
; UNKNOWN instruction

; 0000h0486h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0487h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0488h
; 0000h05b0h
; 08dh
; UNKNOWN instruction

; 0000h0489h
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h048ah
; 0000h05b0h
; 0bfh
; UNKNOWN instruction

; 0000h048bh
; 0000h05b0h
; 081h
; UNKNOWN instruction

; 0000h048ch
; 0000h05b0h
; 000h0e8h
    ADD al, 


; 0000h048eh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h048fh
; 0000h05b0h
; 022h
; UNKNOWN instruction

; 0000h0490h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0491h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0492h
; 0000h05b0h
; 0bch
; UNKNOWN instruction

; 0000h0493h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0494h
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h0495h
; 0000h05b0h
; 0fbh
; UNKNOWN instruction

; 0000h0496h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0497h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0498h
; 0000h05b0h
; 006h
; UNKNOWN instruction

; 0000h0499h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h049ah
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h049bh
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h049ch
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h049dh
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h049eh
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h049fh
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h04a0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h04a2h
; 0000h05b0h
; 000h0e8h
    ADD al, 


; 0000h04a4h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04a5h
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h04a6h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h04a7h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04a8h
; 0000h05b0h
; 00bh
; UNKNOWN instruction

; 0000h04a9h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h04aah
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h04abh
; 0000h05b0h
; 05ch
; UNKNOWN instruction

; 0000h04ach
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h04adh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04aeh
; 0000h05b0h
; 06ah
; UNKNOWN instruction

; 0000h04afh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h04b0h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04b1h
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h04b2h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h04b3h
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h04b4h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h04b5h
; 0000h05b0h
; 000h0e8h
    ADD al, 


; 0000h04b7h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04b8h
; 0000h05b0h
; 02bh
; UNKNOWN instruction

; 0000h04b9h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h04bah
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04bbh
; 0000h05b0h
; 0f9h
; UNKNOWN instruction

; 0000h04bch
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h04bdh
; 0000h05b0h
; 033h
; UNKNOWN instruction

; 0000h04beh
; 0000h05b0h
; 0c0h
; UNKNOWN instruction

; 0000h04bfh
; 0000h05b0h
; 026h
; UNKNOWN instruction

; 0000h04c0h
; 0000h05b0h
; 0a0h
; UNKNOWN instruction

; 0000h04c1h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h04c2h
; 0000h05b0h
; 000h005h
    ADD al, 


; 0000h04c4h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h04c5h
; 0000h05b0h
; 081h
; UNKNOWN instruction

; 0000h04c6h
; 0000h05b0h
; 000h03bh
    ADD al, 


; 0000h04c8h
; 0000h05b0h
; 03bh
; UNKNOWN instruction

; 0000h04c9h
; 0000h05b0h
; 0c7h
; UNKNOWN instruction

; 0000h04cah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h04cbh
; 0000h05b0h
; 009h
; UNKNOWN instruction

; 0000h04cch
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04cdh
; 0000h05b0h
; 0b6h
; UNKNOWN instruction

; 0000h04ceh
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h04cfh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04d0h
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h04d1h
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h04d2h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h04d3h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h04d4h
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h04d5h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h04d6h
; 0000h05b0h
; 05eh
; UNKNOWN instruction

; 0000h04d7h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h04d8h
; 0000h05b0h
; 059h
; UNKNOWN instruction

; 0000h04d9h
; 0000h05b0h
; 05bh
; UNKNOWN instruction

; 0000h04dah
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h04dbh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h04dch
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h04ddh
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h04deh
; 0000h05b0h
; 051h
; UNKNOWN instruction

; 0000h04dfh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h04e0h
; 0000h05b0h
; 056h
; UNKNOWN instruction

; 0000h04e1h
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h04e2h
; 0000h05b0h
; 05dh
; UNKNOWN instruction

; 0000h04e3h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h04e4h
; 0000h05b0h
; 08bh
; UNKNOWN instruction

; 0000h04e5h
; 0000h05b0h
; 00ch
; UNKNOWN instruction

; 0000h04e6h
; 0000h05b0h
; 08bh
; UNKNOWN instruction

; 0000h04e7h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h04e8h
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h04e9h
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h04eah
; 0000h05b0h
; 0d4h
; UNKNOWN instruction

; 0000h04ebh
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h04ech
; 0000h05b0h
; 0d6h
; UNKNOWN instruction

; 0000h04edh
; 0000h05b0h
; 000h083h
    ADD al, 


; 0000h04efh
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h04f0h
; 0000h05b0h
; 0d1h
; UNKNOWN instruction

; 0000h04f1h
; 0000h05b0h
; 000h0b8h
    ADD al, 


; 0000h04f3h
; 0000h05b0h
; 0b8h
; UNKNOWN instruction

; 0000h04f4h
; 0000h05b0h
; 000h042h
    ADD al, 


; 0000h04f6h
; 0000h05b0h
; 042h
; UNKNOWN instruction

; 0000h04f7h
; 0000h05b0h
; 08bh
; UNKNOWN instruction

; 0000h04f8h
; 0000h05b0h
; 01eh
; UNKNOWN instruction

; 0000h04f9h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h04fah
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h04fbh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h04fch
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h04fdh
; 0000h05b0h
; 089h
; UNKNOWN instruction

; 0000h04feh
; 0000h05b0h
; 014h
; UNKNOWN instruction

; 0000h04ffh
; 0000h05b0h
; 089h
; UNKNOWN instruction

; 0000h0500h
; 0000h05b0h
; 044h
; UNKNOWN instruction

;;  SCANNING...
; 0000h0501h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h0502h
; 0000h05b0h
; 003h
; UNKNOWN instruction

; 0000h0503h
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h0504h
; 0000h05b0h
; 040h
; UNKNOWN instruction

; 0000h0505h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h0506h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0507h
; 0000h05b0h
; 000h074h
    ADD al, 


; 0000h0509h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h050ah
; 0000h05b0h
; 006h
; UNKNOWN instruction

; 0000h050bh
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h050ch
; 0000h05b0h
; 0c1h
; UNKNOWN instruction

; 0000h050dh
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h050eh
; 0000h05b0h
; 083h
; UNKNOWN instruction

; 0000h050fh
; 0000h05b0h
; 0eah
; UNKNOWN instruction

; 0000h0510h
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h0511h
; 0000h05b0h
; 08bh
; UNKNOWN instruction

; 0000h0512h
; 0000h05b0h
; 01eh
; UNKNOWN instruction

; 0000h0513h
; 0000h05b0h
; 000h002h
    ADD al, 


; 0000h0515h
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h0516h
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0517h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0518h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0519h
; 0000h05b0h
; 003h
; UNKNOWN instruction

; 0000h051ah
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h051bh
; 0000h05b0h
; 007h
; UNKNOWN instruction

; 0000h051ch
; 0000h05b0h
; 090h
; UNKNOWN instruction

; 0000h051dh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h051eh
; 0000h05b0h
; 037h
; UNKNOWN instruction

; 0000h051fh
; 0000h05b0h
; 0fdh
; UNKNOWN instruction

; 0000h0520h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0521h
; 0000h05b0h
; 0eeh
; UNKNOWN instruction

; 0000h0522h
; 0000h05b0h
; 0fch
; UNKNOWN instruction

; 0000h0523h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0524h
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h0525h
; 0000h05b0h
; 059h
; UNKNOWN instruction

; 0000h0526h
; 0000h05b0h
; 05bh
; UNKNOWN instruction

; 0000h0527h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0528h
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0529h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h052ah
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h052bh
; 0000h05b0h
; 051h
; UNKNOWN instruction

; 0000h052ch
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h052dh
; 0000h05b0h
; 056h
; UNKNOWN instruction

; 0000h052eh
; 0000h05b0h
; 057h
; UNKNOWN instruction

; 0000h052fh
; 0000h05b0h
; 0b4h
; UNKNOWN instruction

; 0000h0530h
; 0000h05b0h
; 03fh
; UNKNOWN instruction

; 0000h0531h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0532h
; 0000h05b0h
; 08bh
; UNKNOWN instruction

; 0000h0533h
; 0000h05b0h
; 01eh
; UNKNOWN instruction

; 0000h0534h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0535h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0536h
; 0000h05b0h
; 0bah
; UNKNOWN instruction

; 0000h0537h
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h0538h
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h0539h
; 0000h05b0h
; 033h
; UNKNOWN instruction

; 0000h053ah
; 0000h05b0h
; 0c9h
; UNKNOWN instruction

; 0000h053bh
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h053ch
; 0000h05b0h
; 00eh
; UNKNOWN instruction

; 0000h053dh
; 0000h05b0h
; 05ch
; UNKNOWN instruction

; 0000h053eh
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h053fh
; 0000h05b0h
; 0cdh
; UNKNOWN instruction

; 0000h0540h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0541h
; 0000h05b0h
; 05bh
; UNKNOWN instruction

; 0000h0542h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0543h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0544h
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h0545h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0547h
; 0000h05b0h
; 000h074h
    ADD al, 


; 0000h0549h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h054ah
; 0000h05b0h
; 03dh
; UNKNOWN instruction

; 0000h054bh
; 0000h05b0h
; 0beh
; UNKNOWN instruction

; 0000h054ch
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h054dh
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h054eh
; 0000h05b0h
; 0bfh
; UNKNOWN instruction

; 0000h054fh
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h0550h
; 0000h05b0h
; 003h
; UNKNOWN instruction

; 0000h0551h
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h0552h
; 0000h05b0h
; 0d8h
; UNKNOWN instruction

; 0000h0553h
; 0000h05b0h
; 08ah
; UNKNOWN instruction

; 0000h0554h
; 0000h05b0h
; 004h
; UNKNOWN instruction

; 0000h0555h
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h0556h
; 0000h05b0h
; 000h075h
    ADD al, 


; 0000h0558h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0559h
; 0000h05b0h
; 008h
; UNKNOWN instruction

; 0000h055ah
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h055bh
; 0000h05b0h
; 09fh
; UNKNOWN instruction

; 0000h055ch
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h055dh
; 0000h05b0h
; 0b7h
; UNKNOWN instruction

; 0000h055eh
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h055fh
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h0560h
; 0000h05b0h
; 028h
; UNKNOWN instruction

; 0000h0561h
; 0000h05b0h
; 090h
; UNKNOWN instruction

; 0000h0562h
; 0000h05b0h
; 03ch
; UNKNOWN instruction

; 0000h0563h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0564h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0565h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0566h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0567h
; 0000h05b0h
; 093h
; UNKNOWN instruction

; 0000h0568h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0569h
; 0000h05b0h
; 080h
; UNKNOWN instruction

; 0000h056ah
; 0000h05b0h
; 0c4h
; UNKNOWN instruction

; 0000h056bh
; 0000h05b0h
; 002h
; UNKNOWN instruction

; 0000h056ch
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h056dh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h056eh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h056fh
; 0000h05b0h
; 0b7h
; UNKNOWN instruction

; 0000h0570h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0571h
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h0572h
; 0000h05b0h
; 0bfh
; UNKNOWN instruction

; 0000h0573h
; 0000h05b0h
; 088h
; UNKNOWN instruction

; 0000h0574h
; 0000h05b0h
; 005h
; UNKNOWN instruction

; 0000h0575h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0576h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h0577h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h0578h
; 0000h05b0h
; 0c4h
; UNKNOWN instruction

; 0000h0579h
; 0000h05b0h
; 03ah
; UNKNOWN instruction

; 0000h057ah
; 0000h05b0h
; 0e3h
; UNKNOWN instruction

; 0000h057bh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h057ch
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h057dh
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h057eh
; 0000h05b0h
; 07ch
; UNKNOWN instruction

; 0000h057fh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0580h
; 0000h05b0h
; 0b7h
; UNKNOWN instruction

; 0000h0581h
; 0000h05b0h
; 001h
; UNKNOWN instruction

; 0000h0582h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0583h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0584h
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h0585h
; 0000h05b0h
; 0ebh
; UNKNOWN instruction

; 0000h0586h
; 0000h05b0h
; 0abh
; UNKNOWN instruction

; 0000h0587h
; 0000h05b0h
; 0e2h
; UNKNOWN instruction

; 0000h0588h
; 0000h05b0h
; 0cbh
; UNKNOWN instruction

; 0000h0589h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h058ah
; 0000h05b0h
; 05eh
; UNKNOWN instruction

; 0000h058bh
; 0000h05b0h
; 05ah
; UNKNOWN instruction

; 0000h058ch
; 0000h05b0h
; 059h
; UNKNOWN instruction

; 0000h058dh
; 0000h05b0h
; 05bh
; UNKNOWN instruction

; 0000h058eh
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h058fh
; 0000h05b0h
; 0c3h
; UNKNOWN instruction

; 0000h0590h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0591h
; 0000h05b0h
; 0b6h
; UNKNOWN instruction

; 0000h0592h
; 0000h05b0h
; 0fch
; UNKNOWN instruction

; 0000h0593h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h0594h
; 0000h05b0h
; 07eh
; UNKNOWN instruction

; 0000h0595h
; 0000h05b0h
; 0fch
; UNKNOWN instruction

; 0000h0596h
; 0000h05b0h
; 0b8h
; UNKNOWN instruction

; 0000h0597h
; 0000h05b0h
; 03bh
; UNKNOWN instruction

; 0000h0598h
; 0000h05b0h
; 000h08eh
    ADD al, 


; 0000h059ah
; 0000h05b0h
; 08eh
; UNKNOWN instruction

; 0000h059bh
; 0000h05b0h
; 0d8h
; UNKNOWN instruction

; 0000h059ch
; 0000h05b0h
; 0bfh
; UNKNOWN instruction

; 0000h059dh
; 0000h05b0h
; 081h
; UNKNOWN instruction

; 0000h059eh
; 0000h05b0h
; 000h0e8h
    ADD al, 


; 0000h05a0h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h05a1h
; 0000h05b0h
; 0cfh
; UNKNOWN instruction

; 0000h05a2h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h05a3h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h05a4h
; 0000h05b0h
; 017h
; UNKNOWN instruction

; 0000h05a5h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h05a6h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h05a7h
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h05a8h
; 0000h05b0h
; 0feh
; UNKNOWN instruction

; 0000h05a9h
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h05aah
; 0000h05b0h
; 082h
; UNKNOWN instruction

; 0000h05abh
; 0000h05b0h
; 0ffh
; UNKNOWN instruction

; 0000h05ach
; 0000h05b0h
; 0e8h
; UNKNOWN instruction

; 0000h05adh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h05aeh
; 0000h05b0h
; 0fch
; UNKNOWN instruction

; 0000h05afh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h05b1h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h05b3h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h05b5h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h05b7h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h05b9h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h05bbh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h05bdh
; 0000h05b0h
; 000h024h
    ADD al, 


; 0000h05bfh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05c9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05cah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05cbh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05cch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05cdh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05ceh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05cfh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05d9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05dah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05dbh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05dch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05ddh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05deh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05dfh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05e9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05eah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05ebh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05ech
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05edh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05eeh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05efh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05f9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05fah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05fbh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05fch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05fdh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05feh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h05ffh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0600h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0601h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0602h
; 0000h05b0h
; 024h
; UNKNOWN instruction

;;  SCANNING...
; 0000h0603h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0604h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0605h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0606h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0607h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0608h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0609h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h060ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h060bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h060ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h060dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h060eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h060fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0610h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0611h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0612h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0613h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0614h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0615h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0616h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0617h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0618h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0619h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h061ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h061bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h061ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h061dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h061eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h061fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0620h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0621h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0622h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0623h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0624h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0625h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0626h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0627h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0628h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0629h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h062ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h062bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h062ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h062dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h062eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h062fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0630h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0631h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0632h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0633h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0634h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0635h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0636h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0637h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0638h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0639h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h063ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h063bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h063ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h063dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h063eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h063fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0640h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0641h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0642h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0643h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0644h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0645h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0646h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0647h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0648h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0649h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h064ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h064bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h064ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h064dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h064eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h064fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0650h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0651h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0652h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0653h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0654h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0655h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0656h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0657h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0658h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0659h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h065ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h065bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h065ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h065dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h065eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h065fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0660h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0661h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0662h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0663h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0664h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0665h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0666h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0667h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0668h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0669h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h066ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h066bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h066ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h066dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h066eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h066fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0670h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0671h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0672h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0673h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0674h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0675h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0676h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0677h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0678h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0679h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h067ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h067bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h067ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h067dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h067eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h067fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0680h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0681h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0682h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0683h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0684h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0685h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0686h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0687h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0688h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0689h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h068ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h068bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h068ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h068dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h068eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h068fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0690h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0691h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0692h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0693h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0694h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0695h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0696h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0697h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0698h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0699h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h069ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h069bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h069ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h069dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h069eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h069fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06a9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06aah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06abh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06ach
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06adh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06aeh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06afh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06b9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06bah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06bbh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06bch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06bdh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06beh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06bfh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06c9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06cah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06cbh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06cch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06cdh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06ceh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06cfh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06d9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06dah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06dbh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06dch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06ddh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06deh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06dfh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06e9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06eah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06ebh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06ech
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06edh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06eeh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06efh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06f9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06fah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06fbh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06fch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06fdh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06feh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h06ffh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0700h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0701h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0702h
; 0000h05b0h
; 024h
; UNKNOWN instruction

;;  SCANNING...
; 0000h0703h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0704h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0705h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0706h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0707h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0708h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0709h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h070ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h070bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h070ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h070dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h070eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h070fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0710h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0711h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0712h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0713h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0714h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0715h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0716h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0717h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0718h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0719h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h071ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h071bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h071ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h071dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h071eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h071fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0720h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0721h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0722h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0723h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0724h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0725h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0726h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0727h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0728h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0729h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h072ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h072bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h072ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h072dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h072eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h072fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0730h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0731h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0732h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0733h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0734h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0735h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0736h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0737h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0738h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0739h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h073ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h073bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h073ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h073dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h073eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h073fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0740h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0741h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0742h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0743h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0744h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0745h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0746h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0747h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0748h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0749h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h074ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h074bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h074ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h074dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h074eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h074fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0750h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0751h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0752h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0753h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0754h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0755h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0756h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0757h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0758h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0759h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h075ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h075bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h075ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h075dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h075eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h075fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0760h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0761h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0762h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0763h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0764h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0765h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0766h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0767h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0768h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0769h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h076ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h076bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h076ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h076dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h076eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h076fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0770h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0771h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0772h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0773h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0774h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0775h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0776h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0777h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0778h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0779h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h077ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h077bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h077ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h077dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h077eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h077fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0780h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0781h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0782h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0783h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0784h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0785h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0786h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0787h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0788h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0789h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h078ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h078bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h078ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h078dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h078eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h078fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0790h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0791h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0792h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0793h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0794h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0795h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0796h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0797h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0798h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0799h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h079ah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h079bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h079ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h079dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h079eh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h079fh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a0h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a1h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a2h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a3h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a4h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a7h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07a9h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07aah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07abh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07ach
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07adh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h07aeh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07b0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07b2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07b4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07b6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07b8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07bah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07bch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07beh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07c0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07c2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07c4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07c6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07c8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07cah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07cch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07ceh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07d0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07d2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07d4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07d6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07d8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07dah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07dch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07deh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07e0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07e2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07e4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07e6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07e8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07eah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07ech
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07eeh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07f0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07f2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07f4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07f6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07f8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07fah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07fch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h07feh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0800h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0802h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0804h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0806h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0808h
; 0000h05b0h
; 000h000h
    ADD al, 


;;  SCANNING...
; 0000h080ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h080ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h080eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0810h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0812h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0814h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0816h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0818h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h081ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h081ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h081eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0820h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0822h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0824h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0826h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0828h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h082ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h082ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h082eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0830h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0832h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0834h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0836h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0838h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h083ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h083ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h083eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0840h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0842h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0844h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0846h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0848h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h084ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h084ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h084eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0850h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0852h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0854h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0856h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0858h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h085ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h085ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h085eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0860h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0862h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0864h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0866h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0868h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h086ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h086ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h086eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0870h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0872h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0874h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0876h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0878h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h087ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h087ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h087eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0880h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0882h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0884h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0886h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0888h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h088ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h088ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h088eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0890h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0892h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0894h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0896h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0898h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h089ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h089ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h089eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08a0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08a2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08a4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08a6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08a8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08aah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08ach
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08aeh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08b0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08b2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08b4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08b6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08b8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08bah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08bch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08beh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08c0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08c2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08c4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08c6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08c8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08cah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08cch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08ceh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08d0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08d2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08d4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08d6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08d8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08dah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08dch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08deh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08e0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08e2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08e4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08e6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08e8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08eah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08ech
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08eeh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08f0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08f2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08f4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08f6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08f8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08fah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08fch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h08feh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0900h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0902h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0904h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0906h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0908h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h090ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h090ch
; 0000h05b0h
; 000h000h
    ADD al, 


;;  SCANNING...
; 0000h090eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0910h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0912h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0914h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0916h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0918h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h091ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h091ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h091eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0920h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0922h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0924h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0926h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0928h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h092ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h092ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h092eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0930h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0932h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0934h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0936h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0938h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h093ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h093ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h093eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0940h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0942h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0944h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0946h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0948h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h094ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h094ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h094eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0950h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0952h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0954h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0956h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0958h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h095ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h095ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h095eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0960h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0962h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0964h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0966h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0968h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h096ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h096ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h096eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0970h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0972h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0974h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0976h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0978h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h097ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h097ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h097eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0980h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0982h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0984h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0986h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0988h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h098ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h098ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h098eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0990h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0992h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0994h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0996h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0998h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h099ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h099ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h099eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09a0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09a2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09a4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09a6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09a8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09aah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09ach
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09aeh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09b0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09b2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09b4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09b6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09b8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09bah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09bch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09beh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09c0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09c2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09c4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09c6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09c8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09cah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09cch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09ceh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09d0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09d2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09d4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09d6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09d8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09dah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09dch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09deh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09e0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09e2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09e4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09e6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09e8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09eah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09ech
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09eeh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09f0h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09f2h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09f4h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09f6h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09f8h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09fah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09fch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h09feh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a00h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a02h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a04h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a06h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a08h
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a0ah
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a0ch
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a0eh
; 0000h05b0h
; 000h000h
    ADD al, 


; 0000h0a10h
; 0000h05b0h
; 000h000h
    ADD al, 


;;  SCANNING...
; 0000h0a12h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a13h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0a14h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0a15h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0a16h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a17h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0a18h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a19h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0a1ah
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0a1bh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0a1ch
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0a1dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a1eh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0a1fh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0a20h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0a21h
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h0a22h
; 0000h05b0h
; 03fh
; UNKNOWN instruction

; 0000h0a23h
; 0000h05b0h
; 000h02fh
    ADD al, 


; 0000h0a25h
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h0a26h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0a27h
; 0000h05b0h
; 000h02fh
    ADD al, 


; 0000h0a29h
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h0a2ah
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0a2bh
; 0000h05b0h
; 000h02dh
    ADD al, 


; 0000h0a2dh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0a2eh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0a2fh
; 0000h05b0h
; 000h02dh
    ADD al, 


; 0000h0a31h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0a32h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0a33h
; 0000h05b0h
; 000h02dh
    ADD al, 


; 0000h0a35h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0a36h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0a37h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0a38h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a39h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0a3ah
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0a3bh
; 0000h05b0h
; 000h050h
    ADD al, 


; 0000h0a3dh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0a3eh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0a3fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a40h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0a41h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0a42h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a43h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0a44h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0a45h
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h0a46h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a47h
; 0000h05b0h
; 06bh
; UNKNOWN instruction

; 0000h0a48h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a49h
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h0a4ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a4bh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0a4ch
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0a4dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a4eh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0a4fh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0a50h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0a51h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0a52h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0a53h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0a54h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0a55h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a56h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0a57h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0a58h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0a59h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0a5ah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0a5bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a5ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a5dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a5eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a5fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a60h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a61h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a62h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a63h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a64h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a65h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a66h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a67h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a68h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a69h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a6ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a6bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a6ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a6dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a6eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a6fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a70h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a71h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a72h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a73h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a74h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a75h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a76h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a77h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a78h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a79h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a7ah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0a7bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0a7ch
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0a7dh
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0a7eh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0a7fh
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0a80h
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h0a81h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0a82h
; 0000h05b0h
; 03ah
; UNKNOWN instruction

; 0000h0a83h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a84h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0a85h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0a86h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0a87h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0a88h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0a89h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a8ah
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0a8bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a8ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0a8dh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0a8eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a8fh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0a90h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0a91h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a92h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0a93h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0a94h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0a95h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0a96h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0a97h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0a98h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0a99h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0a9ah
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0a9bh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0a9ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0a9dh
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0a9eh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0a9fh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0aa0h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0aa1h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0aa2h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0aa3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0aa4h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0aa5h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0aa6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0aa7h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0aa8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0aa9h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0aaah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0aabh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0aach
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0aadh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0aaeh
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0aafh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0ab0h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ab1h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ab2h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0ab3h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0ab4h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0ab5h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0ab6h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0ab7h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0ab8h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ab9h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0abah
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0abbh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0abch
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0abdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0abeh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0abfh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0ac0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ac1h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0ac2h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ac3h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ac4h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0ac5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ac6h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0ac7h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0ac8h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ac9h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0acah
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0acbh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0acch
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0acdh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0aceh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0acfh
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0ad0h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ad1h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0ad2h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ad3h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ad4h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0ad5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ad6h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ad7h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0ad8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ad9h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0adah
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0adbh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0adch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0addh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0adeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0adfh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ae0h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0ae1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ae2h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0ae3h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0ae4h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ae5h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ae6h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0ae7h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0ae8h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0ae9h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0aeah
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0aebh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0aech
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0aedh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0aeeh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0aefh
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0af0h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0af1h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0af2h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0af3h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0af4h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0af5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0af6h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0af7h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0af8h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0af9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0afah
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0afbh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0afch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0afdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0afeh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0affh
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0b00h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b01h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0b02h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0b03h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0b04h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0b05h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b06h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0b07h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b08h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0b09h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b0ah
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b0bh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0b0ch
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0b0dh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b0eh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b0fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b10h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

;;  SCANNING...
; 0000h0b11h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0b12h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0b13h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0b14h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b15h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0b16h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b17h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0b18h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0b19h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b1ah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0b1bh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b1ch
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b1dh
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0b1eh
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0b1fh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0b20h
; 0000h05b0h
; 076h
; UNKNOWN instruction

; 0000h0b21h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0b22h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b23h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0b24h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0b25h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b26h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b27h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0b28h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0b29h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b2ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b2bh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b2ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b2dh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0b2eh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0b2fh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0b30h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0b31h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b32h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b33h
; 0000h05b0h
; 043h
; UNKNOWN instruction

; 0000h0b34h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0b35h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0b36h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h0b37h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0b38h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b39h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0b3ah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0b3bh
; 0000h05b0h
; 076h
; UNKNOWN instruction

; 0000h0b3ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b3dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b3eh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0b3fh
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h0b40h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0b41h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0b42h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b43h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b44h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0b45h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b46h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b47h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0b48h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b49h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0b4ah
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0b4bh
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0b4ch
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0b4dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b4eh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0b4fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b50h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b51h
; 0000h05b0h
; 071h
; UNKNOWN instruction

; 0000h0b52h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0b53h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0b54h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b55h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b56h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0b57h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b58h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b59h
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h0b5ah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b5bh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0b5ch
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b5dh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b5eh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b5fh
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b60h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0b61h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b62h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b63h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0b64h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0b65h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0b66h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0b67h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b68h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b69h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b6ah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b6bh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0b6ch
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0b6dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0b6eh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0b6fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b70h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0b71h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0b72h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b73h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0b74h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b75h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b76h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b77h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0b78h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0b79h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0b7ah
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b7bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b7ch
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0b7dh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0b7eh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b7fh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0b80h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b81h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0b82h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b83h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0b84h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b85h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b86h
; 0000h05b0h
; 032h
; UNKNOWN instruction

; 0000h0b87h
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h0b88h
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h0b89h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b8ah
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0b8bh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0b8ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b8dh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0b8eh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0b8fh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0b90h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0b91h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b92h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b93h
; 0000h05b0h
; 021h
; UNKNOWN instruction

; 0000h0b94h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0b95h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b96h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0b97h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0b98h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0b99h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0b9ah
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0b9bh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0b9ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0b9dh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0b9eh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0b9fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ba0h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0ba1h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0ba2h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0ba3h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0ba4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ba5h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0ba6h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0ba7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ba8h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0ba9h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0baah
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0babh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0bach
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0badh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0baeh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bafh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bb0h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0bb1h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0bb2h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0bb3h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0bb4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bb5h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bb6h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bb7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bb8h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0bb9h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0bbah
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0bbbh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0bbch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bbdh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bbeh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bbfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bc0h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0bc1h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0bc2h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0bc3h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0bc4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bc5h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bc6h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bc7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bc8h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0bc9h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0bcah
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0bcbh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0bcch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bcdh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bceh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bcfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bd0h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0bd1h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0bd2h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0bd3h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0bd4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bd5h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bd6h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bd7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bd8h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0bd9h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0bdah
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0bdbh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0bdch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bddh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bdeh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bdfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0be0h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0be1h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0be2h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0be3h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0be4h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0be5h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0be6h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0be7h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0be8h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0be9h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0beah
; 0000h05b0h
; 041h
; UNKNOWN instruction

; 0000h0bebh
; 0000h05b0h
; 04dh
; UNKNOWN instruction

; 0000h0bech
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0bedh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0beeh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0befh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bf0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bf1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bf2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bf3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bf4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bf5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bf6h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0bf7h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0bf8h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0bf9h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0bfah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0bfbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bfch
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0bfdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0bfeh
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0bffh
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0c00h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0c01h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c02h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0c03h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c04h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0c05h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c06h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0c07h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0c08h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c09h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0c0ah
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c0bh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0c0ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c0dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c0eh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c0fh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0c10h
; 0000h05b0h
; 074h
; UNKNOWN instruction

;;  SCANNING...
; 0000h0c11h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0c12h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c13h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0c14h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c15h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0c16h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c17h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0c18h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c19h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0c1ah
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0c1bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c1ch
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0c1dh
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0c1eh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c1fh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0c20h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c21h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0c22h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c23h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c24h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0c25h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c26h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0c27h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0c28h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0c29h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c2ah
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0c2bh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0c2ch
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0c2dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c2eh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0c2fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c30h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0c31h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0c32h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0c33h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0c34h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0c35h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0c36h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c37h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c38h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c39h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c3ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c3bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c3ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c3dh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0c3eh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0c3fh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0c40h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c41h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0c42h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0c43h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c44h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0c45h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c46h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c47h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0c48h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0c49h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c4ah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0c4bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c4ch
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0c4dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c4eh
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0c4fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c50h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0c51h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0c52h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0c53h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0c54h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0c55h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0c56h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0c57h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0c58h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0c59h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0c5ah
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0c5bh
; 0000h05b0h
; 059h
; UNKNOWN instruction

; 0000h0c5ch
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0c5dh
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h0c5eh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0c5fh
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0c60h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0c61h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0c62h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0c63h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0c64h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c65h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c66h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c67h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c68h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c69h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c6ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c6bh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0c6ch
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0c6dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0c6eh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0c6fh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0c70h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c71h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0c72h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0c73h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0c74h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h0c75h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0c76h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0c77h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0c78h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0c79h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0c7ah
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0c7bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c7ch
; 0000h05b0h
; 04dh
; UNKNOWN instruction

; 0000h0c7dh
; 0000h05b0h
; 041h
; UNKNOWN instruction

; 0000h0c7eh
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0c7fh
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0c80h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0c81h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0c82h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0c83h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0c84h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0c85h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0c86h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0c87h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0c88h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h0c89h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0c8ah
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0c8bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c8ch
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h0c8dh
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h0c8eh
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0c8fh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0c90h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h0c91h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0c92h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0c93h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0c94h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0c95h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0c96h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0c97h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0c98h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0c99h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0c9ah
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0c9bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c9ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c9dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c9eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0c9fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ca0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ca1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ca2h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ca3h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0ca4h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ca5h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0ca6h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ca7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ca8h
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h0ca9h
; 0000h05b0h
; 03fh
; UNKNOWN instruction

; 0000h0caah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cabh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0cach
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cadh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0caeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cafh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cb0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cb1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cb2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cb3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cb4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cb5h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0cb6h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0cb7h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0cb8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0cb9h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0cbah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cbbh
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h0cbch
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0cbdh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cbeh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0cbfh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cc0h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0cc1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cc2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cc3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cc4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cc5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cc6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cc7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cc8h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0cc9h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0ccah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ccbh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0ccch
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ccdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cceh
; 0000h05b0h
; 02fh
; UNKNOWN instruction

; 0000h0ccfh
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0cd0h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cd1h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0cd2h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cd3h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0cd4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cd5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cd6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cd7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cd8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cd9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cdah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cdbh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0cdch
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0cddh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0cdeh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0cdfh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ce0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ce1h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0ce2h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0ce3h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0ce4h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0ce5h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0ce6h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0ce7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ce8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ce9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ceah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cebh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cech
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cedh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ceeh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0cefh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0cf0h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0cf1h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0cf2h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0cf3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cf4h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0cf5h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0cf6h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cf7h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0cf8h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0cf9h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0cfah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cfbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cfch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cfdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cfeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0cffh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d00h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d01h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0d02h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d03h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d04h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0d05h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0d06h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d07h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0d08h
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h0d09h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0d0ah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d0bh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0d0ch
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0d0dh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0d0eh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0d0fh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0d10h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

;;  SCANNING...
; 0000h0d11h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0d12h
; 0000h05b0h
; 044h
; UNKNOWN instruction

; 0000h0d13h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0d14h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0d15h
; 0000h05b0h
; 043h
; UNKNOWN instruction

; 0000h0d16h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h0d17h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0d18h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0d19h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0d1ah
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0d1bh
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h0d1ch
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0d1dh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0d1eh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0d1fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d20h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d21h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d22h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d23h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d24h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d25h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d26h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0d27h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d28h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d29h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0d2ah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0d2bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d2ch
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0d2dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d2eh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0d2fh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0d30h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d31h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d32h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d33h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0d34h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d35h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d36h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0d37h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0d38h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d39h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d3ah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d3bh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d3ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d3dh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d3eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d3fh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0d40h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0d41h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d42h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0d43h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0d44h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0d45h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h0d46h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0d47h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0d48h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0d49h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0d4ah
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0d4bh
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0d4ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d4dh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0d4eh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d4fh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0d50h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d51h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d52h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0d53h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0d54h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0d55h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d56h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d57h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d58h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0d59h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d5ah
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d5bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d5ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d5dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d5eh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0d5fh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d60h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0d61h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0d62h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d63h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d64h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d65h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d66h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d67h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d68h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d69h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0d6ah
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d6bh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d6ch
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0d6dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d6eh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0d6fh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0d70h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d71h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d72h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d73h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h0d74h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d75h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d76h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d77h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d78h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0d79h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0d7ah
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0d7bh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d7ch
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0d7dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d7eh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d7fh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0d80h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0d81h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0d82h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d83h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0d84h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0d85h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d86h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d87h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d88h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0d89h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0d8ah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d8bh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0d8ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d8dh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0d8eh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0d8fh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0d90h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d91h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d92h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0d93h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0d94h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d95h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0d96h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0d97h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0d98h
; 0000h05b0h
; 04dh
; UNKNOWN instruction

; 0000h0d99h
; 0000h05b0h
; 041h
; UNKNOWN instruction

; 0000h0d9ah
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0d9bh
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0d9ch
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0d9dh
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0d9eh
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0d9fh
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0da0h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0da1h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0da2h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0da3h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0da4h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h0da5h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0da6h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0da7h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0da8h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0da9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0daah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dabh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dach
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dadh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0daeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dafh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0db0h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0db1h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0db2h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0db3h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0db4h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0db5h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0db6h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0db7h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0db8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0db9h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0dbah
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0dbbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dbch
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0dbdh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0dbeh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0dbfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dc0h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0dc1h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0dc2h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0dc3h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0dc4h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0dc5h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0dc6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dc7h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0dc8h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0dc9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dcah
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0dcbh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0dcch
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0dcdh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0dceh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0dcfh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0dd0h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0dd1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dd2h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0dd3h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0dd4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0dd5h
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h0dd6h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h0dd7h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0dd8h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0dd9h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h0ddah
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0ddbh
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0ddch
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0dddh
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0ddeh
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0ddfh
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0de0h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h0de1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0de2h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0de3h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0de4h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0de5h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0de6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0de7h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0de8h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0de9h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0deah
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0debh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0dech
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0dedh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0deeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0defh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0df0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0df1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0df2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0df3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0df4h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0df5h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0df6h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0df7h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0df8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0df9h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0dfah
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0dfbh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0dfch
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0dfdh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0dfeh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0dffh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e00h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0e01h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0e02h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e03h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0e04h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0e05h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0e06h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e07h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0e08h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0e09h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0e0ah
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e0bh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0e0ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e0dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e0eh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e0fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e10h
; 0000h05b0h
; 074h
; UNKNOWN instruction

;;  SCANNING...
; 0000h0e11h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0e12h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0e13h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e14h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0e15h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0e16h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0e17h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0e18h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0e19h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0e1ah
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0e1bh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0e1ch
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0e1dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e1eh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0e1fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0e20h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e21h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0e22h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e23h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0e24h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0e25h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0e26h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0e27h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0e28h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0e29h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0e2ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e2bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e2ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e2dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e2eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e2fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e30h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e31h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0e32h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0e33h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0e34h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0e35h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0e36h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0e37h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0e38h
; 0000h05b0h
; 03ah
; UNKNOWN instruction

; 0000h0e39h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0e3ah
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0e3bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e3ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e3dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e3eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e3fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e40h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e41h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e42h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e43h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e44h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e45h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e46h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e47h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e48h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e49h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0e4ah
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0e4bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e4ch
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h0e4dh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0e4eh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0e4fh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e50h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0e51h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0e52h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e53h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0e54h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e55h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h0e56h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e57h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0e58h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e59h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e5ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e5bh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0e5ch
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0e5dh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e5eh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0e5fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e60h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0e61h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e62h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0e63h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e64h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e65h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0e66h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e67h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0e68h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0e69h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e6ah
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0e6bh
; 0000h05b0h
; 06bh
; UNKNOWN instruction

; 0000h0e6ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e6dh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e6eh
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0e6fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e70h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e71h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0e72h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0e73h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e74h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h0e75h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e76h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0e77h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0e78h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e79h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e7ah
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0e7bh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e7ch
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0e7dh
; 0000h05b0h
; 03ah
; UNKNOWN instruction

; 0000h0e7eh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0e7fh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0e80h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e81h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e82h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e83h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e84h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e85h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e86h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e87h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e88h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e89h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e8ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e8bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e8ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e8dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e8eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e8fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e90h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e91h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e92h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0e93h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0e94h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e95h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0e96h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0e97h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0e98h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0e99h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0e9ah
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0e9bh
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0e9ch
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0e9dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0e9eh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0e9fh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ea0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ea1h
; 0000h05b0h
; 038h
; UNKNOWN instruction

; 0000h0ea2h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h0ea3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ea4h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0ea5h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ea6h
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h0ea7h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0ea8h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ea9h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0eaah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0eabh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0each
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0eadh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eaeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eafh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eb9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ebah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ebbh
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0ebch
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0ebdh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ebeh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ebfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ec0h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0ec1h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0ec2h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ec3h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ec4h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ec5h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ec6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ec7h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h0ec8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0ec9h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ecah
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h0ecbh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0ecch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ecdh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0eceh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0ecfh
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h0ed0h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h0ed1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ed2h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0ed3h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0ed4h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ed5h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0ed6h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ed7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ed8h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ed9h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0edah
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0edbh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0edch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0eddh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0edeh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0edfh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0ee0h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ee1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ee2h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0ee3h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0ee4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ee5h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0ee6h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0ee7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ee8h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ee9h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0eeah
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0eebh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0eech
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0eedh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0eeeh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0eefh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0ef0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ef9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0efah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0efbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0efch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0efdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0efeh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0effh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0f00h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0f01h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0f02h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f03h
; 0000h05b0h
; 038h
; UNKNOWN instruction

; 0000h0f04h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h0f05h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f06h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0f07h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0f08h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0f09h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0f0ah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0f0bh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0f0ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f0dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f0eh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0f0fh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0f10h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

;;  SCANNING...
; 0000h0f11h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f12h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0f13h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0f14h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0f15h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f16h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0f17h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f18h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0f19h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0f1ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f1bh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f1ch
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0f1dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f1eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f1fh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0f20h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0f21h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0f22h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0f23h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f24h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f25h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f26h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f27h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0f28h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f29h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f2ah
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0f2bh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0f2ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f2dh
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h0f2eh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0f2fh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0f30h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0f31h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0f32h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0f33h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f34h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0f35h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f36h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h0f37h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0f38h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0f39h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0f3ah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0f3bh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0f3ch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h0f3dh
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h0f3eh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0f3fh
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0f40h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0f41h
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h0f42h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0f43h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0f44h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0f45h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0f46h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f47h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f48h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f49h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f4ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f4bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f4ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f4dh
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0f4eh
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0f4fh
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h0f50h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h0f51h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0f52h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0f53h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h0f54h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0f55h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0f56h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0f57h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0f58h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0f59h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f5ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f5bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f5ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f5dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f5eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f5fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f60h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f61h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f62h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f63h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f64h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f65h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f66h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f67h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0f68h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0f69h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f6ah
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0f6bh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0f6ch
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0f6dh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0f6eh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f6fh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0f70h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f71h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f72h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0f73h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f74h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f75h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0f76h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0f77h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f78h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0f79h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f7ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f7bh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0f7ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f7dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f7eh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0f7fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f80h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f81h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0f82h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0f83h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0f84h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0f85h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f86h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0f87h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0f88h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0f89h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0f8ah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0f8bh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0f8ch
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0f8dh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0f8eh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h0f8fh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h0f90h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0f91h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0f92h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f93h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f94h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f95h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f96h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f97h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f98h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f99h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f9ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f9bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f9ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f9dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f9eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0f9fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fa0h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0fa1h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0fa2h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0fa3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fa4h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0fa5h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0fa6h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0fa7h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0fa8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fa9h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0faah
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0fabh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fach
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h0fadh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0faeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fafh
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0fb0h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h0fb1h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0fb2h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0fb3h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0fb4h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0fb5h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0fb6h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0fb7h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0fb8h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h0fb9h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0fbah
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0fbbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fbch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fbdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fbeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fbfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fc0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fc1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fc2h
; 0000h05b0h
; 04dh
; UNKNOWN instruction

; 0000h0fc3h
; 0000h05b0h
; 041h
; UNKNOWN instruction

; 0000h0fc4h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h0fc5h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0fc6h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0fc7h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h0fc8h
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0fc9h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0fcah
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h0fcbh
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h0fcch
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h0fcdh
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h0fceh
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h0fcfh
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h0fd0h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h0fd1h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h0fd2h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h0fd3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fd4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fd5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fd6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fd7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fd8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fd9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fdah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fdbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fdch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fddh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fdeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fdfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fe0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fe1h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h0fe2h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h0fe3h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0fe4h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h0fe5h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0fe6h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h0fe7h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0fe8h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0fe9h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h0feah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0febh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h0fech
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h0fedh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0feeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fefh
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0ff0h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ff1h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h0ff2h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h0ff3h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0ff4h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h0ff5h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h0ff6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0ff7h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h0ff8h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ff9h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h0ffah
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h0ffbh
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h0ffch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h0ffdh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h0ffeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h0fffh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1000h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1001h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1002h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h1003h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1004h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1005h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1006h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1007h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h1008h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1009h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h100ah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h100bh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h100ch
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h100dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h100eh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h100fh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1010h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

;;  SCANNING...
; 0000h1011h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1012h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1013h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1014h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1015h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1016h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1017h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1018h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1019h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h101ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h101bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h101ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h101dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h101eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h101fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1020h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1021h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1022h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1023h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1024h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1025h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h1026h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1027h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1028h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1029h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h102ah
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h102bh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h102ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h102dh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h102eh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h102fh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h1030h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1031h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h1032h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1033h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1034h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1035h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1036h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1037h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h1038h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1039h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h103ah
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h103bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h103ch
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h103dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h103eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h103fh
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h1040h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1041h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1042h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1043h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1044h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1045h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h1046h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1047h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1048h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1049h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h104ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h104bh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h104ch
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h104dh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h104eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h104fh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1050h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1051h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1052h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h1053h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1054h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1055h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h1056h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1057h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1058h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1059h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h105ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h105bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h105ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h105dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h105eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h105fh
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h1060h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h1061h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h1062h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h1063h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h1064h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h1065h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h1066h
; 0000h05b0h
; 046h
; UNKNOWN instruction

; 0000h1067h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h1068h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h1069h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h106ah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h106bh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h106ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h106dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h106eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h106fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1070h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1071h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1072h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1073h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1074h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1075h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1076h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1077h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1078h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1079h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h107ah
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h107bh
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h107ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h107dh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h107eh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h107fh
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h1080h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1081h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1082h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1083h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1084h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1085h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1086h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1087h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1088h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1089h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h108ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h108bh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h108ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h108dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h108eh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h108fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1090h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1091h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1092h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1093h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1094h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h1095h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1096h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1097h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1098h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1099h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h109ah
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h109bh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h109ch
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h109dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h109eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h109fh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h10a0h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h10a1h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h10a2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10a3h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h10a4h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h10a5h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h10a6h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h10a7h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h10a8h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h10a9h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h10aah
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h10abh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10ach
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10adh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10aeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10afh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10b9h
; 0000h05b0h
; 028h
; UNKNOWN instruction

; 0000h10bah
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h10bbh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h10bch
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h10bdh
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h10beh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h10bfh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h10c0h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h10c1h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h10c2h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h10c3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10c4h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h10c5h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h10c6h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h10c7h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h10c8h
; 0000h05b0h
; 029h
; UNKNOWN instruction

; 0000h10c9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10cah
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h10cbh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h10cch
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h10cdh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h10ceh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10cfh
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h10d0h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h10d1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10d2h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h10d3h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h10d4h
; 0000h05b0h
; 076h
; UNKNOWN instruction

; 0000h10d5h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h10d6h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h10d7h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h10d8h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h10d9h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h10dah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h10dbh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h10dch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h10ddh
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h10deh
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h10dfh
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h10e0h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h10e1h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h10e2h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h10e3h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h10e4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10e5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10e6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10e7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10e8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10e9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10eah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10ebh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h10ech
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10edh
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h10eeh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h10efh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h10f0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10f1h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h10f2h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h10f3h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h10f4h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h10f5h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h10f6h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h10f7h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h10f8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10f9h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h10fah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h10fbh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h10fch
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h10fdh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h10feh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h10ffh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1100h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1101h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1102h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1103h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1104h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1105h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1106h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h1107h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1108h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1109h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h110ah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h110bh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h110ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h110dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h110eh
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h110fh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1110h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

;;  SCANNING...
; 0000h1111h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1112h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1113h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1114h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1115h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h1116h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1117h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h1118h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1119h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h111ah
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h111bh
; 0000h05b0h
; 06bh
; UNKNOWN instruction

; 0000h111ch
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h111dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h111eh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h111fh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1120h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1121h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1122h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1123h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1124h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1125h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1126h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1127h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1128h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1129h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h112ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h112bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h112ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h112dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h112eh
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h112fh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1130h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1131h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1132h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h1133h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1134h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1135h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1136h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1137h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1138h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1139h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h113ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h113bh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h113ch
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h113dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h113eh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h113fh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1140h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h1141h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1142h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1143h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h1144h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1145h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h1146h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1147h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1148h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1149h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h114ah
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h114bh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h114ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h114dh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h114eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h114fh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1150h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1151h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h1152h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1153h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1154h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h1155h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1156h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1157h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h1158h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1159h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h115ah
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h115bh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h115ch
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h115dh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h115eh
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h115fh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1160h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1161h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h1162h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1163h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1164h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1165h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1166h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1167h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1168h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1169h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h116ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h116bh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h116ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h116dh
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h116eh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h116fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1170h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1171h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1172h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1173h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1174h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h1175h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1176h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1177h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1178h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1179h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h117ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h117bh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h117ch
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h117dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h117eh
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h117fh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h1180h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1181h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1182h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h1183h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1184h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1185h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1186h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1187h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1188h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1189h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h118ah
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h118bh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h118ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h118dh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h118eh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h118fh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1190h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h1191h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1192h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h1193h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1194h
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h1195h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1196h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1197h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1198h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1199h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h119ah
; 0000h05b0h
; 076h
; UNKNOWN instruction

; 0000h119bh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h119ch
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h119dh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h119eh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h119fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11a0h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h11a1h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h11a2h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h11a3h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h11a4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11a5h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h11a6h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h11a7h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h11a8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11a9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11aah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11abh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11ach
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11adh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11aeh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11afh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11b0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11b1h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h11b2h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h11b3h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h11b4h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h11b5h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h11b6h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h11b7h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h11b8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11b9h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h11bah
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h11bbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11bch
; 0000h05b0h
; 032h
; UNKNOWN instruction

; 0000h11bdh
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h11beh
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h11bfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11c0h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h11c1h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h11c2h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h11c3h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h11c4h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h11c5h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h11c6h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h11c7h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h11c8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h11c9h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h11cah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11cbh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h11cch
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h11cdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11ceh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h11cfh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h11d0h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h11d1h
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h11d2h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h11d3h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h11d4h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h11d5h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h11d6h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h11d7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11d8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11d9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11dah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11dbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11dch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11ddh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11deh
; 0000h05b0h
; 02dh
; UNKNOWN instruction

; 0000h11dfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11e0h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h11e1h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h11e2h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h11e3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11e4h
; 0000h05b0h
; 04dh
; UNKNOWN instruction

; 0000h11e5h
; 0000h05b0h
; 041h
; UNKNOWN instruction

; 0000h11e6h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h11e7h
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h11e8h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h11e9h
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h11eah
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h11ebh
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h11ech
; 0000h05b0h
; 05fh
; UNKNOWN instruction

; 0000h11edh
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h11eeh
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h11efh
; 0000h05b0h
; 04eh
; UNKNOWN instruction

; 0000h11f0h
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h11f1h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h11f2h
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h11f3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11f4h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h11f5h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h11f6h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h11f7h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h11f8h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h11f9h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h11fah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11fbh
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h11fch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h11fdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h11feh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h11ffh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1200h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1201h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1202h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1203h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1204h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1205h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1206h
; 0000h05b0h
; 076h
; UNKNOWN instruction

; 0000h1207h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1208h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1209h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h120ah
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h120bh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h120ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h120dh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h120eh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h120fh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1210h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

;;  SCANNING...
; 0000h1211h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1212h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1213h
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h1214h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1215h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1216h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h1217h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1218h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1219h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h121ah
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h121bh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h121ch
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h121dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h121eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h121fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1220h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1221h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1222h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1223h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1224h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1225h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1226h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1227h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1228h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1229h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h122ah
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h122bh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h122ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h122dh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h122eh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h122fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1230h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1231h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1232h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1233h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1234h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1235h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1236h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1237h
; 0000h05b0h
; 032h
; UNKNOWN instruction

; 0000h1238h
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h1239h
; 0000h05b0h
; 035h
; UNKNOWN instruction

; 0000h123ah
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h123bh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h123ch
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h123dh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h123eh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h123fh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1240h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h1241h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h1242h
; 0000h05b0h
; 058h
; UNKNOWN instruction

; 0000h1243h
; 0000h05b0h
; 041h
; UNKNOWN instruction

; 0000h1244h
; 0000h05b0h
; 04dh
; UNKNOWN instruction

; 0000h1245h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h1246h
; 0000h05b0h
; 04ch
; UNKNOWN instruction

; 0000h1247h
; 0000h05b0h
; 045h
; UNKNOWN instruction

; 0000h1248h
; 0000h05b0h
; 053h
; UNKNOWN instruction

; 0000h1249h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h124ah
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h124bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h124ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h124dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h124eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h124fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1250h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1251h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1252h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h1253h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1254h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1255h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h1256h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1257h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1258h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h1259h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h125ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h125bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h125ch
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h125dh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h125eh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h125fh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1260h
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h1261h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h1262h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1263h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h1264h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1265h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h1266h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1267h
; 0000h05b0h
; 077h
; UNKNOWN instruction

; 0000h1268h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1269h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h126ah
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h126bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h126ch
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h126dh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h126eh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h126fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1270h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1271h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1272h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h1273h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1274h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1275h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1276h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1277h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1278h
; 0000h05b0h
; 038h
; UNKNOWN instruction

; 0000h1279h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h127ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h127bh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h127ch
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h127dh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h127eh
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h127fh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1280h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h1281h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1282h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1283h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1284h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1285h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1286h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1287h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1288h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1289h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h128ah
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h128bh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h128ch
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h128dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h128eh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h128fh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1290h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1291h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1292h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1293h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1294h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1295h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1296h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1297h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1298h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1299h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h129ah
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h129bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h129ch
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h129dh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h129eh
; 0000h05b0h
; 076h
; UNKNOWN instruction

; 0000h129fh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h12a0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12a1h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h12a2h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12a3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12a4h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12a5h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h12a6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12a7h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h12a8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h12a9h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h12aah
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h12abh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h12ach
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12adh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h12aeh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12afh
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h12b0h
; 0000h05b0h
; 03ah
; UNKNOWN instruction

; 0000h12b1h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h12b2h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h12b3h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h12b4h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h12b5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12b6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12b7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12b8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12b9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12bah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12bbh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12bch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12bdh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12beh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12bfh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12c0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12c1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12c2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12c3h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h12c4h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h12c5h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12c6h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h12c7h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h12c8h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12c9h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h12cah
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h12cbh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h12cch
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h12cdh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h12ceh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12cfh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h12d0h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12d1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12d2h
; 0000h05b0h
; 038h
; UNKNOWN instruction

; 0000h12d3h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h12d4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12d5h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h12d6h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h12d7h
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h12d8h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h12d9h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12dah
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h12dbh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12dch
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h12ddh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h12deh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h12dfh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h12e0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12e1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12e2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12e3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12e4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12e5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12e6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12e7h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h12e8h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h12e9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12eah
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h12ebh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h12ech
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h12edh
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h12eeh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h12efh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12f0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12f1h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h12f2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12f3h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h12f4h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h12f5h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h12f6h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h12f7h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h12f8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h12f9h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h12fah
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h12fbh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h12fch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h12fdh
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h12feh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h12ffh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1300h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1301h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h1302h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1303h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h1304h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1305h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1306h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1307h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h1308h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1309h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h130ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h130bh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h130ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h130dh
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h130eh
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h130fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1310h
; 0000h05b0h
; 077h
; UNKNOWN instruction

;;  SCANNING...
; 0000h1311h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1312h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1313h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1314h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1315h
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1316h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1317h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1318h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1319h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h131ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h131bh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h131ch
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h131dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h131eh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h131fh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1320h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1321h
; 0000h05b0h
; 031h
; UNKNOWN instruction

; 0000h1322h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h1323h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h1324h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1325h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1326h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1327h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1328h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1329h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h132ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h132bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h132ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h132dh
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h132eh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h132fh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1330h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1331h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1332h
; 0000h05b0h
; 063h
; UNKNOWN instruction

; 0000h1333h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1334h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1335h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1336h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1337h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1338h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1339h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h133ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h133bh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h133ch
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h133dh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h133eh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h133fh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1340h
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h1341h
; 0000h05b0h
; 03ah
; UNKNOWN instruction

; 0000h1342h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1343h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1344h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1345h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1346h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1347h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1348h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1349h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h134ah
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h134bh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h134ch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h134dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h134eh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h134fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1350h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1351h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1352h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1353h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1354h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1355h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1356h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1357h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1358h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1359h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h135ah
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h135bh
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h135ch
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h135dh
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h135eh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h135fh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h1360h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1361h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h1362h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1363h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1364h
; 0000h05b0h
; 031h
; UNKNOWN instruction

; 0000h1365h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h1366h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h1367h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1368h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1369h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h136ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h136bh
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h136ch
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h136dh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h136eh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h136fh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1370h
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h1371h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1372h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1373h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1374h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h1375h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h1376h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h1377h
; 0000h05b0h
; 041h
; UNKNOWN instruction

; 0000h1378h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h1379h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h137ah
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h137bh
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h137ch
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h137dh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h137eh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h137fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1380h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1381h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1382h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1383h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1384h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1385h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1386h
; 0000h05b0h
; 057h
; UNKNOWN instruction

; 0000h1387h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1388h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1389h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h138ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h138bh
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h138ch
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h138dh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h138eh
; 0000h05b0h
; 062h
; UNKNOWN instruction

; 0000h138fh
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h1390h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1391h
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h1392h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h1393h
; 0000h05b0h
; 06bh
; UNKNOWN instruction

; 0000h1394h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h1395h
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h1396h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1397h
; 0000h05b0h
; 042h
; UNKNOWN instruction

; 0000h1398h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h1399h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h139ah
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h139bh
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h139ch
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h139dh
; 0000h05b0h
; 06bh
; UNKNOWN instruction

; 0000h139eh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h139fh
; 0000h05b0h
; 073h
; UNKNOWN instruction

; 0000h13a0h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h13a1h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h13a2h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h13a3h
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h13a4h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h13a5h
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h13a6h
; 0000h05b0h
; 043h
; UNKNOWN instruction

; 0000h13a7h
; 0000h05b0h
; 04fh
; UNKNOWN instruction

; 0000h13a8h
; 0000h05b0h
; 050h
; UNKNOWN instruction

; 0000h13a9h
; 0000h05b0h
; 059h
; UNKNOWN instruction

; 0000h13aah
; 0000h05b0h
; 052h
; UNKNOWN instruction

; 0000h13abh
; 0000h05b0h
; 049h
; UNKNOWN instruction

; 0000h13ach
; 0000h05b0h
; 047h
; UNKNOWN instruction

; 0000h13adh
; 0000h05b0h
; 048h
; UNKNOWN instruction

; 0000h13aeh
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h13afh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h13b0h
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h13b1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13b2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13b3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13b4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13b5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13b6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13b7h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13b8h
; 0000h05b0h
; 043h
; UNKNOWN instruction

; 0000h13b9h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h13bah
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h13bbh
; 0000h05b0h
; 079h
; UNKNOWN instruction

; 0000h13bch
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h13bdh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h13beh
; 0000h05b0h
; 067h
; UNKNOWN instruction

; 0000h13bfh
; 0000h05b0h
; 068h
; UNKNOWN instruction

; 0000h13c0h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h13c1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13c2h
; 0000h05b0h
; 032h
; UNKNOWN instruction

; 0000h13c3h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h13c4h
; 0000h05b0h
; 032h
; UNKNOWN instruction

; 0000h13c5h
; 0000h05b0h
; 034h
; UNKNOWN instruction

; 0000h13c6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13c7h
; 0000h05b0h
; 056h
; UNKNOWN instruction

; 0000h13c8h
; 0000h05b0h
; 055h
; UNKNOWN instruction

; 0000h13c9h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h13cah
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h13cbh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h13cch
; 0000h05b0h
; 024h
; UNKNOWN instruction

; 0000h13cdh
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h13ceh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h13cfh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h13d0h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h13d1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13d2h
; 0000h05b0h
; 038h
; UNKNOWN instruction

; 0000h13d3h
; 0000h05b0h
; 030h
; UNKNOWN instruction

; 0000h13d4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13d5h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h13d6h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h13d7h
; 0000h05b0h
; 07ah
; UNKNOWN instruction

; 0000h13d8h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h13d9h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h13dah
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h13dbh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h13dch
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h13ddh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h13deh
; 0000h05b0h
; 00dh
; UNKNOWN instruction

; 0000h13dfh
; 0000h05b0h
; 00ah
; UNKNOWN instruction

; 0000h13e0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13e1h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13e2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13e3h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13e4h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13e5h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13e6h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13e7h
; 0000h05b0h
; 054h
; UNKNOWN instruction

; 0000h13e8h
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h13e9h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13eah
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h13ebh
; 0000h05b0h
; 06fh
; UNKNOWN instruction

; 0000h13ech
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h13edh
; 0000h05b0h
; 06dh
; UNKNOWN instruction

; 0000h13eeh
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h13efh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h13f0h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13f1h
; 0000h05b0h
; 061h
; UNKNOWN instruction

; 0000h13f2h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13f3h
; 0000h05b0h
; 064h
; UNKNOWN instruction

; 0000h13f4h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h13f5h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h13f6h
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h13f7h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h13f8h
; 0000h05b0h
; 072h
; UNKNOWN instruction

; 0000h13f9h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h13fah
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h13fbh
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h13fch
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h13fdh
; 0000h05b0h
; 066h
; UNKNOWN instruction

; 0000h13feh
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h13ffh
; 0000h05b0h
; 06ch
; UNKNOWN instruction

; 0000h1400h
; 0000h05b0h
; 065h
; UNKNOWN instruction

; 0000h1401h
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h1402h
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1403h
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h1404h
; 0000h05b0h
; 069h
; UNKNOWN instruction

; 0000h1405h
; 0000h05b0h
; 06eh
; UNKNOWN instruction

; 0000h1406h
; 0000h05b0h
; 070h
; UNKNOWN instruction

; 0000h1407h
; 0000h05b0h
; 075h
; UNKNOWN instruction

; 0000h1408h
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h1409h
; 0000h05b0h
; 02eh
; UNKNOWN instruction

; 0000h140ah
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h140bh
; 0000h05b0h
; 078h
; UNKNOWN instruction

; 0000h140ch
; 0000h05b0h
; 074h
; UNKNOWN instruction

; 0000h140dh
; 0000h05b0h
; 027h
; UNKNOWN instruction

; 0000h140eh
; 0000h05b0h
; 02ch
; UNKNOWN instruction

; 0000h140fh
; 0000h05b0h
; 020h
; UNKNOWN instruction

; 0000h1410h
; 0000h05b0h
; 077h
; UNKNOWN instruction

;;  SCANNING...
