.MODEL SMALL
.STACK  00100h

.DATA
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h
    db  024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 024h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 00dh, 00ah
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h, 000h
    db  000h, 044h, 065h, 062h, 075h, 067h, 020h, 06dh, 065h, 073h, 073h, 061h, 067h, 065h, 00dh, 00ah
    db  024h, 02fh, 03fh, 000h, 02fh, 068h, 000h, 02fh, 048h, 000h, 02dh, 068h, 000h, 02dh, 048h, 000h
    db  02dh, 02dh, 068h, 065h, 06ch, 070h, 000h, 050h, 072h, 065h, 073h, 073h, 020h, 061h, 06eh, 079h
    db  020h, 06bh, 065h, 079h, 020h, 074h, 06fh, 020h, 063h, 06fh, 06eh, 074h, 069h, 06eh, 075h, 065h
    db  02eh, 02eh, 02eh, 024h, 00dh, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 00dh, 024h, 00ah, 045h, 052h, 052h, 04fh, 052h, 03ah, 020h, 024h, 046h
    db  061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 06fh, 070h, 065h, 06eh, 020h, 066h, 069h
    db  06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh
    db  020h, 063h, 072h, 065h, 061h, 074h, 065h, 020h, 066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah
    db  024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h, 074h, 06fh, 020h, 072h, 065h, 061h, 064h, 020h
    db  066h, 069h, 06ch, 065h, 021h, 00dh, 00ah, 00ah, 024h, 046h, 061h, 069h, 06ch, 065h, 064h, 020h
    db  074h, 06fh, 020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 066h, 069h, 06ch, 065h
    db  021h, 00dh, 00ah, 00ah, 024h, 050h, 061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 020h
    db  061h, 072h, 065h, 020h, 06eh, 06fh, 074h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h
    db  064h, 021h, 00dh, 00ah, 00ah, 024h, 054h, 06fh, 06fh, 020h, 06dh, 061h, 06eh, 079h, 020h, 070h
    db  061h, 072h, 061h, 06dh, 065h, 074h, 065h, 072h, 073h, 021h, 00dh, 00ah, 00ah, 024h, 049h, 06eh
    db  076h, 061h, 06ch, 069h, 064h, 020h, 06ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 021h, 020h, 043h, 061h, 06eh, 027h, 074h, 020h, 068h, 061h, 076h, 065h, 020h, 073h, 079h
    db  06dh, 062h, 06fh, 06ch, 073h, 020h, 06fh, 072h, 020h, 06eh, 075h, 06dh, 062h, 065h, 072h, 020h
    db  065h, 071h, 075h, 061h, 06ch, 020h, 074h, 06fh, 020h, 07ah, 065h, 072h, 06fh, 021h, 021h, 021h
    db  00dh, 00ah, 00ah, 024h, 04ch, 069h, 06eh, 065h, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 020h
    db  069h, 073h, 020h, 074h, 06fh, 06fh, 020h, 062h, 069h, 067h, 021h, 020h, 053h, 068h, 06fh, 075h
    db  06ch, 064h, 020h, 062h, 065h, 020h, 032h, 035h, 035h, 020h, 06fh, 072h, 020h, 06ch, 065h, 073h
    db  073h, 021h, 021h, 021h, 00dh, 00ah, 00ah, 024h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h, 048h, 045h, 04ch, 050h, 020h, 02dh, 02dh, 020h
    db  048h, 045h, 04ch, 050h, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 041h, 04dh, 045h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 020h, 053h, 070h
    db  06ch, 069h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h, 06ch, 065h, 020h, 069h, 06eh
    db  074h, 06fh, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 06fh, 066h, 020h, 073h, 070h, 065h, 063h
    db  069h, 066h, 069h, 065h, 064h, 020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h
    db  020h, 077h, 072h, 069h, 074h, 065h, 020h, 074h, 06fh, 020h, 061h, 020h, 06eh, 065h, 077h, 020h
    db  066h, 069h, 06ch, 065h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 053h, 059h, 04eh, 04fh, 050h, 053h
    db  049h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 04dh, 041h, 058h, 05fh
    db  04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 020h, 04fh, 055h, 054h, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 03fh, 00dh, 00ah, 00dh, 00ah, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 068h, 00dh, 00ah, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02fh, 048h
    db  00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h
    db  020h, 02dh, 068h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh
    db  074h, 072h, 061h, 020h, 02dh, 048h, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 061h, 06eh, 074h, 072h, 061h, 020h, 02dh, 02dh, 068h, 065h, 06ch, 070h, 00dh, 00ah, 00dh
    db  00ah, 024h, 044h, 045h, 053h, 043h, 052h, 049h, 050h, 054h, 049h, 04fh, 04eh, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 072h, 065h, 061h, 064h
    db  073h, 020h, 074h, 068h, 065h, 020h, 063h, 06fh, 06eh, 074h, 065h, 06eh, 074h, 073h, 020h, 06fh
    db  066h, 020h, 049h, 04eh, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 020h, 061h, 06eh, 064h
    db  020h, 073h, 070h, 06ch, 069h, 074h, 073h, 020h, 069h, 074h, 073h, 020h, 074h, 065h, 078h, 074h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 069h, 06eh, 074h, 06fh, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 02ch, 020h, 065h, 06eh, 073h, 075h, 072h, 069h, 06eh, 067h, 020h, 065h, 061h
    db  063h, 068h, 020h, 06ch, 069h, 06eh, 065h, 020h, 064h, 06fh, 065h, 073h, 020h, 06eh, 06fh, 074h
    db  020h, 065h, 078h, 063h, 065h, 065h, 064h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h
    db  05fh, 04ch, 045h, 04eh, 047h, 054h, 048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh, 020h, 054h, 068h, 065h, 020h
    db  06fh, 075h, 074h, 070h, 075h, 074h, 020h, 069h, 073h, 020h, 077h, 072h, 069h, 074h, 074h, 065h
    db  06eh, 020h, 074h, 06fh, 020h, 04fh, 055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h
    db  02ch, 020h, 077h, 069h, 074h, 068h, 020h, 065h, 061h, 063h, 068h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 06ch, 069h, 06eh, 065h, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 074h
    db  065h, 064h, 020h, 061h, 063h, 063h, 06fh, 072h, 064h, 069h, 06eh, 067h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 064h, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 045h, 078h, 061h, 06dh, 070h, 06ch, 065h, 03ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 066h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 073h, 020h
    db  061h, 020h, 06ch, 06fh, 06eh, 067h, 020h, 062h, 06ch, 06fh, 063h, 06bh, 020h, 06fh, 066h, 020h
    db  074h, 065h, 078h, 074h, 02ch, 020h, 072h, 075h, 06eh, 06eh, 069h, 06eh, 067h, 03ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h, 074h
    db  020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 077h, 069h, 06ch, 06ch, 020h
    db  063h, 072h, 065h, 061h, 074h, 065h, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  02ch, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h, 06eh
    db  065h, 020h, 069h, 073h, 020h, 06eh, 06fh, 020h, 06ch, 06fh, 06eh, 067h, 065h, 072h, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 074h, 068h
    db  061h, 06eh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h
    db  02ch, 020h, 062h, 061h, 073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 069h
    db  06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 069h, 06eh, 020h, 027h, 064h, 075h
    db  06fh, 06dh, 02eh, 074h, 078h, 074h, 027h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04fh, 050h, 054h
    db  049h, 04fh, 04eh, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 049h, 04eh, 050h
    db  055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h
    db  020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h, 074h, 068h, 065h
    db  020h, 066h, 069h, 06ch, 065h, 020h, 063h, 06fh, 06eh, 074h, 061h, 069h, 06eh, 069h, 06eh, 067h
    db  00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  074h, 068h, 065h, 020h, 074h, 065h, 078h, 074h, 020h, 074h, 06fh, 020h, 062h, 065h, 020h, 070h
    db  072h, 06fh, 063h, 065h, 073h, 073h, 065h, 064h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh, 047h, 054h
    db  048h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 053h, 070h, 065h, 063h, 069h, 066h, 069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 06dh
    db  061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 061h, 06ch, 06ch, 06fh, 077h, 065h, 064h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 020h, 06fh, 066h, 020h, 065h, 061h, 063h, 068h, 020h, 06ch, 069h
    db  06eh, 065h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 069h, 06eh, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 02eh
    db  020h, 04ch, 069h, 06eh, 065h, 073h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h, 065h, 020h, 077h
    db  072h, 061h, 070h, 070h, 065h, 064h, 020h, 061h, 074h, 020h, 074h, 068h, 069h, 073h, 020h, 06ch
    db  065h, 06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 04fh
    db  055h, 054h, 050h, 055h, 054h, 05fh, 046h, 049h, 04ch, 045h, 00dh, 00ah, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 053h, 070h, 065h, 063h, 069h, 066h
    db  069h, 065h, 073h, 020h, 074h, 068h, 065h, 020h, 070h, 061h, 074h, 068h, 020h, 074h, 06fh, 020h
    db  074h, 068h, 065h, 020h, 066h, 069h, 06ch, 065h, 020h, 077h, 068h, 065h, 072h, 065h, 020h, 074h
    db  068h, 065h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 028h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  074h, 065h, 064h, 020h, 074h, 065h, 078h, 074h, 029h, 020h, 077h, 069h, 06ch, 06ch, 020h, 062h
    db  065h, 020h, 073h, 061h, 076h, 065h, 064h, 02eh, 00dh, 00ah, 00dh, 00ah, 024h, 04eh, 04fh, 054h
    db  045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 070h, 072h, 06fh, 067h, 072h, 061h, 06dh, 020h, 072h, 065h, 061h, 064h, 073h, 020h, 074h
    db  068h, 065h, 020h, 069h, 06eh, 070h, 075h, 074h, 020h, 074h, 065h, 078h, 074h, 020h, 066h, 069h
    db  06ch, 065h, 020h, 061h, 06eh, 064h, 020h, 062h, 072h, 065h, 061h, 06bh, 073h, 020h, 06ch, 069h
    db  06eh, 065h, 073h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 062h, 061h
    db  073h, 065h, 064h, 020h, 06fh, 06eh, 020h, 074h, 068h, 065h, 020h, 073h, 070h, 065h, 063h, 069h
    db  066h, 069h, 065h, 064h, 020h, 063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 020h, 06ch
    db  069h, 06dh, 069h, 074h, 02ch, 020h, 069h, 066h, 020h, 070h, 06fh, 073h, 073h, 069h, 062h, 06ch
    db  065h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h, 054h, 068h, 065h
    db  020h, 069h, 06eh, 070h, 075h, 074h, 020h, 061h, 06eh, 064h, 020h, 06fh, 075h, 074h, 070h, 075h
    db  074h, 020h, 066h, 069h, 06ch, 065h, 020h, 070h, 061h, 074h, 068h, 073h, 020h, 073h, 068h, 06fh
    db  075h, 06ch, 064h, 020h, 062h, 065h, 020h, 070h, 072h, 06fh, 076h, 069h, 064h, 065h, 064h, 020h
    db  077h, 069h, 074h, 068h, 020h, 061h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 06dh, 061h, 078h, 069h, 06dh, 075h, 06dh, 020h, 06fh, 066h, 020h, 032h, 035h, 035h, 020h
    db  063h, 068h, 061h, 072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h
    db  06eh, 067h, 074h, 068h, 02eh, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 02dh, 020h
    db  054h, 068h, 065h, 020h, 04dh, 041h, 058h, 05fh, 04ch, 049h, 04eh, 045h, 05fh, 04ch, 045h, 04eh
    db  047h, 054h, 048h, 020h, 073h, 068h, 06fh, 075h, 06ch, 064h, 020h, 062h, 065h, 020h, 061h, 020h
    db  070h, 06fh, 073h, 069h, 074h, 069h, 076h, 065h, 020h, 069h, 06eh, 074h, 065h, 067h, 065h, 072h
    db  02ch, 020h, 074h, 079h, 070h, 069h, 063h, 061h, 06ch, 06ch, 079h, 00dh, 00ah, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 06eh, 06fh, 074h, 020h, 067h, 072h, 065h, 061h, 074h, 065h
    db  072h, 020h, 074h, 068h, 061h, 06eh, 020h, 032h, 035h, 035h, 073h, 02eh, 00dh, 00ah, 00dh, 00ah
    db  024h, 045h, 058h, 041h, 04dh, 050h, 04ch, 045h, 053h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h, 020h, 027h, 064h, 075h, 06fh
    db  06dh, 02eh, 074h, 078h, 074h, 027h, 020h, 077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h
    db  073h, 020h, 075h, 070h, 020h, 074h, 06fh, 020h, 038h, 030h, 020h, 063h, 068h, 061h, 072h, 061h
    db  063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h, 068h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 061h, 06eh, 064h, 020h, 073h, 061h, 076h, 065h
    db  020h, 069h, 074h, 020h, 074h, 06fh, 020h, 027h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 027h
    db  03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 064h, 075h, 06fh, 06dh, 02eh, 074h, 078h
    db  074h, 020h, 038h, 030h, 020h, 072h, 065h, 07ah, 02eh, 074h, 078h, 074h, 00dh, 00ah, 00dh, 00ah
    db  020h, 020h, 020h, 020h, 020h, 020h, 020h, 054h, 06fh, 020h, 066h, 06fh, 072h, 06dh, 061h, 074h
    db  020h, 061h, 020h, 064h, 069h, 066h, 066h, 065h, 072h, 065h, 06eh, 074h, 020h, 066h, 069h, 06ch
    db  065h, 02ch, 020h, 027h, 069h, 06eh, 070h, 075h, 074h, 02eh, 074h, 078h, 074h, 027h, 02ch, 020h
    db  077h, 069h, 074h, 068h, 020h, 06ch, 069h, 06eh, 065h, 073h, 020h, 075h, 070h, 020h, 074h, 06fh
    db  020h, 031h, 030h, 030h, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 063h, 068h, 061h
    db  072h, 061h, 063h, 074h, 065h, 072h, 073h, 020h, 069h, 06eh, 020h, 06ch, 065h, 06eh, 067h, 074h
    db  068h, 03ah, 00dh, 00ah, 00dh, 00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 020h
    db  020h, 020h, 020h, 020h, 061h, 06eh, 074h, 072h, 061h, 020h, 069h, 06eh, 070h, 075h, 074h, 02eh
    db  074h, 078h, 074h, 020h, 031h, 030h, 030h, 020h, 06fh, 075h, 074h, 070h, 075h, 074h, 02eh, 074h
    db  078h, 074h, 00dh, 00ah, 00dh, 00ah, 024h, 041h, 055h, 054h, 048h, 04fh, 052h, 00dh, 00ah, 020h
    db  020h, 020h, 020h, 020h, 020h, 020h, 057h, 072h, 069h, 074h, 074h, 065h, 06eh, 020h, 062h, 079h
    db  020h, 052h, 06fh, 06bh, 061h, 073h, 020h, 042h, 072h, 061h, 069h, 064h, 06fh, 06bh, 061h, 073h
    db  02eh, 00dh, 00ah, 00dh, 00ah, 024h, 043h, 04fh, 050h, 059h, 052h, 049h, 047h, 048h, 054h, 00dh
    db  00ah, 020h, 020h, 020h, 020h, 020h, 020h, 020h, 043h, 06fh, 070h, 079h, 072h, 069h, 067h, 068h
    db  074h, 020h, 032h, 030h, 032h, 034h, 020h, 056h, 055h, 02eh, 00dh, 00ah, 024h, 000h, 000h, 000h
.CODE
;;  SCANNING...
;;           code byte in file : 00000h01120h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01121h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01122h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01123h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 00461h ], di

;;           code byte in file : 00000h01127h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01128h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00008h
;;                 si register : 0020ah
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h0112ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;        current byte in file : 09eh
; UNKNOWN instruction

;;           code byte in file : 00000h0112bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;        current byte in file : 000h
; 001h003h002h
    add     byte ptr [ bp + si + 058h ], bl

;;           code byte in file : 00000h0112eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000eh
;;                 si register : 00210h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0112fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01130h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;        current byte in file : 03eh


;;           code byte in file : 00000h01131h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;        current byte in file : 08bh
; UNKNOWN instruction

;;           code byte in file : 00000h01132h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;        current byte in file : 01eh
    push    ds

;;           code byte in file : 00000h01133h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01134h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00014h
;;                 si register : 00216h
;;        current byte in file : 001h
; 003h001h005h
    add     bp, cx

;;           code byte in file : 00000h01136h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;        current byte in file : 021h
; 002h001h003h
    and     word ptr cs:[ bp + di + 0001eh ], cx

;;           code byte in file : 00000h0113ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;        current byte in file : 002h
; 003h001h005h
    add     cl, ch

;;           code byte in file : 00000h0113ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;        current byte in file : 021h
; 002h007h000h
    and     word ptr [ bx + si + 04c00h ], di

;;           code byte in file : 00000h01140h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01141h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00021h
;;                 si register : 00223h
;;        current byte in file : 021h
; 001h002h000h
    and     word ptr [ bx + si + 052h ], dx

;;           code byte in file : 00000h01144h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01145h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00025h
;;                 si register : 00227h
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h01149h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0114ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 004cfh ], di

;;           code byte in file : 00000h0114eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002eh
;;                 si register : 00230h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0114fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h01152h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01153h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00033h
;;                 si register : 00235h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01154h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00034h
;;                 si register : 00236h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01155h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01156h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00036h
;;                 si register : 00238h
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0115ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003ah
;;                 si register : 0023ch
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0115bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003bh
;;                 si register : 0023dh
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 004e7h ], di

;;           code byte in file : 00000h0115fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003fh
;;                 si register : 00241h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01160h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00040h
;;                 si register : 00242h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h01163h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01164h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00044h
;;                 si register : 00246h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01165h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01166h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01167h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0116bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0116ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004ch
;;                 si register : 0024eh
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00501h ], di

;;           code byte in file : 00000h01170h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01171h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00051h
;;                 si register : 00253h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h01174h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00054h
;;                 si register : 00256h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01175h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01176h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01177h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01178h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0117ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005ch
;;                 si register : 0025eh
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0117dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005dh
;;                 si register : 0025fh
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00519h ], di

;;           code byte in file : 00000h01181h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01182h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h01185h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01186h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00066h
;;                 si register : 00268h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01187h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00067h
;;                 si register : 00269h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01188h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01189h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0118dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0118eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00535h ], di

;;           code byte in file : 00000h01192h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01193h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h01196h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01197h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00077h
;;                 si register : 00279h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01198h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00078h
;;                 si register : 0027ah
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01199h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h0119ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007ah
;;                 si register : 0027ch
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h0119eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h0119fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00556h ], di

;;           code byte in file : 00000h011a3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011a4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h011a7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h011a8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h011a9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h011aah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h011abh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h011afh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011b0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 0056eh ], di

;;           code byte in file : 00000h011b4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011b5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00095h
;;                 si register : 00297h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h011b8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00098h
;;                 si register : 0029ah
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h011b9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h011bah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h011bbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h011bch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009ch
;;                 si register : 0029eh
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 004c6h ], di

;;           code byte in file : 00000h011c0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011c1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 005b4h ], di

;;           code byte in file : 00000h011c5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a5h
;;                 si register : 002a7h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011c6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h011c9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h011cah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h011cbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000abh
;;                 si register : 002adh
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h011cch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h011cdh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000adh
;;                 si register : 002afh
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 00487h ], di

;;           code byte in file : 00000h011d1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011d2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b2h
;;                 si register : 002b4h
;;        current byte in file : 021h
; 002h006h004h
    and     word ptr [ si + 0cd08h ], si

;;           code byte in file : 00000h011d6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b6h
;;                 si register : 002b8h
;;        current byte in file : 021h
; 002h006h004h
    and     word ptr [ si + 0ba09h ], si

;;           code byte in file : 00000h011dah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bah
;;                 si register : 002bch
;;        current byte in file : 0a4h
; UNKNOWN instruction

;;           code byte in file : 00000h011dbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bbh
;;                 si register : 002bdh
;;        current byte in file : 004h
    add     al, 0cdh

;;           code byte in file : 00000h011ddh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bdh
;;                 si register : 002bfh
;;        current byte in file : 021h
; 001h003h002h
    and     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h011e0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c0h
;;                 si register : 002c2h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h011e1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h011e2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h011e3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h011e4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c4h
;;                 si register : 002c6h
;;        current byte in file : 009h
; 002h007h002h
    or      word ptr [ bp + si + 005e8h ], di

;;           code byte in file : 00000h011e8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011e9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;        current byte in file : 021h
; 002h007h002h
    and     word ptr [ bp + si + 00639h ], di

;;           code byte in file : 00000h011edh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011eeh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ceh
;;                 si register : 002d0h
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h011f0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;        current byte in file : 0d8h
; UNKNOWN instruction

;;           code byte in file : 00000h011f1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h011f2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h011f3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;        current byte in file : 0aah
; UNKNOWN instruction

;;           code byte in file : 00000h011f4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;        current byte in file : 006h
    push    es

;;           code byte in file : 00000h011f5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011f6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d6h
;;                 si register : 002d8h
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h011f8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d8h
;;                 si register : 002dah
;;        current byte in file : 0d0h
; UNKNOWN instruction

;;           code byte in file : 00000h011f9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h011fah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h011fbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dbh
;;                 si register : 002ddh
;;        current byte in file : 062h

; UNKNOWN instruction

;;           code byte in file : 00000h011fch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dch
;;                 si register : 002deh
;;        current byte in file : 007h
    pop     es

;;           code byte in file : 00000h011fdh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h011feh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000deh
;;                 si register : 002e0h
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h01200h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e0h
;;                 si register : 002e2h
;;        current byte in file : 0c8h
; UNKNOWN instruction

;;           code byte in file : 00000h01201h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e1h
;;                 si register : 002e3h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01202h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h01203h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e3h
;;                 si register : 002e5h
;;        current byte in file : 07ah
    jp      008h

;;           code byte in file : 00000h01205h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e5h
;;                 si register : 002e7h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01206h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e6h
;;                 si register : 002e8h
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h01208h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;        current byte in file : 0c0h
; UNKNOWN instruction

;;           code byte in file : 00000h01209h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0120ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000eah
;;                 si register : 002ech
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h0120bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ebh
;;                 si register : 002edh
;;        current byte in file : 08dh
; UNKNOWN instruction

;;           code byte in file : 00000h0120ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ech
;;                 si register : 002eeh
;;        current byte in file : 009h
; 003h001h005h
    or      bp, cx

;;           code byte in file : 00000h0120eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000eeh
;;                 si register : 002f0h
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h01210h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;        current byte in file : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h01211h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f1h
;;                 si register : 002f3h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01212h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f2h
;;                 si register : 002f4h
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h01213h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f3h
;;                 si register : 002f5h
;;        current byte in file : 02dh
    sub     ax, 0cd0bh

;;           code byte in file : 00000h01216h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;           code byte in file : 00000h01218h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;        current byte in file : 0b0h
; UNKNOWN instruction

;;           code byte in file : 00000h01219h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f9h
;;                 si register : 002fbh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0121ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h0121bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;        current byte in file : 091h
; UNKNOWN instruction

;;           code byte in file : 00000h0121ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;        current byte in file : 00ch
    or      al, 0cdh

;;           code byte in file : 00000h0121eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000feh
;;                 si register : 00300h
;;        current byte in file : 021h
; 003h005h000h
    and     ax, bp

;;  SCANNING...
;;           code byte in file : 00000h01220h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;        current byte in file : 0a8h
; UNKNOWN instruction

;;           code byte in file : 00000h01221h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01222h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h01223h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;        current byte in file : 0c7h
; UNKNOWN instruction

;;           code byte in file : 00000h01224h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;        current byte in file : 00dh
    or      ax, 021cdh

;;           code byte in file : 00000h01227h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01228h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00008h
;;                 si register : 0020ah
;;        current byte in file : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h01229h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00009h
;;                 si register : 0020bh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0122ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h0122bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;        current byte in file : 0f6h
; UNKNOWN instruction

;;           code byte in file : 00000h0122ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000ch
;;                 si register : 0020eh
;;        current byte in file : 00dh
    or      ax, 021cdh

;;           code byte in file : 00000h0122fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;        current byte in file : 05ah
    pop     dx

;;           code byte in file : 00000h01230h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h01231h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01232h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01233h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;        current byte in file : 057h
    push    di

;;           code byte in file : 00000h01234h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00014h
;;                 si register : 00216h
;;        current byte in file : 056h
    push    si

;;           code byte in file : 00000h01235h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;        current byte in file : 026h


;;           code byte in file : 00000h01236h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h01237h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00017h
;;                 si register : 00219h
;;        current byte in file : 005h
    add     ax, 0043ah

;;           code byte in file : 00000h0123ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;        current byte in file : 075h
    jne     01262h

;;           code byte in file : 00000h0123ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;        current byte in file : 046h
    inc     si

;;           code byte in file : 00000h0123dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001dh
;;                 si register : 0021fh
;;        current byte in file : 047h
    inc     di

;;           code byte in file : 00000h0123eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001eh
;;                 si register : 00220h
;;        current byte in file : 080h
    cmp     byte ptr es:[ si ], 000h

;;           code byte in file : 00000h01241h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00021h
;;                 si register : 00223h
;;        current byte in file : 074h
    je      008h

;;           code byte in file : 00000h01243h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;        current byte in file : 026h


;;           code byte in file : 00000h01244h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;        current byte in file : 080h
    cmp     byte ptr es:[ di ], 000h

;;           code byte in file : 00000h01247h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00027h
;;                 si register : 00229h
;;        current byte in file : 074h
    je      019h

;;           code byte in file : 00000h01249h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h0124ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;        current byte in file : 0eah
; UNKNOWN instruction

;;           code byte in file : 00000h0124bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;        current byte in file : 026h


;;           code byte in file : 00000h0124ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002ch
;;                 si register : 0022eh
;;        current byte in file : 080h
    cmp     byte ptr es:[ di ], 000h

;;           code byte in file : 00000h0124fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;        current byte in file : 074h
    je      00eh

;;           code byte in file : 00000h01251h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00031h
;;                 si register : 00233h
;;        current byte in file : 026h


;;           code byte in file : 00000h01252h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;        current byte in file : 080h
    cmp     byte ptr es:[ di ], 00dh

;;           code byte in file : 00000h01255h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;        current byte in file : 074h
    je      008h

;;           code byte in file : 00000h01257h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;        current byte in file : 026h


;;           code byte in file : 00000h01258h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00038h
;;                 si register : 0023ah
;;        current byte in file : 080h
    cmp     byte ptr es:[ di ], 020h

;;           code byte in file : 00000h0125bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003bh
;;                 si register : 0023dh
;;        current byte in file : 074h
    je      002h

;;           code byte in file : 00000h0125dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003dh
;;                 si register : 0023fh
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h0125eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003eh
;;                 si register : 00240h
;;        current byte in file : 003h
; 002h007h003h
    add     di, word ptr [ bp + di + 00001h ]

;;           code byte in file : 00000h01262h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00042h
;;                 si register : 00244h
;;        current byte in file : 05eh
    pop     si

;;           code byte in file : 00000h01263h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;        current byte in file : 05fh
    pop     di

;;           code byte in file : 00000h01264h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00044h
;;                 si register : 00246h
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h01265h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01266h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;        current byte in file : 056h
    push    si

;;           code byte in file : 00000h01267h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;        current byte in file : 057h
    push    di

;;           code byte in file : 00000h01268h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h01269h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00049h
;;                 si register : 0024bh
;;        current byte in file : 071h
    jno     004h

;;           code byte in file : 00000h0126bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0126ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004ch
;;                 si register : 0024eh
;;        current byte in file : 0c4h
; UNKNOWN instruction

;;           code byte in file : 00000h0126dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0126eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004eh
;;                 si register : 00250h
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h0126fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004fh
;;                 si register : 00251h
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h01270h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;        current byte in file : 001h
; 001h006h004h
    add     word ptr [ si + 035h ], si

;;           code byte in file : 00000h01273h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00053h
;;                 si register : 00255h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h01274h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00054h
;;                 si register : 00256h
;;        current byte in file : 074h
    je      004h

;;           code byte in file : 00000h01276h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01277h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;        current byte in file : 0b9h
; UNKNOWN instruction

;;           code byte in file : 00000h01278h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01279h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00059h
;;                 si register : 0025bh
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h0127ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005ah
;;                 si register : 0025ch
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h0127bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005bh
;;                 si register : 0025dh
;;        current byte in file : 001h
; 001h006h004h
    add     word ptr [ si + 02ah ], si

;;           code byte in file : 00000h0127eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005eh
;;                 si register : 00260h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h0127fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005fh
;;                 si register : 00261h
;;        current byte in file : 077h
    ja      004h

;;           code byte in file : 00000h01281h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01282h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;        current byte in file : 0aeh
; UNKNOWN instruction

;;           code byte in file : 00000h01283h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01284h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00064h
;;                 si register : 00266h
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h01285h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h01286h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00066h
;;                 si register : 00268h
;;        current byte in file : 001h
; 001h006h004h
    add     word ptr [ si + 01fh ], si

;;           code byte in file : 00000h01289h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h0128ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;        current byte in file : 07ah
    jp      004h

;;           code byte in file : 00000h0128ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006ch
;;                 si register : 0026eh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0128dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;        current byte in file : 0a3h
; UNKNOWN instruction

;;           code byte in file : 00000h0128eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0128fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006fh
;;                 si register : 00271h
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h01290h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00070h
;;                 si register : 00272h
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h01291h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00071h
;;                 si register : 00273h
;;        current byte in file : 001h
; 001h006h004h
    add     word ptr [ si + 014h ], si

;;           code byte in file : 00000h01294h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00074h
;;                 si register : 00276h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h01295h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00075h
;;                 si register : 00277h
;;        current byte in file : 07dh
    jge     004h

;;           code byte in file : 00000h01297h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00077h
;;                 si register : 00279h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01298h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00078h
;;                 si register : 0027ah
;;        current byte in file : 098h
; UNKNOWN instruction

;;           code byte in file : 00000h01299h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0129ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007ah
;;                 si register : 0027ch
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h0129bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h0129ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007ch
;;                 si register : 0027eh
;;        current byte in file : 001h
; 001h006h004h
    add     word ptr [ si + 009h ], si

;;           code byte in file : 00000h0129fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h012a0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00080h
;;                 si register : 00282h
;;        current byte in file : 080h
    add     byte ptr [ si ], 0e8h

;;           code byte in file : 00000h012a3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;        current byte in file : 08dh
; UNKNOWN instruction

;;           code byte in file : 00000h012a4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h012a5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00085h
;;                 si register : 00287h
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h012a6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00086h
;;                 si register : 00288h
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h012a7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;        current byte in file : 001h
; 001h003h007h
    add     word ptr [ bx + 05eh ], bx

;;           code byte in file : 00000h012aah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h012abh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h012ach
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h012adh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h012aeh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008eh
;;                 si register : 00290h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h012afh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;        current byte in file : 03ch
    cmp     al, 033h

;;           code byte in file : 00000h012b1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00091h
;;                 si register : 00293h
;;        current byte in file : 0c9h
; UNKNOWN instruction

;;           code byte in file : 00000h012b2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00092h
;;                 si register : 00294h
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h012b3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00093h
;;                 si register : 00295h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h012b4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;        current byte in file : 000h
; 003h001h005h
    add     ch, cl

;;           code byte in file : 00000h012b6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00096h
;;                 si register : 00298h
;;        current byte in file : 021h
; 001h006h003h
    and     word ptr [ bp + di + 009h ], si

;;           code byte in file : 00000h012b9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h012bah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;        current byte in file : 097h
; UNKNOWN instruction

;;           code byte in file : 00000h012bbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h012bch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009ch
;;                 si register : 0029eh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h012bdh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009dh
;;                 si register : 0029fh
;;        current byte in file : 022h
; 003h007h007h
    and     bh, bh

;;           code byte in file : 00000h012bfh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009fh
;;                 si register : 002a1h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h012c0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;        current byte in file : 06dh

; UNKNOWN instruction

;;           code byte in file : 00000h012c1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h012c2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a2h
;;                 si register : 002a4h
;;        current byte in file : 0a3h
; UNKNOWN instruction

;;           code byte in file : 00000h012c3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a3h
;;                 si register : 002a5h
;;        current byte in file : 000h
; 000h000h002h
    add     byte ptr [ bp + si ], al

;;           code byte in file : 00000h012c5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a5h
;;                 si register : 002a7h
;;        current byte in file : 05ah
    pop     dx

;;           code byte in file : 00000h012c6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h012c7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h012c8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h012c9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;        current byte in file : 026h


;;           code byte in file : 00000h012cah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h012cbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000abh
;;                 si register : 002adh
;;        current byte in file : 005h
    add     ax, 0203ch

;;           code byte in file : 00000h012ceh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;        current byte in file : 074h
    je      001h

;;           code byte in file : 00000h012d0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b0h
;;                 si register : 002b2h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h012d1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;        current byte in file : 047h
    inc     di

;;           code byte in file : 00000h012d2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b2h
;;                 si register : 002b4h
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h012d3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;        current byte in file : 0f5h
; UNKNOWN instruction

;;           code byte in file : 00000h012d4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b4h
;;                 si register : 002b6h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h012d5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h012d6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b6h
;;                 si register : 002b8h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h012d7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b7h
;;                 si register : 002b9h
;;        current byte in file : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h012d8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b8h
;;                 si register : 002bah
;;        current byte in file : 000h
; 000h007h005h
    add     byte ptr es:[ di ], bh

;;           code byte in file : 00000h012dah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bah
;;                 si register : 002bch
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h012dbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bbh
;;                 si register : 002bdh
;;        current byte in file : 000h
; 000h000h000h
    add     byte ptr [ bx + si ], al

;;           code byte in file : 00000h012ddh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bdh
;;                 si register : 002bfh
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h012deh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000beh
;;                 si register : 002c0h
;;        current byte in file : 021h
; 001h006h003h
    and     word ptr [ bp + di + 009h ], si

;;           code byte in file : 00000h012e1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h012e2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;        current byte in file : 05eh
    pop     si

;;           code byte in file : 00000h012e3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h012e4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c4h
;;                 si register : 002c6h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h012e5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c5h
;;                 si register : 002c7h
;;        current byte in file : 0fah
; UNKNOWN instruction

;;           code byte in file : 00000h012e6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c6h
;;                 si register : 002c8h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h012e7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c7h
;;                 si register : 002c9h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h012e8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;        current byte in file : 045h
    inc     bp

;;           code byte in file : 00000h012e9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h012eah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cah
;;                 si register : 002cch
;;        current byte in file : 0a3h
; UNKNOWN instruction

;;           code byte in file : 00000h012ebh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cbh
;;                 si register : 002cdh
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h012ech
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cch
;;                 si register : 002ceh
;;        current byte in file : 001h
; 001h003h002h
    add     word ptr [ bp + si + 058h ], bx

;;           code byte in file : 00000h012efh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cfh
;;                 si register : 002d1h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h012f0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h012f1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h012f2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h012f3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;        current byte in file : 0b6h
; UNKNOWN instruction

;;           code byte in file : 00000h012f4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h012f5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;        current byte in file : 05ah
    pop     dx

;;           code byte in file : 00000h012f6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d6h
;;                 si register : 002d8h
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h012f7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d7h
;;                 si register : 002d9h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h012f8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d8h
;;                 si register : 002dah
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h012f9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;        current byte in file : 026h


;;           code byte in file : 00000h012fah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h012fbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dbh
;;                 si register : 002ddh
;;        current byte in file : 005h
    add     ax, 0223ch

;;           code byte in file : 00000h012feh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000deh
;;                 si register : 002e0h
;;        current byte in file : 075h
    jne     01307h

;;           code byte in file : 00000h01300h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e0h
;;                 si register : 002e2h
;;        current byte in file : 0bbh
; UNKNOWN instruction

;;           code byte in file : 00000h01301h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e1h
;;                 si register : 002e3h
;;        current byte in file : 001h
; 000h000h000h
    add     word ptr es:[ bx + si ], ax

;;           code byte in file : 00000h01303h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e3h
;;                 si register : 002e5h
;;        current byte in file : 088h
; UNKNOWN instruction

;;           code byte in file : 00000h01304h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e4h
;;                 si register : 002e6h
;;        current byte in file : 004h
    add     al, 046h

;;           code byte in file : 00000h01306h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e6h
;;                 si register : 002e8h
;;        current byte in file : 047h
    inc     di

;;           code byte in file : 00000h01307h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e7h
;;                 si register : 002e9h
;;        current byte in file : 026h


;;           code byte in file : 00000h01308h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h01309h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;        current byte in file : 005h
    add     ax, 0003ch

;;           code byte in file : 00000h0130ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ech
;;                 si register : 002eeh
;;        current byte in file : 074h
    je      01ah

;;           code byte in file : 00000h0130eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000eeh
;;                 si register : 002f0h
;;        current byte in file : 03ch
    cmp     al, 00dh

;;           code byte in file : 00000h01310h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;        current byte in file : 074h
    je      016h

;;           code byte in file : 00000h01312h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f2h
;;                 si register : 002f4h
;;        current byte in file : 03ch
    cmp     al, 022h

;;           code byte in file : 00000h01314h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f4h
;;                 si register : 002f6h
;;        current byte in file : 074h
    je      00fh

;;           code byte in file : 00000h01316h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;        current byte in file : 03ch
    cmp     al, 020h

;;           code byte in file : 00000h01318h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;        current byte in file : 075h
    jne     0131fh

;;           code byte in file : 00000h0131ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h0131bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h0131ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;        current byte in file : 001h
; 001h006h005h
    add     word ptr es:[ di + 009h ], si

;;  SCANNING...
;;           code byte in file : 00000h0131fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;        current byte in file : 088h
; UNKNOWN instruction

;;           code byte in file : 00000h01320h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;        current byte in file : 004h
    add     al, 047h

;;           code byte in file : 00000h01322h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00003h
;;                 si register : 00205h
;;        current byte in file : 046h
    inc     si

;;           code byte in file : 00000h01323h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h01324h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00005h
;;                 si register : 00207h
;;        current byte in file : 0e2h
; UNKNOWN instruction

;;           code byte in file : 00000h01325h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00006h
;;                 si register : 00208h
;;        current byte in file : 047h
    inc     di

;;           code byte in file : 00000h01326h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00007h
;;                 si register : 00209h
;;        current byte in file : 088h
; UNKNOWN instruction

;;           code byte in file : 00000h01327h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00008h
;;                 si register : 0020ah
;;        current byte in file : 004h
    add     al, 046h

;;           code byte in file : 00000h01329h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000ah
;;                 si register : 0020ch
;;        current byte in file : 0c6h
; UNKNOWN instruction

;;           code byte in file : 00000h0132ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;        current byte in file : 004h
    add     al, 000h

;;           code byte in file : 00000h0132ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000dh
;;                 si register : 0020fh
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h0132dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000eh
;;                 si register : 00210h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0132eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000fh
;;                 si register : 00211h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h0132fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00010h
;;                 si register : 00212h
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h01330h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h01331h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01332h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;        current byte in file : 033h
; 003h000h000h
    xor     ax, ax

;;           code byte in file : 00000h01334h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;        current byte in file : 0bbh
; UNKNOWN instruction

;;           code byte in file : 00000h01335h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;        current byte in file : 00ah
; 000h000h000h
    or      al, byte ptr [ bx + si ]

;;           code byte in file : 00000h01337h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00018h
;;                 si register : 0021ah
;;        current byte in file : 033h
; 003h001h001h
    xor     cx, cx

;;           code byte in file : 00000h01339h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;        current byte in file : 026h


;;           code byte in file : 00000h0133ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001bh
;;                 si register : 0021dh
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h0133bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;        current byte in file : 00dh
    or      ax, 08047h

;;           code byte in file : 00000h0133eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001fh
;;                 si register : 00221h
;;        current byte in file : 0f9h
; UNKNOWN instruction

;;           code byte in file : 00000h0133fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;        current byte in file : 000h
; 001h006h004h
    add     byte ptr es:[ si + 039h ], dh

;;           code byte in file : 00000h01342h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;        current byte in file : 080h
    cmp     cl, 020h

;;           code byte in file : 00000h01345h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00026h
;;                 si register : 00228h
;;        current byte in file : 074h
    je      034h

;;           code byte in file : 00000h01347h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00028h
;;                 si register : 0022ah
;;        current byte in file : 080h
    cmp     cl, 00dh

;;           code byte in file : 00000h0134ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;        current byte in file : 074h
    je      02fh

;;           code byte in file : 00000h0134ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002dh
;;                 si register : 0022fh
;;        current byte in file : 080h
    cmp     cl, 030h

;;           code byte in file : 00000h0134fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00030h
;;                 si register : 00232h
;;        current byte in file : 072h
    jb      018h

;;           code byte in file : 00000h01351h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;        current byte in file : 080h
    cmp     cl, 039h

;;           code byte in file : 00000h01354h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00035h
;;                 si register : 00237h
;;        current byte in file : 077h
    ja      013h

;;           code byte in file : 00000h01356h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;        current byte in file : 0f7h
; UNKNOWN instruction

;;           code byte in file : 00000h01357h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00038h
;;                 si register : 0023ah
;;        current byte in file : 0e3h
; UNKNOWN instruction

;;           code byte in file : 00000h01358h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00039h
;;                 si register : 0023bh
;;        current byte in file : 03dh
    cmp     ax, 000ffh

;;           code byte in file : 00000h0135bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003ch
;;                 si register : 0023eh
;;        current byte in file : 077h
    ja      015h

;;           code byte in file : 00000h0135dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003eh
;;                 si register : 00240h
;;        current byte in file : 080h
    sub     cl, 030h

;;           code byte in file : 00000h01360h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;        current byte in file : 003h
; 003h000h001h
    add     ax, cx

;;           code byte in file : 00000h01362h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00043h
;;                 si register : 00245h
;;        current byte in file : 03dh
    cmp     ax, 000ffh

;;           code byte in file : 00000h01365h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00046h
;;                 si register : 00248h
;;        current byte in file : 077h
    ja      00bh

;;           code byte in file : 00000h01367h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h01368h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00049h
;;                 si register : 0024bh
;;        current byte in file : 0d0h
; UNKNOWN instruction

;;           code byte in file : 00000h01369h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004ah
;;                 si register : 0024ch
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0136ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;        current byte in file : 03ch
    cmp     al, 0feh

;;           code byte in file : 00000h0136ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0136dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004eh
;;                 si register : 00250h
;;        current byte in file : 072h
    jb      0feh

;;           code byte in file : 00000h0136fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01370h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00051h
;;                 si register : 00253h
;;        current byte in file : 0bdh
; UNKNOWN instruction

;;           code byte in file : 00000h01371h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00052h
;;                 si register : 00254h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h01372h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00053h
;;                 si register : 00255h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01373h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00054h
;;                 si register : 00256h
;;        current byte in file : 044h
    inc     sp

;;           code byte in file : 00000h01374h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01375h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01376h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;        current byte in file : 069h

; UNKNOWN instruction

;;           code byte in file : 00000h01377h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01378h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00059h
;;                 si register : 0025bh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01379h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005ah
;;                 si register : 0025ch
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h0137ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005bh
;;                 si register : 0025dh
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h0137bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005ch
;;                 si register : 0025eh
;;        current byte in file : 03ch
    cmp     al, 000h

;;           code byte in file : 00000h0137dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005eh
;;                 si register : 00260h
;;        current byte in file : 075h
    jne     01382h

;;           code byte in file : 00000h0137fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00060h
;;                 si register : 00262h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01380h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;        current byte in file : 026h


;;           code byte in file : 00000h01381h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01382h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;        current byte in file : 0a2h
; UNKNOWN instruction

;;           code byte in file : 00000h01383h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00064h
;;                 si register : 00266h
;;        current byte in file : 05ch
    pop     sp

;;           code byte in file : 00000h01384h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00065h
;;                 si register : 00267h
;;        current byte in file : 004h
    add     al, 05ah

;;           code byte in file : 00000h01386h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00067h
;;                 si register : 00269h
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h01387h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;        current byte in file : 05bh
    pop     bx

;;           code byte in file : 00000h01388h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h01389h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h0138ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006bh
;;                 si register : 0026dh
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h0138bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006ch
;;                 si register : 0026eh
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h0138ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h0138dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h0138eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006fh
;;                 si register : 00271h
;;        current byte in file : 056h
    push    si

;;           code byte in file : 00000h0138fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00070h
;;                 si register : 00272h
;;        current byte in file : 057h
    push    di

;;           code byte in file : 00000h01390h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00071h
;;                 si register : 00273h
;;        current byte in file : 026h


;;           code byte in file : 00000h01391h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;        current byte in file : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h01392h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;        current byte in file : 080h
    add     byte ptr es:[ bx + si ], 03ch

;;           code byte in file : 00000h01395h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00076h
;;                 si register : 00278h
;;        current byte in file : 000h
; 001h006h005h
    add     byte ptr [ di + 009h ], dh

;;           code byte in file : 00000h01398h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00079h
;;                 si register : 0027bh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01399h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007ah
;;                 si register : 0027ch
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h0139ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h0139bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007ch
;;                 si register : 0027eh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0139ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007dh
;;                 si register : 0027fh
;;        current byte in file : 043h
    inc     bx

;;           code byte in file : 00000h0139dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h0139eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0139fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00080h
;;                 si register : 00282h
;;        current byte in file : 08eh
; UNKNOWN instruction

;;           code byte in file : 00000h013a0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00081h
;;                 si register : 00283h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h013a1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00082h
;;                 si register : 00284h
;;        current byte in file : 0bfh
; UNKNOWN instruction

;;           code byte in file : 00000h013a2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;        current byte in file : 081h
; UNKNOWN instruction

;;           code byte in file : 00000h013a3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;        current byte in file : 000h
; 003h005h000h
    add     al, ch

;;           code byte in file : 00000h013a5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00086h
;;                 si register : 00288h
;;        current byte in file : 022h
; 003h007h007h
    and     bh, bh

;;           code byte in file : 00000h013a7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013a8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;        current byte in file : 0bch
; UNKNOWN instruction

;;           code byte in file : 00000h013a9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h013aah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h013abh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;        current byte in file : 0fbh
; UNKNOWN instruction

;;           code byte in file : 00000h013ach
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;        current byte in file : 001h
; 001h006h005h
    add     word ptr [ di + 006h ], si

;;           code byte in file : 00000h013afh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013b0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00091h
;;                 si register : 00293h
;;        current byte in file : 02fh
    das     

;;           code byte in file : 00000h013b1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00092h
;;                 si register : 00294h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h013b2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00093h
;;                 si register : 00295h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013b3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;        current byte in file : 07ah
    jp      0fdh

;;           code byte in file : 00000h013b5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00096h
;;                 si register : 00298h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h013b6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00097h
;;                 si register : 00299h
;;        current byte in file : 000h
; 000h000h000h
    add     byte ptr [ bx + si ], al

;;           code byte in file : 00000h013b8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013b9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;        current byte in file : 03dh
    cmp     ax, 0e8ffh

;;           code byte in file : 00000h013bch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009dh
;;                 si register : 0029fh
;;        current byte in file : 00bh
; 003h007h007h
    or      di, di

;;           code byte in file : 00000h013beh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009fh
;;                 si register : 002a1h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h013bfh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a0h
;;                 si register : 002a2h
;;        current byte in file : 05ch
    pop     sp

;;           code byte in file : 00000h013c0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;        current byte in file : 004h
    add     al, 0e8h

;;           code byte in file : 00000h013c2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a3h
;;                 si register : 002a5h
;;        current byte in file : 06ah

; UNKNOWN instruction

;;           code byte in file : 00000h013c3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a4h
;;                 si register : 002a6h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h013c4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a5h
;;                 si register : 002a7h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013c5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;        current byte in file : 002h
; 003h007h007h
    add     bh, bh

;;           code byte in file : 00000h013c7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h013c8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h013c9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;        current byte in file : 000h
; 003h005h000h
    add     al, ch

;;           code byte in file : 00000h013cbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;        current byte in file : 02bh
; 003h007h007h
    sub     di, di

;;           code byte in file : 00000h013cdh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013ceh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000afh
;;                 si register : 002b1h
;;        current byte in file : 0f9h
; UNKNOWN instruction

;;           code byte in file : 00000h013cfh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b0h
;;                 si register : 002b2h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h013d0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;        current byte in file : 033h
; 003h000h000h
    xor     ax, ax

;;           code byte in file : 00000h013d2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;        current byte in file : 026h


;;           code byte in file : 00000h013d3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b4h
;;                 si register : 002b6h
;;        current byte in file : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h013d4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;        current byte in file : 080h
    add     byte ptr es:[ bx + si ], 005h

;;           code byte in file : 00000h013d7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b8h
;;                 si register : 002bah
;;        current byte in file : 081h
; UNKNOWN instruction

;;           code byte in file : 00000h013d8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b9h
;;                 si register : 002bbh
;;        current byte in file : 000h
; 000h007h003h
    add     byte ptr [ bp + di ], bh

;;           code byte in file : 00000h013dah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bbh
;;                 si register : 002bdh
;;        current byte in file : 0c7h
; UNKNOWN instruction

;;           code byte in file : 00000h013dbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bch
;;                 si register : 002beh
;;        current byte in file : 074h
    je      009h

;;           code byte in file : 00000h013ddh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000beh
;;                 si register : 002c0h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013deh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bfh
;;                 si register : 002c1h
;;        current byte in file : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h013dfh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c0h
;;                 si register : 002c2h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h013e0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013e1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h013e2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h013e3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c4h
;;                 si register : 002c6h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h013e4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c5h
;;                 si register : 002c7h
;;        current byte in file : 049h
    dec     cx

;;           code byte in file : 00000h013e5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c6h
;;                 si register : 002c8h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h013e6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c7h
;;                 si register : 002c9h
;;        current byte in file : 05fh
    pop     di

;;           code byte in file : 00000h013e7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;        current byte in file : 05eh
    pop     si

;;           code byte in file : 00000h013e8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;        current byte in file : 05ah
    pop     dx

;;           code byte in file : 00000h013e9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cah
;;                 si register : 002cch
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h013eah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cbh
;;                 si register : 002cdh
;;        current byte in file : 05bh
    pop     bx

;;           code byte in file : 00000h013ebh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cch
;;                 si register : 002ceh
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h013ech
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h013edh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ceh
;;                 si register : 002d0h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h013eeh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cfh
;;                 si register : 002d1h
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h013efh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h013f0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h013f1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;        current byte in file : 056h
    push    si

;;           code byte in file : 00000h013f2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h013f3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;        current byte in file : 05dh
    pop     bp

;;           code byte in file : 00000h013f4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;        current byte in file : 004h
    add     al, 08bh

;;           code byte in file : 00000h013f6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d7h
;;                 si register : 002d9h
;;        current byte in file : 00ch
    or      al, 08bh

;;           code byte in file : 00000h013f8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;        current byte in file : 054h
    push    sp

;;           code byte in file : 00000h013f9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;        current byte in file : 002h
; 000h000h002h
    add     al, byte ptr [ bp + si ]

;;           code byte in file : 00000h013fbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dch
;;                 si register : 002deh
;;        current byte in file : 0d4h
; UNKNOWN instruction

;;           code byte in file : 00000h013fch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;        current byte in file : 080h
    adc     dh, 000h

;;           code byte in file : 00000h013ffh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e0h
;;                 si register : 002e2h
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h01400h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e1h
;;                 si register : 002e3h
;;        current byte in file : 0d1h
; UNKNOWN instruction

;;           code byte in file : 00000h01401h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;        current byte in file : 000h
; 002h007h000h
    add     byte ptr [ bx + si + 04200h ], bh

;;           code byte in file : 00000h01405h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e6h
;;                 si register : 002e8h
;;        current byte in file : 08bh
; UNKNOWN instruction

;;           code byte in file : 00000h01406h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e7h
;;                 si register : 002e9h
;;        current byte in file : 01eh
    push    ds

;;           code byte in file : 00000h01407h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01408h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;        current byte in file : 001h
; 003h001h005h
    add     bp, cx

;;           code byte in file : 00000h0140ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ebh
;;                 si register : 002edh
;;        current byte in file : 021h
; 002h001h001h
    and     word ptr [ bx + di + 08914h ], cx

;;           code byte in file : 00000h0140eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000efh
;;                 si register : 002f1h
;;        current byte in file : 044h
    inc     sp

;;           code byte in file : 00000h0140fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;        current byte in file : 002h
; 001h003h006h
    add     bl, byte ptr [ bp + 05ah ]

;;           code byte in file : 00000h01412h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f3h
;;                 si register : 002f5h
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h01413h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f4h
;;                 si register : 002f6h
;;        current byte in file : 05bh
    pop     bx

;;           code byte in file : 00000h01414h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f5h
;;                 si register : 002f7h
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h01415h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01416h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f7h
;;                 si register : 002f9h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01417h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h01418h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f9h
;;                 si register : 002fbh
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h01419h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h0141ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;        current byte in file : 057h
    push    di

;;           code byte in file : 00000h0141bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;        current byte in file : 033h
; 003h001h001h
    xor     cx, cx

;;           code byte in file : 00000h0141dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000feh
;;                 si register : 00300h
;;        current byte in file : 08ah
; UNKNOWN instruction

;;  SCANNING...
;;           code byte in file : 00000h0141eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00000h
;;                 si register : 00202h
;;        current byte in file : 0cch
; UNKNOWN instruction

;;           code byte in file : 00000h0141fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00001h
;;                 si register : 00203h
;;        current byte in file : 0bah
; UNKNOWN instruction

;;           code byte in file : 00000h01420h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00002h
;;                 si register : 00204h
;;        current byte in file : 030h
; 000h000h003h
    xor     byte ptr [ bp + di ], al

;;           code byte in file : 00000h01422h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00004h
;;                 si register : 00206h
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h01423h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00005h
;;                 si register : 00207h
;;        current byte in file : 040h
    inc     ax

;;           code byte in file : 00000h01424h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00006h
;;                 si register : 00208h
;;        current byte in file : 080h
    cmp     bh, 000h

;;           code byte in file : 00000h01427h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00009h
;;                 si register : 0020bh
;;        current byte in file : 074h
    je      006h

;;           code byte in file : 00000h01429h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000bh
;;                 si register : 0020dh
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h0142ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000ch
;;                 si register : 0020eh
;;        current byte in file : 0c1h
; UNKNOWN instruction

;;           code byte in file : 00000h0142bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0000dh
;;                 si register : 0020fh
;;        current byte in file : 002h
; 002h000h003h
    add     al, byte ptr [ bp + di + 002eah ]

;;           code byte in file : 00000h0142fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00011h
;;                 si register : 00213h
;;        current byte in file : 08bh
; UNKNOWN instruction

;;           code byte in file : 00000h01430h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00012h
;;                 si register : 00214h
;;        current byte in file : 01eh
    push    ds

;;           code byte in file : 00000h01431h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00013h
;;                 si register : 00215h
;;        current byte in file : 000h
; 000h000h002h
    add     byte ptr [ bp + si ], al

;;           code byte in file : 00000h01433h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00015h
;;                 si register : 00217h
;;        current byte in file : 0cdh
; UNKNOWN instruction

;;           code byte in file : 00000h01434h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00016h
;;                 si register : 00218h
;;        current byte in file : 021h
; 001h006h002h
    and     word ptr [ bp + si + 002h ], si

;;           code byte in file : 00000h01437h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00019h
;;                 si register : 0021bh
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h01438h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ah
;;                 si register : 0021ch
;;        current byte in file : 006h
    push    es

;;           code byte in file : 00000h01439h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001bh
;;                 si register : 0021dh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0143ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001ch
;;                 si register : 0021eh
;;        current byte in file : 039h
; 003h007h005h
    cmp     bp, di

;;           code byte in file : 00000h0143ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001eh
;;                 si register : 00220h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0143dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0001fh
;;                 si register : 00221h
;;        current byte in file : 0f0h
; UNKNOWN instruction

;;           code byte in file : 00000h0143eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00020h
;;                 si register : 00222h
;;        current byte in file : 0fch
; UNKNOWN instruction

;;           code byte in file : 00000h0143fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00021h
;;                 si register : 00223h
;;        current byte in file : 05fh
    pop     di

;;           code byte in file : 00000h01440h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00022h
;;                 si register : 00224h
;;        current byte in file : 05ah
    pop     dx

;;           code byte in file : 00000h01441h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00023h
;;                 si register : 00225h
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h01442h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00024h
;;                 si register : 00226h
;;        current byte in file : 05bh
    pop     bx

;;           code byte in file : 00000h01443h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00025h
;;                 si register : 00227h
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h01444h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00026h
;;                 si register : 00228h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01445h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00027h
;;                 si register : 00229h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01446h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00028h
;;                 si register : 0022ah
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h01447h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00029h
;;                 si register : 0022bh
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h01448h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002ah
;;                 si register : 0022ch
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01449h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002bh
;;                 si register : 0022dh
;;        current byte in file : 056h
    push    si

;;           code byte in file : 00000h0144ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002ch
;;                 si register : 0022eh
;;        current byte in file : 057h
    push    di

;;           code byte in file : 00000h0144bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002dh
;;                 si register : 0022fh
;;        current byte in file : 0b4h
; UNKNOWN instruction

;;           code byte in file : 00000h0144ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002eh
;;                 si register : 00230h
;;        current byte in file : 03fh
    aas     

;;           code byte in file : 00000h0144dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0002fh
;;                 si register : 00231h
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h0144eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00030h
;;                 si register : 00232h
;;        current byte in file : 08bh
; UNKNOWN instruction

;;           code byte in file : 00000h0144fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00031h
;;                 si register : 00233h
;;        current byte in file : 01eh
    push    ds

;;           code byte in file : 00000h01450h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00032h
;;                 si register : 00234h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01451h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00033h
;;                 si register : 00235h
;;        current byte in file : 001h
; 002h007h002h
    add     word ptr [ bp + si + 00202h ], di

;;           code byte in file : 00000h01455h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00037h
;;                 si register : 00239h
;;        current byte in file : 033h
; 003h001h001h
    xor     cx, cx

;;           code byte in file : 00000h01457h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00039h
;;                 si register : 0023bh
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h01458h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003ah
;;                 si register : 0023ch
;;        current byte in file : 00eh
    push    cs

;;           code byte in file : 00000h01459h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003bh
;;                 si register : 0023dh
;;        current byte in file : 05ch
    pop     sp

;;           code byte in file : 00000h0145ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003ch
;;                 si register : 0023eh
;;        current byte in file : 004h
    add     al, 0cdh

;;           code byte in file : 00000h0145ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0003eh
;;                 si register : 00240h
;;        current byte in file : 021h
; 001h003h003h
    and     word ptr [ bp + di + 072h ], bx

;;           code byte in file : 00000h0145fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00041h
;;                 si register : 00243h
;;        current byte in file : 048h
    dec     ax

;;           code byte in file : 00000h01460h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00042h
;;                 si register : 00244h
;;        current byte in file : 03dh
    cmp     ax, 00000h

;;           code byte in file : 00000h01463h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00045h
;;                 si register : 00247h
;;        current byte in file : 074h
    je      03ch

;;           code byte in file : 00000h01465h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00047h
;;                 si register : 00249h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h01466h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00048h
;;                 si register : 0024ah
;;        current byte in file : 002h
; 000h000h002h
    add     al, byte ptr [ bp + si ]

;;           code byte in file : 00000h01468h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004ah
;;                 si register : 0024ch
;;        current byte in file : 0bfh
; UNKNOWN instruction

;;           code byte in file : 00000h01469h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004bh
;;                 si register : 0024dh
;;        current byte in file : 030h
; 000h000h003h
    xor     byte ptr [ bp + di ], al

;;           code byte in file : 00000h0146bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004dh
;;                 si register : 0024fh
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h0146ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004eh
;;                 si register : 00250h
;;        current byte in file : 0d8h
; UNKNOWN instruction

;;           code byte in file : 00000h0146dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0004fh
;;                 si register : 00251h
;;        current byte in file : 08ah
; UNKNOWN instruction

;;           code byte in file : 00000h0146eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00050h
;;                 si register : 00252h
;;        current byte in file : 004h
    add     al, 03ch

;;           code byte in file : 00000h01470h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00052h
;;                 si register : 00254h
;;        current byte in file : 000h
; 001h006h005h
    add     byte ptr [ di + 007h ], dh

;;           code byte in file : 00000h01473h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00055h
;;                 si register : 00257h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01474h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00056h
;;                 si register : 00258h
;;        current byte in file : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h01475h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00057h
;;                 si register : 00259h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01476h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00058h
;;                 si register : 0025ah
;;        current byte in file : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h01477h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00059h
;;                 si register : 0025bh
;;        current byte in file : 001h
; 003h005h003h
    add     bx, bp

;;           code byte in file : 00000h01479h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005bh
;;                 si register : 0025dh
;;        current byte in file : 027h
    daa     

;;           code byte in file : 00000h0147ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005ch
;;                 si register : 0025eh
;;        current byte in file : 03ch
    cmp     al, 00dh

;;           code byte in file : 00000h0147ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0005eh
;;                 si register : 00260h
;;        current byte in file : 075h
    jne     0148bh

;;           code byte in file : 00000h0147eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00060h
;;                 si register : 00262h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h0147fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00061h
;;                 si register : 00263h
;;        current byte in file : 095h
; UNKNOWN instruction

;;           code byte in file : 00000h01480h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00062h
;;                 si register : 00264h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01481h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00063h
;;                 si register : 00265h
;;        current byte in file : 080h
    add     ah, 002h

;;           code byte in file : 00000h01484h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00066h
;;                 si register : 00268h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01485h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00067h
;;                 si register : 00269h
;;        current byte in file : 066h

; UNKNOWN instruction

;;           code byte in file : 00000h01486h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00068h
;;                 si register : 0026ah
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h01487h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00069h
;;                 si register : 0026bh
;;        current byte in file : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h01488h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006ah
;;                 si register : 0026ch
;;        current byte in file : 001h
; 003h005h003h
    add     bx, bp

;;           code byte in file : 00000h0148ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006ch
;;                 si register : 0026eh
;;        current byte in file : 0c0h
; UNKNOWN instruction

;;           code byte in file : 00000h0148bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006dh
;;                 si register : 0026fh
;;        current byte in file : 088h
; UNKNOWN instruction

;;           code byte in file : 00000h0148ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0006eh
;;                 si register : 00270h
;;        current byte in file : 005h
    add     ax, 04746h

;;           code byte in file : 00000h0148fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00071h
;;                 si register : 00273h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01490h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00072h
;;                 si register : 00274h
;;        current byte in file : 0c4h
; UNKNOWN instruction

;;           code byte in file : 00000h01491h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00073h
;;                 si register : 00275h
;;        current byte in file : 03ah
; 003h004h003h
    cmp     ah, bl

;;           code byte in file : 00000h01493h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00075h
;;                 si register : 00277h
;;        current byte in file : 075h
    jne     0149fh

;;           code byte in file : 00000h01495h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00077h
;;                 si register : 00279h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h01496h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00078h
;;                 si register : 0027ah
;;        current byte in file : 07eh
    jle     0ffh

;;           code byte in file : 00000h01498h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007ah
;;                 si register : 0027ch
;;        current byte in file : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h01499h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007bh
;;                 si register : 0027dh
;;        current byte in file : 001h
; 003h005h000h
    add     ax, bp

;;           code byte in file : 00000h0149bh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007dh
;;                 si register : 0027fh
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h0149ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007eh
;;                 si register : 00280h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h0149dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0007fh
;;                 si register : 00281h
;;        current byte in file : 0ebh
; UNKNOWN instruction

;;           code byte in file : 00000h0149eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00080h
;;                 si register : 00282h
;;        current byte in file : 0ach
; UNKNOWN instruction

;;           code byte in file : 00000h0149fh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00081h
;;                 si register : 00283h
;;        current byte in file : 0e2h
; UNKNOWN instruction

;;           code byte in file : 00000h014a0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00082h
;;                 si register : 00284h
;;        current byte in file : 0cch
; UNKNOWN instruction

;;           code byte in file : 00000h014a1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00083h
;;                 si register : 00285h
;;        current byte in file : 05fh
    pop     di

;;           code byte in file : 00000h014a2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00084h
;;                 si register : 00286h
;;        current byte in file : 05eh
    pop     si

;;           code byte in file : 00000h014a3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00085h
;;                 si register : 00287h
;;        current byte in file : 05ah
    pop     dx

;;           code byte in file : 00000h014a4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00086h
;;                 si register : 00288h
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h014a5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00087h
;;                 si register : 00289h
;;        current byte in file : 05bh
    pop     bx

;;           code byte in file : 00000h014a6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00088h
;;                 si register : 0028ah
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h014a7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00089h
;;                 si register : 0028bh
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h014a8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008ah
;;                 si register : 0028ch
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014a9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008bh
;;                 si register : 0028dh
;;        current byte in file : 0b9h
; UNKNOWN instruction

;;           code byte in file : 00000h014aah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008ch
;;                 si register : 0028eh
;;        current byte in file : 0fch
; UNKNOWN instruction

;;           code byte in file : 00000h014abh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008dh
;;                 si register : 0028fh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014ach
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008eh
;;                 si register : 00290h
;;        current byte in file : 081h
; UNKNOWN instruction

;;           code byte in file : 00000h014adh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0008fh
;;                 si register : 00291h
;;        current byte in file : 0fch
; UNKNOWN instruction

;;           code byte in file : 00000h014aeh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00090h
;;                 si register : 00292h
;;        current byte in file : 0b8h
; UNKNOWN instruction

;;           code byte in file : 00000h014afh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00091h
;;                 si register : 00293h
;;        current byte in file : 010h
; 000h000h000h
    adc     byte ptr [ bx + si ], al

;;           code byte in file : 00000h014b1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00093h
;;                 si register : 00295h
;;        current byte in file : 08eh
; UNKNOWN instruction

;;           code byte in file : 00000h014b2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00094h
;;                 si register : 00296h
;;        current byte in file : 0d8h
; UNKNOWN instruction

;;           code byte in file : 00000h014b3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00095h
;;                 si register : 00297h
;;        current byte in file : 0bfh
; UNKNOWN instruction

;;           code byte in file : 00000h014b4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00096h
;;                 si register : 00298h
;;        current byte in file : 081h
; UNKNOWN instruction

;;           code byte in file : 00000h014b5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00097h
;;                 si register : 00299h
;;        current byte in file : 000h
; 003h005h000h
    add     al, ch

;;           code byte in file : 00000h014b7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 00099h
;;                 si register : 0029bh
;;        current byte in file : 0d1h
; UNKNOWN instruction

;;           code byte in file : 00000h014b8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009ah
;;                 si register : 0029ch
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h014b9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009bh
;;                 si register : 0029dh
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014bah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009ch
;;                 si register : 0029eh
;;        current byte in file : 019h
; 003h007h006h
    sbb     si, di

;;           code byte in file : 00000h014bch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009eh
;;                 si register : 002a0h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014bdh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 0009fh
;;                 si register : 002a1h
;;        current byte in file : 031h
; 003h007h006h
    add     si, di

;;           code byte in file : 00000h014bfh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a1h
;;                 si register : 002a3h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014c0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a2h
;;                 si register : 002a4h
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h014c1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a3h
;;                 si register : 002a5h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h014c2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a4h
;;                 si register : 002a6h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014c3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a5h
;;                 si register : 002a7h
;;        current byte in file : 06ah

; UNKNOWN instruction

;;           code byte in file : 00000h014c4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a6h
;;                 si register : 002a8h
;;        current byte in file : 0fch
; UNKNOWN instruction

;;           code byte in file : 00000h014c5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a7h
;;                 si register : 002a9h
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h014c6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a8h
;;                 si register : 002aah
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h014c7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000a9h
;;                 si register : 002abh
;;        current byte in file : 0ffh
; UNKNOWN instruction

;;           code byte in file : 00000h014c8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000aah
;;                 si register : 002ach
;;        current byte in file : 000h
; 003h005h000h
    add     al, ch

;;           code byte in file : 00000h014cah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ach
;;                 si register : 002aeh
;;        current byte in file : 02bh
; 003h007h007h
    sub     di, di

;;           code byte in file : 00000h014cch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000aeh
;;                 si register : 002b0h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014cdh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000afh
;;                 si register : 002b1h
;;        current byte in file : 0f9h
; UNKNOWN instruction

;;           code byte in file : 00000h014ceh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b0h
;;                 si register : 002b2h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h014cfh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b1h
;;                 si register : 002b3h
;;        current byte in file : 033h
; 003h000h000h
    xor     ax, ax

;;           code byte in file : 00000h014d1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b3h
;;                 si register : 002b5h
;;        current byte in file : 026h


;;           code byte in file : 00000h014d2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b4h
;;                 si register : 002b6h
;;        current byte in file : 0a0h
; UNKNOWN instruction

;;           code byte in file : 00000h014d3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b5h
;;                 si register : 002b7h
;;        current byte in file : 080h
    add     byte ptr es:[ bx + si ], 005h

;;           code byte in file : 00000h014d6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b8h
;;                 si register : 002bah
;;        current byte in file : 081h
; UNKNOWN instruction

;;           code byte in file : 00000h014d7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000b9h
;;                 si register : 002bbh
;;        current byte in file : 000h
; 000h007h003h
    add     byte ptr [ bp + di ], bh

;;           code byte in file : 00000h014d9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bbh
;;                 si register : 002bdh
;;        current byte in file : 0c7h
; UNKNOWN instruction

;;           code byte in file : 00000h014dah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bch
;;                 si register : 002beh
;;        current byte in file : 074h
    je      009h

;;           code byte in file : 00000h014dch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000beh
;;                 si register : 002c0h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014ddh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000bfh
;;                 si register : 002c1h
;;        current byte in file : 0b7h
; UNKNOWN instruction

;;           code byte in file : 00000h014deh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c0h
;;                 si register : 002c2h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h014dfh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c1h
;;                 si register : 002c3h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014e0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c2h
;;                 si register : 002c4h
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h014e1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c3h
;;                 si register : 002c5h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h014e2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c4h
;;                 si register : 002c6h
;;        current byte in file : 0e8h
; UNKNOWN instruction

;;           code byte in file : 00000h014e3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c5h
;;                 si register : 002c7h
;;        current byte in file : 049h
    dec     cx

;;           code byte in file : 00000h014e4h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c6h
;;                 si register : 002c8h
;;        current byte in file : 0fdh
; UNKNOWN instruction

;;           code byte in file : 00000h014e5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c7h
;;                 si register : 002c9h
;;        current byte in file : 05fh
    pop     di

;;           code byte in file : 00000h014e6h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c8h
;;                 si register : 002cah
;;        current byte in file : 05eh
    pop     si

;;           code byte in file : 00000h014e7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000c9h
;;                 si register : 002cbh
;;        current byte in file : 05ah
    pop     dx

;;           code byte in file : 00000h014e8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cah
;;                 si register : 002cch
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h014e9h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cbh
;;                 si register : 002cdh
;;        current byte in file : 05bh
    pop     bx

;;           code byte in file : 00000h014eah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cch
;;                 si register : 002ceh
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h014ebh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cdh
;;                 si register : 002cfh
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h014ech
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ceh
;;                 si register : 002d0h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h014edh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000cfh
;;                 si register : 002d1h
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h014eeh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d0h
;;                 si register : 002d2h
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h014efh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d1h
;;                 si register : 002d3h
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h014f0h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d2h
;;                 si register : 002d4h
;;        current byte in file : 056h
    push    si

;;           code byte in file : 00000h014f1h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d3h
;;                 si register : 002d5h
;;        current byte in file : 0beh
; UNKNOWN instruction

;;           code byte in file : 00000h014f2h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d4h
;;                 si register : 002d6h
;;        current byte in file : 05dh
    pop     bp

;;           code byte in file : 00000h014f3h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d5h
;;                 si register : 002d7h
;;        current byte in file : 004h
    add     al, 08bh

;;           code byte in file : 00000h014f5h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d7h
;;                 si register : 002d9h
;;        current byte in file : 00ch
    or      al, 08bh

;;           code byte in file : 00000h014f7h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000d9h
;;                 si register : 002dbh
;;        current byte in file : 054h
    push    sp

;;           code byte in file : 00000h014f8h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dah
;;                 si register : 002dch
;;        current byte in file : 002h
; 000h000h002h
    add     al, byte ptr [ bp + si ]

;;           code byte in file : 00000h014fah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000dch
;;                 si register : 002deh
;;        current byte in file : 0d4h
; UNKNOWN instruction

;;           code byte in file : 00000h014fbh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ddh
;;                 si register : 002dfh
;;        current byte in file : 080h
    adc     dh, 000h

;;           code byte in file : 00000h014feh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e0h
;;                 si register : 002e2h
;;        current byte in file : 083h
; UNKNOWN instruction

;;           code byte in file : 00000h014ffh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e1h
;;                 si register : 002e3h
;;        current byte in file : 0d1h
; UNKNOWN instruction

;;           code byte in file : 00000h01500h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e2h
;;                 si register : 002e4h
;;        current byte in file : 000h
; 002h007h000h
    add     byte ptr [ bx + si + 04200h ], bh

;;           code byte in file : 00000h01504h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e6h
;;                 si register : 002e8h
;;        current byte in file : 08bh
; UNKNOWN instruction

;;           code byte in file : 00000h01505h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e7h
;;                 si register : 002e9h
;;        current byte in file : 01eh
    push    ds

;;           code byte in file : 00000h01506h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e8h
;;                 si register : 002eah
;;        current byte in file : 0feh
; UNKNOWN instruction

;;           code byte in file : 00000h01507h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000e9h
;;                 si register : 002ebh
;;        current byte in file : 001h
; 003h001h005h
    add     bp, cx

;;           code byte in file : 00000h01509h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000ebh
;;                 si register : 002edh
;;        current byte in file : 021h
; 002h001h001h
    and     word ptr [ bx + di + 08914h ], cx

;;           code byte in file : 00000h0150dh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000efh
;;                 si register : 002f1h
;;        current byte in file : 044h
    inc     sp

;;           code byte in file : 00000h0150eh
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f0h
;;                 si register : 002f2h
;;        current byte in file : 002h
; 001h003h006h
    add     bl, byte ptr [ bp + 05ah ]

;;           code byte in file : 00000h01511h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f3h
;;                 si register : 002f5h
;;        current byte in file : 059h
    pop     cx

;;           code byte in file : 00000h01512h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f4h
;;                 si register : 002f6h
;;        current byte in file : 05bh
    pop     bx

;;           code byte in file : 00000h01513h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f5h
;;                 si register : 002f7h
;;        current byte in file : 058h
    pop     ax

;;           code byte in file : 00000h01514h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f6h
;;                 si register : 002f8h
;;        current byte in file : 0c3h
; UNKNOWN instruction

;;           code byte in file : 00000h01515h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f7h
;;                 si register : 002f9h
;;        current byte in file : 050h
    push    ax

;;           code byte in file : 00000h01516h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f8h
;;                 si register : 002fah
;;        current byte in file : 053h
    push    bx

;;           code byte in file : 00000h01517h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000f9h
;;                 si register : 002fbh
;;        current byte in file : 051h
    push    cx

;;           code byte in file : 00000h01518h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fah
;;                 si register : 002fch
;;        current byte in file : 052h
    push    dx

;;           code byte in file : 00000h01519h
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fbh
;;                 si register : 002fdh
;;        current byte in file : 057h
    push    di

;;           code byte in file : 00000h0151ah
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000fch
;;                 si register : 002feh
;;        current byte in file : 033h
; 003h001h001h
    xor     cx, cx

;;           code byte in file : 00000h0151ch
;;     data start byte in file : 00000h00300h
;;  used bytes in code segment : 000feh
;;                 si register : 00300h
;;        current byte in file : 08ah
; UNKNOWN instruction

;;  SCANNING...
END